*,
::after,
::before {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page {
    background-color: var(--body_bg);
    color: var(--text_color);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: var(--primary_font_family);
    font-weight: 400;
    line-height: 1.5;
    overflow-x: hidden;
    @media(min-width: $hd) {
        font-size: 15px;
    }
    @media(min-width: $lg) {
        font-size: 16px;
    }

    &.is-overflow {
        overflow: hidden;
    }

    &--main {
        .page__content {
            @media(min-width: $hd) {
                padding-top: 80px;
            }
        }
    }

    &__content {
        flex: 1 0 auto;
        padding-top: 75px;
        padding-bottom: 80px;
        @media(min-width: $hd) {
            padding-top: 110px;
        }
    }

    &__section {
        &:not(:last-child) {
            margin-bottom: var(--page_section_vertical_gap);
        }
    }

    &__section-inner {
        @media(min-width: $md) {
            padding-left: calc(100% / 4 - var(--container_padding) * 3 / 4 + var(--container_padding));
        }
    }

    &__section-text {
        margin-bottom: 20px;
        @media(min-width: $md) {
            width: calc(100% / 3 * 2 - var(--container_padding) * 0.5);
        }

        &--mod_1 {
            font-family: var(--secondary_font_family);
            font-size: 13px;
            font-weight: 500;
            line-height: 1.3;
            @media(min-width: $md) {
                font-size: 16px;
            }
            @media(min-width: $hd) {
                font-size: 18px;
            }
        }
    }

    &__button-block {
        text-align: center;
        @media(min-width: $md) {
            text-align: left;
        }
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    //max-width: 1920px;
    max-width: 1520px;
    padding-left: var(--container_padding);
    padding-right: var(--container_padding);
}

a {
    color: var(--text_color);
    transition: color 0.3s;
    @include hover {
        color: var(--primary_color);
    }

    svg {
        fill: currentColor;
        transition: fill 0.3s;
    }
}

img {
    height: auto;
    max-width: 100%;
}

*:focus {
    outline: none;
}

button,
input,
textarea {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

button {
    transition: color 0.3s;

    svg {
        fill: currentColor;
        transition: fill 0.3s;
    }
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    color: var(--title_color);
    font-family: var(--secondary_font_family);
    font-weight: 600;
    margin-top: 0;
    text-transform: uppercase;
}

.h1,
h1 {
    font-size: 32px;
    line-height: 1;
    margin-bottom: 30px;
    @media(min-width: $sm) {
        font-size: 40px;
    }
    @media(min-width: $md) {
        font-size: 56px;
        margin-bottom: 40px;
    }
    @media(min-width: $hd) {
        font-size: 64px;
        margin-bottom: 60px;
    }
    @media(min-width: $lg) {
        font-size: 72px;
    }
}

.h2,
h2 {
    font-size: 28px;
    line-height: 1;
    margin-bottom: 15px;
    @media(min-width: $sm) {
        font-size: 32px;
    }
    @media(min-width: $md) {
        font-size: 48px;
        margin-bottom: 25px;
    }
    @media(min-width: $hd) {
        font-size: 56px;
    }
    @media(min-width: $lg) {
        font-size: 64px;
    }

    &.long-word {
        @media(max-width: $sm - 0.02px) {
            font-size: 22px;
        }
        @media(min-width: $md) {
            font-size: 40px;
        }
        @media(min-width: $hd) {
            font-size: 48px;
        }
        @media(min-width: $lg) {
            font-size: 56px;
        }
    }
}

.h3,
h3 {
    line-height: 1.2;
    margin-bottom: 0.5em;
    @media(min-width: $hd) {
        font-size: 24px;
    }
}

p {
    margin-top: 0;
    margin-bottom: 0.55em;

    &:last-child {
        margin-bottom: 0;
    }
}

.pre-title {
    --gap: 5px;
    align-items: flex-end;
    color: var(--pre_title_color);
    display: flex;
    font-family: var(--secondary_font_family);
    font-size: 10px;
    gap: var(--gap);
    line-height: 1;
    margin-bottom: 5px;
    text-transform: uppercase;
    @media(min-width: $md) {
        --gap: 20px;
        font-size: 10px;
    }
    @media(min-width: $hd) {
        font-size: 14px;
    }

    span {
        background-color: var(--primary_color);
        min-height: 20px;
        padding: 5px;
        min-width: 27.8%;
        @media(min-width: $md) {
            padding: 6px 10px 4px;
            min-width: calc(25% - var(--gap) * 3 / 4);
            width: calc(25% - var(--gap) * 3 / 4);
        }
        @media(min-width: $hd) {
            min-height: 30px;
            padding: 9px 10px 7px;
        }
    }

    &::after {
        border-top: 1px solid var(--primary_color);
        content: '';
        display: block;
        flex-grow: 1;
        @media(min-width: $hd) {
            border-top-width: 2px;
        }
        /*@media(min-width: $fhd) {
            border-top-width: 4px;
        }*/
    }
}

hr {
    margin: 1em 0;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px dashed rgba(#fff, 0.2);

    &:last-child {
        margin-bottom: 0;
    }

    &:first-child {
        margin-top: 0;
    }
}

.responsive-table {
    overflow-x: auto;
}

.table {
    border-collapse: collapse;
    border: none;
    font-size: 16px;
    width: 100%;
    /*@media(min-width: $fhd) {
        font-size: 20px;
    }*/
    th {
        background-color: #D9D9D9;
        padding: 20px;
    }

    td,
    th {
        border: none;
        font-weight: 300;
        padding: 10px;
        text-align: left;

        &:first-child {
            padding-left: 20px;
        }

        &:last-child {
            padding-right: 20px;
        }
    }

    th {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    tbody {
        tr:nth-child(1) {
            td {
                padding-top: 20px;
            }
        }
    }

    b {
        font-weight: 700;
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.image-wide {
    margin-left: calc(0.01px - var(--container_padding));
    margin-right: calc(0.01px - var(--container_padding));

    &:not(:last-child) {
        margin-bottom: 40px;
    }

    img {
        display: block;
        max-height: calc(100vh - 80px);
        max-width: initial;
        object-position: center;
        object-fit: cover;
        width: 100%;
    }
}

.reading-block {
    max-width: 800px;

    &:not(:last-child) {
        margin-bottom: 40px;
    }
}

.back-link {
    align-items: center;
    display: flex;
    gap: 8px;
    text-decoration: none;

    svg {
        height: 16px;
        margin-top: 2px;
        width: 16px;
    }
}

.color-green {
    color: var(--primary_color);
}

.color-grey {
    color: var(--secondary_color_dark);
}