.checkbox {
    align-items: center;
    color: var(--secondary_color_dark);
    display: flex;

    input {
        position: absolute;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;

        &:checked ~ .checkbox__icon {
            background-color: var(--primary_color);
            border-color: var(--primary_color);
        }

        &:not(:disabled) ~ .checkbox__icon {
            cursor: pointer;
        }

        &:disabled ~ .checkbox__icon,
        &:disabled ~ .checkbox__text {
            opacity: 0.6;
            user-select: none;
        }
    }

    &__icon {
        border: 1px solid var(--primary_color);
        display: block;
        height: 20px;
        margin-right: 10px;
        min-width: 20px;
        width: 20px;
        /*@media(min-width: $fhd) {
            height: 30px;
            min-width: 30px;
            width: 30px;
        }*/
    }
}