.checkbox {
    align-items: center;
    color: var(--secondary_color_dark);
    display: flex;
    gap: 10px;

    input {
        position: absolute;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;

        &:checked ~ .checkbox__icon {
            background-color: var(--primary_color);
            border-color: var(--primary_color);
        }

        &:not(:disabled) ~ .checkbox__icon {
            cursor: pointer;
        }

        &:disabled ~ .checkbox__icon,
        &:disabled ~ .checkbox__text {
            opacity: 0.6;
            user-select: none;
        }
    }

    &__icon {
        border: 1px solid var(--primary_color);
        display: block;
        height: 20px;
        margin-top: 3px;
        min-width: 20px;
        width: 20px;
    }
}

.checkbox_2 {
    border: 1px solid var(--secondary_color);
    display: block;

    &__title-block {
        align-items: center;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        min-height: 50px;
        padding: 10px;
        @media(min-width: $hd) {
            height: 60px;
            padding: 20px;
        }
    }

    &__title {}

    input {
        position: absolute;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;

        &:checked ~ .checkbox_2__title-block .checkbox_2__icon {
            background-color: var(--primary_color);
            border-color: var(--primary_color);
        }

        &:not(:disabled) ~ .checkbox_2__title-block {
            cursor: pointer;
        }

        &:disabled ~ .checkbox_2__text,
        &:disabled ~ .checkbox_2__title-block {
            opacity: 0.6;
            user-select: none;
        }
    }

    &__icon {
        border: 1px solid var(--primary_color);
        display: block;
        height: 20px;
        min-width: 20px;
        width: 20px;
    }

    &__descr {
        display: block;
        font-size: 80%;
        padding: 0 10px 10px;
        @media(min-width: $hd) {
            padding: 0 20px 20px;
        }
    }
}