.columns_1_3 {
    @media(min-width: $md) {
        display: flex;
        gap: var(--container_padding);
    }

    &__column_1 {
        @media(min-width: $md) {
            width: calc(100% / 4 - var(--container_padding) * 3 / 4);
        }
    }

    &__column_3 {
        @media(min-width: $md) {
            width: calc(100% / 4 * 3 - var(--container_padding) * 3 / 4);
        }
    }
}