@font-face {
    font-family: 'Rawline';
    src: url("../fonts/Rawline/subset-Rawline-Medium.woff2") format('woff2'), url("../fonts/Rawline/subset-Rawline-Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Wadik';
    src: url("../fonts/Wadik/subset-WadikBold.woff2") format('woff2'), url("../fonts/Wadik/subset-WadikBold.woff") format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rawline';
    src: url("../fonts/Rawline/subset-Rawline-SemiBold.woff2") format('woff2'), url("../fonts/Rawline/subset-Rawline-SemiBold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rawline';
    src: url("../fonts/Rawline/subset-Rawline-Bold.woff2") format('woff2'), url("../fonts/Rawline/subset-Rawline-Bold.woff") format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}