.slider-container {
    position: relative;
    z-index: 1;
}

.slider {
    @media(min-width: $hd) {
        margin-left: calc(0.01px - var(--container_padding));
        margin-right: calc(0.01px - var(--container_padding));
    }

    &__link {
        display: block;
        overflow: hidden;
        @include hover {
            img {
                transform: scale(1.02);
            }
        }

        img {
            display: block;
            transition: transform 0.3s;
            transform: scale(1);
        }
    }

    .slider-navigation {
        @media(min-width: $hd) {
            padding-left: var(--container_padding);
            padding-right: var(--container_padding);
        }
    }
}

.slider-navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    .swiper-button-next,
    .swiper-button-prev {
        @include button-reset;
        align-items: center;
        border: 1px solid var(--secondary_color_dark);
        color: var(--text_color);
        display: flex;
        justify-content: center;
        height: 40px;
        min-width: 40px;
        margin-top: 0;
        position: static;
        transition: background-color 0.3s, border-color 0.3s, color 0.3s;
        width: 40px;
        z-index: 1;

        &::after {
            display: none;
        }
        @include hover {
            background-color: var(--primary_color);
            border-color: var(--primary_color);
            color: #fff;
        }

        svg {
            height: 20px;
            width: 20px;
        }

        &.swiper-button-lock {
            cursor: default;
            display: none;
            opacity: 0.5;
        }
    }

    .swiper-pagination {
        flex-grow: 1;
        position: static;
        transform: none;
        z-index: 1;
    }

    .swiper-pagination-horizontal.swiper-pagination-bullets {
        .swiper-pagination-bullet {
            border-radius: 0;
            border: 1px solid var(--primary_color);
            background-color: transparent;
            height: 6px;
            margin: 0 3px;
            opacity: 1;
            width: 6px;
            @media(min-width: $md) {
                height: 10px;
                margin-left: 5px;
                margin-right: 5px;
                width: 10px;
            }

            &.swiper-pagination-bullet-active {
                background-color: var(--primary_color);
            }
        }
    }
}

.main-banner {
    @media(min-width: $hd) {
        margin-left: 0;
        margin-right: 0;
        position: relative;
        z-index: 1;
    }

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    .swiper-slide {
        display: flex;
        height: auto;
    }

    .slider-navigation {
        bottom: var(--container_padding);
        left: 0;
        margin-top: 0;
        position: absolute;
        padding-left: var(--container_padding);
        padding-right: var(--container_padding);
        top: auto;
        width: 100%;
        z-index: 1;
        @media(min-width: $md) {
            bottom: auto;
            height: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        .swiper-button-next,
        .swiper-button-prev {
            color: #fff;
            border-color: #fff;
            @media(max-width: $md - 0.02px) {
                display: none;
            }
            @include hover {
                background-color: #fff;
                border-color: #fff;
                color: var(--primary_color);
            }
        }
    }

    .swiper-pagination {
        @media(min-width: $md) {
            display: none;
        }
    }

    &__slide {
        background-image: url("/images/backgrounds/main_banner_bg_black.jpg");
        background-color: var(--text_color);
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        height: 100%;
        overflow: hidden;
        min-height: 600px;
        position: relative;
        padding-top: 80px;
        padding-bottom: 80px;
        text-decoration: none;
        width: 100%;
        z-index: 1;
        @media(min-width: $hd) {
            min-height: 700px;
        }
        @media(min-width: $lg) {
            min-height: 800px;
        }

        &--shade {
            &::after {
                background-color: rgba(0,0,0,0.5);
                bottom: 0;
                content: '';
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 1;
            }
        }
    }

    &__banner {
        margin: auto;
        position: relative;
        z-index: 2;
        @media(min-width: $md) {
            width: calc(100% - var(--container_padding) * 4 - 40px);
        }
    }

    &__content {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--container_padding);
        @media(max-width: $sm - 0.02px) {
            text-align: center;
        }
        @media(min-width: $sm) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    &__title {
        color: var(--primary_color);
        font-family: var(--secondary_font_family);
        font-weight: 700;
        line-height: 1;
        margin-bottom: 0;
        text-transform: uppercase;
        @media(max-width: $hd - 0.02px) {
            font-size: 32px;
        }
        @media(min-width: $sm) {
            align-self: end;
        }
        @media(min-width: $hd) {
            font-size: 48px;
        }
    }

    &__image {
        @media(min-width: $sm) {
            display: none;
            //grid-row: span 2;
        }

        img {
            display: block;
            width: 100%;
        }
    }

    &__text {
        color: #fff;
        @media(min-width: $sm) {
            align-self: start;
            grid-column: 1;
            grid-row: 2;
        }

        p {
            &:not(:last-child) {
                margin-bottom: var(--container_padding);
            }
        }
    }
}

a.main-banner__slide {
    @include hover {
        .button {
            background-color: var(--primary_color);
            color: #fff;
        }
    }
}