.tabs-menu {
    display: flex;
    margin-bottom: 20px;
    overflow-x: auto;
    @media(min-width: $md) {
        gap: 20px;
    }
    /*@media(min-width: $fhd) {
        gap: 50px;
        margin-bottom: 50px;
    }*/
    &__button {
        align-items: center;
        border: 1px solid var(--primary_color);
        display: flex;
        font-family: var(--secondary_font_family);
        font-size: 14px;
        font-weight: 600;
        height: 40px;
        justify-content: center;
        letter-spacing: 1px;
        padding: 8px 8px 10px;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        @media(max-width: $md - 0.01px) {
            flex-grow: 1;
            width: calc(100% /3);
        }
        @media(min-width: $md) {
            width: 200px;
        }
        /*@media(min-width: $fhd) {
            font-size: 24px;
            height: 70px;
            width: 300px;
        }*/
        &:not(:last-child) {
            @media(max-width: $md - 0.01px) {
                border-right: none;
            }
        }

        &.is-active {
            background-color: var(--primary_color);
        }
        @include hover {
            color: var(--text_color);
        }
    }
}

.tabs-menu_2 {
    display: flex;
    margin-bottom: 20px;
    overflow-x: auto;

    &__button {
        @include button-reset;
        border-bottom: 1px solid currentColor;
        color: var(--secondary_color_dark);
        font-family: var(--secondary_font_family);
        font-weight: 600;
        flex-grow: 1;
        padding-bottom: 10px;
        text-align: left;

        &.is-active {
            color: var(--primary_color);
        }
        @media(max-width: $xs - 0.01px) {
            font-size: 12px;
        }
        @media(min-width: $sm) {
            font-size: 18px;
        }
        @media(min-width: $hd) {
            font-size: 24px;
        }
    }
}

.tabs-menu_3 {
    display: flex;
    gap: var(--container_padding);
    margin-bottom: 20px;
    overflow-x: auto;

    &__button {
        @include button-reset;
        border: 1px solid var(--primary_color);
        color: var(--text_color);
        font-family: var(--secondary_font_family);
        font-weight: 600;
        flex-grow: 1;
        max-width: 480px;
        min-height: 40px;
        padding: 10px;
        text-align: left;
        @media(min-width: $hd) {
            min-height: 60px;
            padding-left: 20px;
            padding-right: 20px;
        }

        &.is-active {
            background-color: var(--primary_color);
        }
    }
}

.tab {
    display: none;

    &.is-active {
        display: block;
    }
}