$xs: 480px;
$sm: 768px;
$md: 1024px;
$hd: 1200px;
$lg: 1400px;
$xlg: 1600px;
$fhd: 1900px;

:root {
    --primary_color: #34B7BC;
    --secondary_color: #BEBEBE;
    --secondary_color_dark: #9B9B9B;
    --body_bg: #fff;
    --text_color: #0E0E0E;
    --title_color: #0E0E0E;
    --footer_menu_color: #565656;
    --pre_title_color: #fff;
    --error_color: #E80000;
    --primary_font_family: 'PT Sans', sans-serif;
    --secondary_font_family: 'Tektur', sans-serif;
    --container_padding: 15px;
    @media(min-width: $md) {
        --container_padding: 20px;
    }
    --page_section_vertical_gap: 80px;
    @media(min-width: $hd) {
        --page_section_vertical_gap: 120px;
    }
}

.dark-theme {
    --body_bg: #0E0E0E;
    --text_color: #fff;
    --title_color: #BEBEBE;
    --footer_menu_color: #BEBEBE;
    --pre_title_color: #0E0E0E;

    ::-moz-selection {
        background: #333;
        text-shadow: 0 0 white;
    }

    ::selection {
        background: #333;
        text-shadow: 0 0 white;
    }

    .header {
        background-color: #151515;
    }

    .button,
    a.button {
        --text_color: #0E0E0E;
        @include hover {
            background-color: #fff !important;
            border-color: #fff;
        }
    }

    .button--bordered,
    a.button--bordered {
        --text_color: #34B7BC;
        @include hover {
            --text_color: #0E0E0E;
        }
    }

    .to-social {
        @include hover {
            .to-social__button {
                background-color: #fff !important;
                border-color: #fff;
            }
        }
    }

    .disabled {
        .form-label {
            opacity: 0.3;
        }
    }

    .input {
        &.disabled,
        &:disabled {
            opacity: 0.3;
        }
    }

    .details__num {
        color: #fff;
    }
}