.auth-form {
    h1 {
        color: var(--primary_color);
        @media(min-width: $sm) {
            text-align: center;
        }
    }

    &__form {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        @media(min-width: $sm) {
            width: 80%;
        }

        .form-group {
            margin-bottom: 15px;
            @media(min-width: $sm) {
                margin-bottom: 35px;
            }
        }

        .button {
            display: flex;
            margin-top: 40px;
            width: 100%;
        }
    }

    &__links {
        align-items: center;
        display: flex;
        justify-content: space-between;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        @media(min-width: $sm) {
            margin-top: 35px;
            width: 80%;
        }
    }
}