.breadcrumbs {
    @include list-reset;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    gap: 8px;
    margin-bottom: 15px;
    @media(min-width: $md) {
        font-size: 13px;
    }
    @media(min-width: $hd) {
        font-size: 14px;
    }
    @media(min-width: $lg) {
        font-size: 15px;
    }
    @media(min-width: $fhd) {
        font-size: 20px;
        margin-bottom: 40px;
    }

    &__item {
        &:not(:last-child) {
            &::after {
                content: '/';
            }
        }
    }

    &__link {
        color: var(--secondary_color);
        text-decoration: none;
    }
}