.cards-slider {
    .swiper-slide-next {
        .card {
            @media(min-width: $hd) {
                margin-left: auto;
                margin-right: auto;
            }
        }

        & + .swiper-slide {
            .card {
                @media(min-width: $hd) {
                    margin-left: auto;
                }
            }
        }
    }
}

.card {
    margin-left: auto;
    margin-right: auto;
    max-width: 435px;
    padding: 1px;
    @media(min-width: $hd) {
        margin-left: 0;
        margin-right: 0;
    }

    &__image {
        position: relative;
        text-align: center;
        z-index: 1;
    }

    &__title {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 0;
        text-transform: uppercase;
        @media(min-width: $fhd) {
            font-size: 40px;
        }
    }

    &__info-title {
        font-size: 20px;
        font-weight: 600;
        @media(min-width: $fhd) {
            font-size: 22px;
        }
    }

    &__info {
        margin-bottom: 20px;
        @media(min-width: $hd) and (max-width: $lg) {
            font-size: 13px;
        }
        @media(min-width: $fhd) {
            font-size: 16px;
        }

        p {
            align-items: center;
            border-bottom: 1px solid var(--secondary_color);
            display: flex;
            min-height: 40px;
            margin-bottom: 0;
            @media(min-width: $fhd) {
                min-height: 60px;
            }

            &:first-child {
                border-top: 1px solid var(--secondary_color);
            }

            span {
                padding-top: 5px;
                padding-bottom: 5px;

                &:nth-child(1) {
                    padding-right: 10px;
                    width: 40%;
                    @media(min-width: $sm) {
                        padding-right: 20px;
                    }
                }

                &:nth-child(2) {
                    width: 60%;
                }
            }
        }
    }

    &__price-block {}

    &__price-container {
        align-items: center;
        border-bottom: 1px solid var(--secondary_color);
        display: flex;
        padding-bottom: 10px;
    }

    &__price-title {
        width: 40%;
        @media(min-width: $fhd) {
            font-size: 22px;
        }
    }

    &__price {
        font-size: 16px;
        font-weight: 700;
        width: 60%;
        @media(min-width: $sm) {
            font-size: 18px;
        }
        @media(min-width: $hd) {
            font-size: 20px;
        }
        @media(min-width: $fhd) {
            font-size: 24px;
        }

        span {
            white-space: nowrap;
        }
    }

    &__credit {
        padding-left: 40%;
        @media(max-width: $sm - 0.01px) {
            font-size: 12px;
        }

        a {
            @include active-area;
            align-items: center;
            display: inline-flex;
            gap: 8px;
            position: relative;
            text-decoration: none;

            svg {
                height: 16px;
                min-width: 16px;
                margin-top: 2px;
                width: 16px;
            }
        }
    }

    &__buttons {
        margin-top: 20px;
        text-align: center;
        @media(min-width: $hd) {
            display: flex;
            gap: 20px;
        }

        .button {
            & + .button {
                @media(max-width: $hd - 0.01px) {
                    margin-top: 15px;
                }
            }
            @media(min-width: $hd) {
                font-size: 12px;
                padding-left: 10px;
                padding-right: 10px;
            }
            @media(min-width: $lg) {
                font-size: 14px;
            }
            @media(min-width: $fhd) {
                font-size: 15px;
            }
        }
    }
}