.cards-slider {
    .swiper-slide-next {
        .card {
            padding: 1px;
            @media(min-width: $hd) {
                margin-left: auto;
                margin-right: auto;
            }
        }

        & + .swiper-slide {
            .card {
                @media(min-width: $hd) {
                    margin-left: auto;
                }
            }
        }
    }
}