.card {
    border: 1px solid var(--secondary_color);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    @media(max-width: $sm - 0.01px) {
        max-width: 435px;
    }
    @media(min-width: $hd) {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }

    &__image {
        margin-bottom: 10px;
        position: relative;
        text-align: center;
        z-index: 1;

        img {
            transition: transform 0.3s;
            transform: scale(1);
        }

        a {
            @include hover {
                img {
                    transform: scale(1.02);
                }
            }
        }
    }

    &__title-block {
        align-items: center;
        display: flex;
        justify-content: space-between;
        gap: var(--container_padding);
        margin-bottom: 10px;
    }

    &__title {
        font-family: var(--secondary_font_family);
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 0;
        text-transform: uppercase;
        @media(min-width: $md) {
            font-size: 24px;
        }
        @media(min-width: $lg) {
            font-size: 28px;
        }

        a {
            text-decoration: none;
        }
    }

    &__fps-button {
        @include button-reset;
        align-items: center;
        border: 1px solid var(--text_color);
        display: flex;
        font-family: var(--secondary_font_family);
        font-weight: 600;
        gap: 10px;
        height: 40px;
        justify-content: center;
        text-transform: uppercase;
        transition: border-color 0.3s, color 0.3s;
        width: 40px;
        @include hover {
            border-color: var(--primary_color);
            color: var(--primary_color);
        }
    }

    &__inner {
        position: relative;
        z-index: 1;
    }

    &__inner-top {
        margin-bottom: 20px;
        @media(min-width: $xlg) {
            align-items: center;
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }
    }

    &__info-title {
        font-size: 20px;
        font-weight: 600;
        /*@media(min-width: $fhd) {
            font-size: 22px;
        }*/
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 10px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
        @media(min-width: $hd) and (max-width: $lg) {
            font-size: 13px;
        }
        /*@media(min-width: $fhd) {
            font-size: 16px;
        }*/
        p {
            font-weight: 600;
            margin-bottom: 0;
            text-align: center;
            width: calc(100% / 3 - 10px * 2 / 3);

            svg {
                height: 30px;
                width: 30px;
            }

            span {
                display: block;
            }
        }
    }

    &__price-block {
        display: flex;
        gap: 10px;
        flex-direction: column;
        @media(max-width: $xlg - 0.01px) {
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 15px;
        }
    }

    &__price-title {}

    &__price {
        display: block;
        font-family: var(--secondary_font_family);
        font-size: 20px;
        font-weight: 600;
        @media(min-width: $lg) {
            font-size: 24px;
        }

        span {
            white-space: nowrap;
        }
    }

    &__credit {
        a {
            @include active-area;
            align-items: center;
            display: inline-flex;
            font-size: 14px;
            gap: 8px;
            position: relative;
            text-decoration: none;

            svg {
                height: 16px;
                min-width: 16px;
                margin-top: 2px;
                width: 16px;
            }
        }
    }

    &__buttons {
        display: flex;
        gap: 10px;
        flex-direction: column;
        text-align: center;
        @media(max-width: $xlg - 0.01px) {
            flex-direction: row;
        }

        .button {
            display: flex;
            flex-grow: 1;
            @media(min-width: $md) {
                font-size: 12px;
                padding-left: 10px;
                padding-right: 10px;
            }
            @media(min-width: $xlg) {
                font-size: 14px;
                width: 150px;
            }
        }
    }

    &__fps-block {
        background-color: var(--body_bg);
        box-shadow: 0 0 3px 0 rgba(0,0,0, 0.15);
        display: none;
        left: 0;
        padding: var(--container_padding);
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;

        .fps-item {
            &:not(:last-child) {
                margin-bottom: calc(var(--container_padding) / 2);
            }
        }
    }

    &__spec-button {
        border-color: var(--text_color);
        width: 100%;

        &:not(.disabled),
        &:not(:disabled),
        &:not([data-disabled]) {
            @include hover {
                border-color: var(--primary_color);
            }
        }
    }
}

.speka {
    &__title {}

    &__item {
        border-bottom: 1px solid var(--secondary_color);
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;
        z-index: 1;
        @media(min-width: $sm) {
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }
        @media(max-width: $sm - 0.01px) {
            padding-left: 32px;
        }

        &:first-child {
            border-top: 1px solid var(--secondary_color);
        }

        svg {
            height: 24px;
            min-width: 24px;
            margin-right: 12px;
            width: 24px;
            @media(max-width: $sm - 0.01px) {
                left: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        span {
            &:first-child {
                align-items: center;
                display: flex;
                white-space: nowrap;
            }

            &:last-child {
                text-align: right;
            }
        }
    }
}