.config_2 {
    margin-top: var(--page_section_vertical_gap);

    &__row {
        &--components {
            display: flex;
            flex-wrap: wrap;
            gap: 30px 10px;
            @media(min-width: $md) {
                gap: 50px 20px;
            }

            &:not(:last-child) {
                margin-bottom: 40px;
                @media(min-width: $hd) {
                    margin-bottom: 80px;
                }
            }

            .config_2__block {
                border-top: 1px solid var(--primary_color);
                display: flex;
                flex-direction: column;
                padding-top: 10px;
                position: relative;
                width: calc(100% / 2 - 10px / 2);
                z-index: 1;

                &:nth-child(odd) {
                    @media(max-width: $md - 0.01px) {
                        &::after {
                            border-left: 1px solid var(--primary_color);
                            content: '';
                            height: 100%;
                            left: calc(100% + 5px);
                            position: absolute;
                            top: 0;
                            z-index: 1;
                        }
                    }
                }

                &:not(:nth-child(3n + 3)) {
                    &::after {
                        @media(min-width: $md) {
                            border-left: 1px solid var(--primary_color);
                            content: '';
                            height: 100%;
                            left: calc(100% + 10px);
                            position: absolute;
                            top: 0;
                            z-index: 1;
                        }
                    }
                }
                @media(min-width: $md) {
                    width: calc(100% / 3 - 20px * 2 / 3);
                }
            }
        }

        &--components_2 {
            display: flex;
            flex-wrap: wrap;
            gap: 30px 10px;
            @media(min-width: $md) {
                gap: 50px 20px;
            }

            &:not(:last-child) {
                margin-bottom: 40px;
                @media(min-width: $hd) {
                    margin-bottom: 80px;
                }
            }

            .config_2__block {
                border-top: 1px solid var(--primary_color);
                display: flex;
                flex-direction: column;
                padding-top: 10px;
                position: relative;
                width: calc(100% / 2 - 10px / 2);
                z-index: 1;

                &:nth-child(odd) {
                    @media(max-width: $md - 0.01px) {
                        &::after {
                            border-left: 1px solid var(--primary_color);
                            content: '';
                            height: 100%;
                            left: calc(100% + 5px);
                            position: absolute;
                            top: 0;
                            z-index: 1;
                        }
                    }
                }

                &:not(:nth-child(4n + 4)) {
                    &::after {
                        @media(min-width: $md) {
                            border-left: 1px solid var(--primary_color);
                            content: '';
                            height: 100%;
                            left: calc(100% + 10px);
                            position: absolute;
                            top: 0;
                            z-index: 1;
                        }
                    }
                }
                @media(min-width: $md) {
                    width: calc(100% / 4 - 20px * 3 / 4);
                }
            }
        }

        &--choose {
            @media(min-width: $sm) {
                display: flex;
                gap: 20px;
            }

            &:not(:last-child) {
                margin-bottom: 40px;
                @media(min-width: $hd) {
                    margin-bottom: 80px;
                }
            }

            .config_2__block {
                &:not(:last-child) {
                    @media(max-width: $sm - 0.01px) {
                        margin-bottom: 30px;
                    }
                }
                @media(min-width: $sm) {
                    width: calc(100% / 2 - 20px / 2);
                }
            }
        }
    }

    &__block-title {
        font-family: var(--secondary_font_family);
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__radio {
        cursor: pointer;
        display: block;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        input {
            position: absolute;
            height: 1px;
            overflow: hidden;
            clip: rect(0 0 0 0);
            width: 1px;

            &:checked ~ .config_2__radio-text {
                background-color: var(--primary_color);
                border-color: var(--primary_color);
                color: #fff;
            }
        }
    }

    &__radio-text {
        align-items: center;
        border: 1px solid var(--secondary_color);
        display: flex;
        font-weight: 600;
        gap: 10px;
        justify-content: space-between;
        min-height: 40px;
        padding: 5px;
        transition: border-color 0.3s;
        @include hover {
            border-color: var(--primary_color);
        }
        @media(min-width: $sm) {
            min-height: 50px;
            padding: 5px 10px;
        }
        @media(min-width: $lg) {
            min-height: 60px;
            padding: 10px 20px;
        }
    }

    &__radio-title {}

    &__radio-add {
        white-space: nowrap;
    }

    &__price-block {
        margin-top: auto;
    }

    &__price-container {
        align-items: center;
        border-bottom: 1px solid var(--primary_color);
        display: flex;
        justify-content: space-between;
        gap: var(--container_padding);
        min-height: 48px;
        padding-bottom: 10px;
    }

    &__price-title {
        @media(min-width: $md) and (max-width: $hd - 0.01px) {
            font-size: 12px;
        }
        @media(min-width: $hd) {
            font-size: 14px;
        }
    }

    &__price {
        font-family: var(--secondary_font_family);
        font-size: 24px;
        font-weight: 700;
        text-align: right;
        @media(min-width: $md) and (max-width: $hd - 0.01px) {
            font-size: 20px;
        }

        span {
            white-space: nowrap;
        }
    }

    &__credit {
        margin-bottom: 20px;
        text-align: right;
        @media(max-width: $sm - 0.01px) {
            font-size: 12px;
        }

        a {
            @include active-area;
            align-items: center;
            display: inline-flex;
            gap: 8px;
            position: relative;
            text-decoration: none;

            svg {
                height: 16px;
                min-width: 16px;
                margin-top: 2px;
                width: 16px;
            }
        }
    }

    &__button-block {
        @media(min-width: $sm) {
            margin-top: 39px;
        }
    }

    &__button {
        width: 100%;
    }

    &__columns {
        @media(min-width: $hd) {
            gap: calc(var(--container_padding) * 2);
        }

        .columns_1_1__column_1 {
            @media(min-width: $hd) {
                width: calc(100% / 2 - var(--container_padding));
            }
        }
    }

    &__image {
        @media(max-width: $md - 0.01px) {
            display: none;
        }
    }
}

.config_2-item {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__title-block {
        @media(min-width: $sm) {
            align-items: center;
            display: flex;
            gap: 10px;
        }
        @media(min-width: $lg) {
            gap: 20px;
        }

        svg {
            height: 40px;
            min-width: 40px;
            width: 40px;
            @media(max-width: $sm - 0.01px) {
                display: none;
            }
        }
    }

    &__pre-title {
        color: var(--secondary_color);
        font-family: var(--secondary_font_family);
        font-size: 12px;
        margin-bottom: 0;
        text-transform: uppercase;
        @media(min-width: $lg) {
            font-size: 16px;
        }
    }

    &__title {
        font-size: 16px;
        font-weight: 600;
        @media(min-width: $lg) {
            font-size: 22px;
        }
    }

    &__chars {
        margin-top: auto;
        @media(max-width: $md - 0.01px) {
            font-size: 13px;
        }

        p {
            align-items: center;
            display: flex;
            gap: 10px;
            justify-content: space-between;
            min-height: 30px;
            padding-top: 5px;
            padding-bottom: 5px;

            &:not(:last-child) {
                border-bottom: 1px solid var(--secondary_color);
            }

            span {
                &:nth-child(2) {
                    font-weight: 600;
                }
            }
        }
    }
}