.config {
    &.perf-open {
        z-index: 20;
    }

    h1 {
        margin-bottom: 20px;
    }

    &__inner {
        @media(min-width: $md) {
            display: flex;
            gap: 20px;
        }
    }

    &__image-block {
        margin-bottom: 25px;
        @media(min-width: $md) {
            margin-bottom: 0;
            width: calc(60% - 10px);
        }

        .swiper {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        [thumbsSlider] {
            .swiper-slide {
                cursor: pointer;
            }
        }

        img {
            display: block;
        }
    }

    &__config {
        @media(min-width: $md) {
            width: calc(40% - 10px);
        }
    }

    &__title {
        font-family: var(--secondary_font_family);
        font-weight: 700;
        font-size: 24px;
        line-height: 1;
        letter-spacing: -2px;
        margin-bottom: 15px;
        @media(min-width: $sm) {
            font-size: 32px;
        }
    }
}

.config-bar {
    background-color: var(--body_bg);
    box-shadow: 0 -3px 6px 0 rgba(0,0,0, 0.1);
    bottom: 0;
    left: 0;
    position: fixed;
    padding-bottom: calc(var(--container_padding) / 2);
    padding-top: calc(var(--container_padding) / 2);
    right: 0;
    top: auto;
    z-index: 5;

    &__inner {
        @media(min-width: $md) {
            align-items: center;
            display: flex;
            gap: 0 var(--container_padding);
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @media(min-width: $hd) {
            gap: 0 calc(var(--container_padding) * 2);
        }
    }

    &__prices {
        @media(min-width: $sm) and (max-width: $md - 0.01px) {
            display: flex;
            flex-wrap: wrap;
            gap: calc(var(--container_padding) / 2) var(--container_padding);
            justify-content: space-between;
        }
        @media(min-width: $lg) {
            display: flex;
            flex-wrap: wrap;
            gap: calc(var(--container_padding) / 2) var(--container_padding);
            justify-content: space-between;
        }
    }

    &__price-block {
        @media(max-width: $lg - 0.01px) {
            align-items: center;
            display: flex;
            gap: var(--container_padding);
            justify-content: space-between;
        }
    }

    &__price-title {
        color: var(--secondary_color_dark);
        font-size: 12px;
        margin-bottom: 0;
        @media(min-width: $hd) {
            font-size: 14px;
        }
    }

    &__price {
        font-size: 24px;
        font-weight: 700;
        white-space: nowrap;
        @media(min-width: $lg) {
            font-size: 32px;
        }
    }

    &__buttons {
        @media(max-width: $hd - 0.01px) {
            margin-top: calc(var(--container_padding) / 2);
        }
        @media(min-width: $sm) {
            display: flex;
            gap: var(--container_padding);
        }
        @media(min-width: $md) {
            flex-grow: 1;
        }
    }

    &__buy-button {
        @media(max-width: $sm - 0.01px) {
            width: 100%;
        }
        @media(min-width: $sm) and (max-width: $hd - 0.01px) {
            width: calc(100% / 2 - 10px);
        }
        @media(min-width: $md) {
            max-width: 385px;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
    }

    &__perf-opener {
        @include button-reset;
        align-items: center;
        border: 1px solid var(--text_color);
        display: flex;
        font-size: 14px;
        font-weight: 600;
        gap: 10px;
        height: 40px;
        justify-content: center;
        padding: calc(var(--container_padding) / 2) var(--container_padding);
        transition: color 0.3s, border-color 0.3s;
        text-transform: uppercase;
        @include hover {
            color: var(--primary_color);
            border-color: var(--primary_color);
        }
        @media(max-width: $xs - 0.01px) {
            font-size: 10px;
        }
        @media(max-width: $sm - 0.01px) {
            margin-top: calc(var(--container_padding) / 2);
            width: 100%;
        }
        @media(min-width: $sm) and (max-width: $hd - 0.01px) {
            font-size: 12px;
            width: calc(100% / 2 - 10px);
        }

        svg {
            height: 16px;
            min-width: 16px;
            width: 16px;
        }
    }
}

.set-item {
    .accordion__toggler {
        font-family: var(--primary_font_family);
        font-weight: 700;

        &.is-active {
            color: var(--text_color);
        }

        span {
            align-items: center;
            display: flex;
            gap: 10px;

            svg {
                height: 30px;
                margin-top: 4px;
                width: 30px;
            }
        }
    }
}

.set-variants {
    padding-left: 30px;
    padding-right: 30px;
}

.set-variant {
    padding-top: 10px;
    padding-bottom: 10px;

    &:not(:last-child) {
        border-bottom: 1px solid var(--secondary_color);
    }

    .checkbox__text {
        align-items: center;
        color: var(--text_color);
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        gap: 10px;
        flex-grow: 1;
        width: calc(100% - 30px);

        span {
            &:nth-child(1) {}

            &:nth-child(2) {
                color: var(--primary_color);
                white-space: nowrap;
            }
        }
    }
}

.perf {
    background-color: var(--body_bg);
    display: none;
    height: 100dvh;
    left: 0;
    overflow-y: auto;
    overscroll-behavior: contain;
    padding-top: var(--container_padding);
    padding-bottom: var(--container_padding);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 11;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &__closer {
        @include button-reset;
        align-items: center;
        display: flex;
        justify-content: center;
        height: 40px;
        left: auto;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 40px;
        z-index: 1;

        svg {
            fill: var(--primary_color);
            height: 24px;
            transform: rotate(180deg);
            width: 24px;
        }
    }

    &__title {
        color: var(--title_color);
        font-family: var(--secondary_font_family);
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: -2px;
        @media(min-width: $sm) {
            font-size: 32px;
        }
        @media(min-width: $md) {
            font-size: 40px;
            text-align: center;
        }
        @media(min-width: $hd) {
            font-size: 48px;
        }
        @media(min-width: $lg) {
            font-size: 56px;
        }
        /*@media(min-width: $fhd) {
            font-size: 72px;
        }*/
    }

    &__inner {
        margin-left: auto;
        margin-right: auto;
        max-width: 930px;
    }

    &__text {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__params {
        --gap: 10px;
        display: flex;
        gap: var(--gap);

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__params-block {
        width: calc(100% / 2 - var(--gap) / 2);
    }

    &__fps {
        padding-top: 20px;
        position: relative;
        z-index: 1;

        .fps-item {
            position: relative;
            z-index: 2;

            &:not(:last-child) {
                margin-bottom: 10px;
                @media(min-width: $hd) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    &__fps-point {
        border-left: 1px dashed var(--secondary_color);
        color: var(--secondary_color);
        font-size: 14px;
        height: calc(100% - 20px);
        line-height: 1;
        position: absolute;
        width: 1px;

        span {
            left: 50%;
            position: absolute;
            top: -20px;
            transform: translateX(-50%);
            white-space: nowrap;
            z-index: 1;
        }
    }
}