.config-links {
    align-items: center;
    display: flex;
    @media(min-width: $sm) {
        --gap: 20px;
        gap: var(--gap);
    }

    &__image {
        margin-left: -22.2%;
        text-align: center;
        width: 50%;
        @media(min-width: $lg) {
            margin-left: 0;
            width: calc(100% / 2 - var(--gap) / 2);
        }
    }

    &__links-block {
        width: 72.2%;
        @media(min-width: $lg) {
            width: calc(100% / 2 - var(--gap) / 2);
        }
    }

    &__title {
        font-family: var(--secondary_font_family);
        font-size: 13px;
        line-height: 1.3;
        letter-spacing: -0.5px;
        margin-bottom: 15px;
        padding-left: 40px;
        @media(min-width: $md) {
            font-size: 16px;
        }
        @media(min-width: $hd) {
            font-size: 24px;
        }
        @media(min-width: $fhd) {
            font-size: 32px;
            letter-spacing: -2px;
            margin-bottom: 40px;
        }
    }

    &__links {
        @media(min-width: $sm) {
            align-items: start;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: var(--gap);
        }
    }

    &__block {
        padding-left: 40px;

        &:nth-child(1) {
            @media(min-width: $sm) {
                grid-row: 1;
                grid-column: 2;
            }
            @media(min-width: $fhd) {
                width: 92%;
            }
        }

        &:nth-child(2) {
            @media(min-width: $sm) {
                grid-row: span 2;
                grid-column: 1;
            }
            @media(min-width: $fhd) {
                width: 70%;
            }
        }
    }

    &__block-title {
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 10px;
        @media(min-width: $md) {
            font-size: 18px;
        }
        @media(min-width: $hd) {
            font-size: 24px;
        }
        @media(min-width: $fhd) {
            font-size: 32px;
            margin-bottom: 30px;
        }
    }

    &__link {
        align-items: center;
        display: flex;
        min-height: 50px;
        position: relative;
        text-decoration: none;
        z-index: 1;
        @media(min-width: $hd) {
            margin-bottom: 10px;
        }

        &::before {
            border: 1px solid var(--primary_color);
            border-bottom: none;
            border-right: none;
            content: '';
            height: 50%;
            left: -15px;
            position: absolute;
            top: 0;
            transform: skewX(-45deg);
            width: 100%;
        }

        &::after {
            background-color: var(--primary_color);
            border-radius: 50%;
            content: '';
            height: 10px;
            left: -22px;
            position: absolute;
            top: 50%;
            transform: translate(-10px, -50%);
            width: 10px;
        }
    }

    &__button {
        @media(min-width: $sm) {
            grid-row: 2;
            grid-column: 2;
        }
    }
}