.features_2 {
    @media(max-width: $sm - 0.01px) {
        margin-top: 10px;
    }
    @media(min-width: $sm) {
        background-color: var(--primary_color);
        padding-top: 40px;
        padding-bottom: 40px;
        position: relative;
        z-index: 1;
    }
    @media(min-width: $hd) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &::after {
        @media(min-width: $sm) {
            background-color: var(--primary_color);
            content: '';
            height: 100%;
            left: 50%;
            position: absolute;
            top: 0;
            transform: translateX(-50%);
            width: 100vw;
            z-index: 1;
        }
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 0;
        position: relative;
        z-index: 2;
        @media(min-width: $sm) {
            justify-content: space-between;
        }
        @media(min-width: $md) {
            margin-left: auto;
            margin-right: auto;
            max-width: 80%;
        }
    }

    &__item {
        @media(max-width: $sm - 0.01px) {
            border: 1px solid var(--primary_color);
            border-bottom: none;
            border-right: none;
            padding: 10px;
            width: 50%;
        }

        br {
            @media(max-width: $sm - 0.01px) {
                display: none;
            }
        }
    }

    &__num {
        display: none;
        margin-bottom: 15px;
        @media(max-width: $sm - 0.01px) {
            display: block;
            font-size: 12px;
        }
    }

    &__text {
        @media(max-width: $sm - 0.01px) {
            font-size: 12px;
        }
        @media(min-width: $sm) {
            color: #fff;
            margin-bottom: 10px;
        }
        @media(min-width: $fhd) {
            font-size: 20px;
            line-height: 1.2;
        }
    }

    &__pref {
        font-family: var(--secondary_font_family);
        font-size: 20px;
        font-weight: 700;
        line-height: 1;
        @media(min-width: $sm) {
            font-size: 32px;
        }
        @media(min-width: $hd) {
            font-size: 40px;
        }
        @media(min-width: $fhd) {
            font-size: 48px;
        }
    }
}