.fps-item {
    align-items: flex-end;
    display: flex;

    &__image {
        min-width: 60px;
        width: 60px;

        img {
            display: block;
        }
    }

    &__bar-container {
        align-items: center;
        display: flex;
        gap: 20px;
        flex-grow: 1;
        height: 30px;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        @media(min-width: $hd) {
            height: 40px;
        }
    }

    &__bar {
        background: linear-gradient(90deg, rgba(207,207,207,0) 0, rgba(207,207,207,1) 100%);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        z-index: 1;

        &--green {
            background: linear-gradient(90deg, rgba(52, 183, 188, 0) 0, rgba(52, 183, 188,1) 100%);
        }
    }

    &__title {
        line-height: 1.2;
        padding-left: 10px;
        padding-bottom: 4px;
        position: relative;
        z-index: 1;
        @media(max-width: $hd - 0.01px) {
            font-size: 12px;
            padding-bottom: 2px;
        }
    }

    &__value {
        font-weight: 600;
        position: relative;
        padding-right: 5px;
        text-transform: uppercase;
        white-space: nowrap;
        z-index: 1;

        span {
            font-size: 80%;
            font-weight: 500;
        }
    }
}

.fps-list {
    .fps-item {
        &:not(:last-child) {
            margin-bottom: 10px;
            @media(min-width: $sm) {
                margin-bottom: 20px;
            }
        }
    }

    .fps-item__image {
        @media(min-width: $sm) {
            min-width: 115px;
            width: 115px;
        }
    }

    .fps-item__bar-container {
        @media(min-width: $sm) {
            font-size: 20px;
            height: 50px;
        }
    }
}