.guaranty {
    --gap: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    @media(min-width: $md) {
        --gap: 20px;
    }

    &__item {
        align-items: flex-end;
        border: 1px solid var(--primary_color);
        display: flex;
        font-size: 12px;
        gap: 5px;
        overflow: hidden;
        padding: 10px;
        width: calc(100% / 2 - var(--gap) / 2);
        @media(min-width: $sm) {
            width: calc(100% / 3 - var(--gap) * 2 / 3);
        }
        @media(min-width: $md) {
            font-size: 14px;
        }
        @media(min-width: $hd) {
            font-size: 16px;
            gap: 10px;
        }
        /*@media(min-width: $fhd) {
            font-size: 20px;
        }*/
        &--background {
            background-image: url("../images/backgrounds/guaranty/back.jpg");
            background-color: var(--primary_color);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            border: none;
        }
    }

    &__item-num {
        color: var(--primary_color);
        font-family: var(--secondary_font_family);
        font-size: 90px;
        font-weight: 700;
        line-height: 68px;
        margin-left: -0.18em;
        @media(min-width: $hd) {
            font-size: 140px;
            line-height: 110px;
        }
        /*@media(min-width: $fhd) {
            font-size: 200px;
            margin-left: -0.2em;
        }*/
    }
}