.header {
    background-color: var(--body_bg);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;

    &.is-out {
        box-shadow: none !important;
        transform: translateY(-100%);
    }

    &.is-scrolled {
        box-shadow: 0 3px 3px -2px rgba(0,0,0, 0.15);
        position: fixed;
        transition: transform 0.2s;
    }

    &__inner {
        display: flex;
        min-height: 66px;
        @media(min-width: $hd) {
            min-height: 80px;
        }
    }

    &__right-block {
        align-items: center;
        display: flex;
        gap: 25px;
        justify-content: flex-end;
        margin-left: auto;
        @media(min-width: $hd) {
            margin-left: 0;
            min-width: 190px;
        }
    }

    &__link {
        @include button-reset;
        @include active-area;
        align-items: center;
        display: flex;
        justify-content: center;
        height: 25px;
        position: relative;
        width: 25px;
        z-index: 1;

        &--burger {
            @media(min-width: $hd) {
                display: none;
            }
        }
        @include hover {
            color: var(--primary_color);
        }

        svg {
            fill: currentColor;
            height: 25px;
            width: 25px;
        }
    }
}

.header-logo {
    align-items: center;
    display: flex;

    &__icon {
        height: 45px;
        width: 52px;
    }

    &__text {
        display: none;
        height: 45px;
        width: 243px;
        @media(min-width: $sm) {
            display: block;
        }
    }
    @include hover {
        color: var(--text_color);
    }
}

.main-menu {
    display: none;
    font-size: 18px;
    @media(min-width: $hd) {
        display: flex;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
    }
    @media(min-width: $lg) {
        font-size: 18px;
    }
    @media(max-width: $hd - 0.01px) {
        background-color: var(--body_bg);
        height: calc(100dvh - 66px);
        left: 0;
        overflow-y: auto;
        position: fixed;
        padding: 20px var(--container_padding);
        right: 0;
        top: 66px;
        z-index: 10px;
    }

    &.is-open {
        display: block;
    }

    &__list {
        @include list-reset;
        @media(min-width: $hd) {
            display: flex;
            gap: 40px;
        }
    }

    &__item {
        @media(min-width: $hd) {
            display: flex;
        }
        @include hover {
            .sub-menu {
                @media(min-width: $hd) {
                    display: block;
                }
            }
        }
    }

    &__link {
        align-items: center;
        display: flex;
        gap: 20px;
        min-height: 55px;
        text-decoration: none;

        &.is-active {
            color: var(--primary_color);
        }
        @include hover {
            color: var(--primary_color);
        }

        span {
            @media(max-width: $hd - 0.01px) {
                min-width: 260px;
            }
        }

        svg {
            fill: currentColor;
            height: 25px;
            margin-top: 8px;
            width: 25px;
            @media(min-width: $hd) {
                display: none;
            }
        }
    }

    h3 {
        margin-top: 40px;
        margin-bottom: 0;
        @media(min-width: $md) {
            display: none;
        }

        & + .main-menu__list {
            @media(min-width: $md) {
                display: none;
            }
        }
    }
}

.sub-menu {
    background-color: var(--body_bg);
    @media(max-width: $hd - 0.01px) {
        display: none;
    }
    @media(min-width: $hd) {
        box-shadow: 0 3px 3px 0 rgba(0,0,0, 0.1);
        display: none;
        font-size: 16px;
        left: 0;
        padding: var(--container_padding);
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 1;
    }
    @media(min-width: $hd) and (min-height: 900px) {
        padding: calc(var(--container_padding) * 2) var(--container_padding);
    }

    &__title-block {
        align-items: center;
        font-family: var(--secondary_font_family);
        display: flex;
        font-weight: 500;
        justify-content: space-between;
        margin-bottom: 15px;

        p {
            margin-bottom: 0;
        }

        a {
            align-items: center;
            display: flex;
            gap: 4px;

            svg {
                fill: currentColor;
                height: 22px;
                width: 22px;
            }
        }
    }

    &__list {
        @include list-reset;
        display: flex;
        gap: var(--container_padding);
        justify-content: space-between;
        margin-bottom: 30px;
        @media(min-height: 900px) {
            margin-bottom: 60px;
        }
    }

    &__link {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        text-decoration: none;
        text-align: center;
        @include hover {
            img {
                transform: scale(1.02);
            }
        }

        img {
            display: block;
            transition: transform 0.3s;
            transform: scale(1);
        }
    }

    &__link-price,
    &__link-text,
    &__link-title {
        display: block;
    }

    &__link-title {
        font-family: var(--secondary_font_family);
        font-weight: 600;
        text-transform: uppercase;
    }

    &__link-text {
        font-size: 14px;
        line-height: 1.3;
    }

    &__link-price {
        font-family: var(--secondary_font_family);
        font-weight: 600;
        margin-top: 5px;
        text-transform: uppercase;
    }

    &__grid {
        display: flex;
        gap: 30px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1520px;
        @media(min-width: 1520px) {
            padding-left: var(--container_padding);
            padding-right: var(--container_padding);
        }
    }

    &__left {
        border-right: 1px solid var(--primary_color);
        padding-right: 30px;
        padding-top: 39px;
        width: 230px;
    }

    &__link2 {
        display: block;
        text-align: center;
        text-decoration: none;

        &:not(:last-child) {
            margin-bottom: 30px;
            @media(min-height: 900px) {
                margin-bottom: 68px;
            }
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__link2-text,
    &__link2-title {
        display: block;
    }

    &__link2-title {
        font-family: var(--secondary_font_family);
        font-weight: 600;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    &__link2-text {
        font-size: 14px;
        line-height: 1.3;
    }

    &__right {
        width: calc(100% - 230px - 30px);
    }

    &__columns {
        display: flex;
        gap: 30px;

        .sub-menu__columns {
            .sub-menu__column {
                &:first-child() {
                    width: 180px;
                }

                .catalog-links__link {
                    font-size: 14px;
                    min-height: 48px;
                    margin-bottom: 0;
                }
            }
        }
    }

    &__column {
        width: calc(100% / 2 - 15px);
    }
}