.last-news {
    &:not(:last-child) {
        margin-bottom: 40px;
        @media(min-width: $fhd) {
            margin-bottom: 50px;
        }
    }
    @media(min-width: $md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    @media(min-width: $fhd) {
        gap: 40px;
    }

    &__text-block {
        margin-bottom: 10px;
    }

    &__title {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.1;
        margin-bottom: 10px;
        @media(min-width: $fhd) {
            font-size: 40px;
        }
    }

    &__date {
        font-size: 10px;
        margin-bottom: 10px;
        @media(min-width: $fhd) {
            font-size: 18px;
        }
    }

    &__preview-text {
        @media(min-width: $fhd) {
            font-size: 24px;
        }
    }

    &__image-block {
        margin-bottom: 15px;
        @media(min-width: $md) {
            grid-row: span 2;
            margin-bottom: 0;
        }
    }

    &__button-block {
        text-align: center;
        @media(min-width: $md) {
            align-self: end;
            grid-column: 1;
            margin-bottom: 0;
            text-align: left;
        }
    }
}