.last-news {
    &:not(:last-child) {
        margin-bottom: 40px;
        /*@media(min-width: $fhd) {
            margin-bottom: 50px;
        }*/
    }
    @media(min-width: $md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    &--reverse {
        .last-news__image-block {
            @media(min-width: $md) {
                grid-column: 1;
                grid-row: span 2;
            }
        }

        .last-news__button-block,
        .last-news__text-block {
            @media(min-width: $md) {
                grid-column: 2;
            }
        }

        .last-news__text-block {
            @media(min-width: $md) {
                grid-row: 1;
            }
        }

        .last-news__button-block {
            @media(min-width: $md) {
                grid-row: 2;
            }
        }
    }
    /*@media(min-width: $fhd) {
        gap: 40px;
    }*/
    &__text-block {
        margin-bottom: 10px;
    }

    &__title {
        font-family: var(--secondary_font_family);
        font-size: 16px;
        font-weight: 600;
        line-height: 1.1;
        margin-bottom: 10px;
        text-transform: uppercase;
        @media(min-width: $hd) {
            font-size: 24px;
        }
        /*@media(min-width: $fhd) {
            font-size: 40px;
        }*/
    }

    &__date {
        font-size: 10px;
        margin-bottom: 10px;
        @media(min-width: $hd) {
            font-size: 14px;
        }
        /*@media(min-width: $fhd) {
            font-size: 18px;
        }*/
    }

    &__preview-text {
        /*@media(min-width: $fhd) {
            font-size: 24px;
        }*/
    }

    &__image-block {
        margin-bottom: 15px;
        @media(min-width: $md) {
            grid-row: span 2;
            margin-bottom: 0;
        }

        img {
            display: block;
        }
    }

    &__button-block {
        text-align: center;
        @media(min-width: $md) {
            align-self: end;
            grid-column: 1;
            margin-bottom: 0;
            text-align: left;
        }
    }
}