.produce {
    border: 1px solid var(--primary_color);
}

.produce-item {
    height: 80px;
    padding: 10px;
    overflow: hidden;
    transition: opacity 0.3s;
    @media(min-width: $md) {
        display: flex;
        gap: 20px;
        padding: 20px;
    }
    @media(min-width: $fhd) {
        height: 140px;
    }

    &.is-open {
        height: auto;
    }

    &:not(.is-open) {
        cursor: pointer;
        opacity: 0.5;
    }

    &:not(:last-child) {
        border-bottom: 1px solid var(--primary_color);
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
        @media(min-width: $md) {
            margin: 0;
            text-transform: uppercase;
            width: calc(100% / 4 - var(--container_padding));
        }
        @media(min-width: $hd) {
            font-size: 24px;
        }
        @media(min-width: $fhd) {
            font-size: 40px;
        }
    }

    &__image {
        img {
            display: block;
        }
        @media(min-width: $md) {
            width: calc(100% / 4 * 2 - var(--container_padding));
        }
    }

    &__text {
        @media(min-width: $md) {
            width: calc(100% / 4 - var(--container_padding));
        }
        @media(min-width: $fhd) {
            font-size: 20px;
        }
    }
}