.product-intro {
    margin-bottom: 40px;
    @media(min-width: $md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 20px;
    }

    &__pre-title {
        text-transform: uppercase;
        @media(min-width: $md) {
            grid-row: 3;
            grid-column: span 2;
            margin-bottom: 0;
            margin-top: 10px;
        }
    }

    &__title {
        font-family: var(--secondary_font_family);
        font-size: 28px;
        line-height: 1;
        letter-spacing: -2px;
        margin-bottom: 0;
        @media(min-width: $sm) {
            font-size: 32px;
        }
        @media(min-width: $md) {
            align-self: end;
            font-size: 44px;
            grid-column: 1;
            grid-row: span 2;
        }
        @media(min-width: $hd) {
            font-size: 56px;
            letter-spacing: -4px;
        }
        @media(min-width: $lg) {
            font-size: 64px;
        }
        @media(min-width: $fhd) {
            font-size: 88px;
        }
    }

    &__qnt {
        font-size: 16px;
        margin-bottom: 10px;
        vertical-align: middle;
        @media(min-width: $md) {
            grid-column: 2;
        }
        @media(min-width: $hd) {
            font-size: 18px;
        }
        @media(min-width: $fhd) {
            font-size: 22px;
        }

        span {
            border-bottom: 1px solid var(--primary_color);
            display: inline-block;
        }
    }

    &__preview-text {
        @media(min-width: $md) {
            grid-column: 2;
        }
        @media(min-width: $fhd) {
            max-width: 72%;
        }
    }
}