.reviews {
    .slider-navigation {
        @media(min-width: $hd) {
            display: none;
        }
    }

    .swiper-slide {
        height: auto;
    }
}

.review {
    border: 1px solid var(--secondary_color);
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 220px;
    padding: 15px;
    text-decoration: none;
    @include hover {
        color: var(--text_color);

        .review__link {
            color: var(--primary_color);
        }
    }

    &__title {
        display: block;
        font-family: var(--secondary_font_family);
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 40px;
        @media(min-width: $hd) {
            font-size: 20px;
        }
    }

    &__text {
        display: block;
        margin-bottom: 20px;
        margin-top: auto;
        display: inline;
        -webkit-line-clamp: 6;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        @media(min-width: $hd) {
            margin-bottom: 25px;
        }
    }

    &__link {
        color: var(--secondary_color);
        display: block;
        font-size: 12px;
        transition: color 0.3s;
        text-decoration: underline;
        @media(min-width: $hd) {
            font-size: 14px;
        }
        /*@media(min-width: $fhd) {
            font-size: 16px;
        }*/
    }
}