.series {
    &:not(:last-child) {
        margin-bottom: var(--page_section_vertical_gap);
    }

    .product-intro {
        margin-bottom: 0;
    }

    &__inner {
        @media(min-width: $md) {
            display: flex;
            gap: 20px;
        }
    }

    &__image {
        margin-bottom: 20px;
        padding-top: 20px;
        text-align: center;
        @media(min-width: $md) {
            margin-bottom: 0;
            padding-top: 40px;
            width: calc(100% / 2 - 20px / 2);
        }

        .slider-container {
            margin-left: auto;
            margin-right: auto;
            max-width: 400px;
            @media(min-width: $lg) {
                max-width: 450px;
            }
        }
    }

    &__info {
        @media(min-width: $md) {
            border-left: 1px solid var(--primary_color);
            width: calc(100% / 2 - 20px / 2);
        }
        @media(min-width: $hd) {
            border-left-width: 2px;
        }
    }

    &__info-top {
        font-family: var(--secondary_font_family);
        display: flex;
        @media(max-width: $md - 0.01px) {
            margin-bottom: 20px;
        }

        & > div {
            border-left: 1px solid var(--primary_color);
            padding: 0 10px;
            width: 50%;

            &:first-child {
                border-left: none;
                @media(max-width: $sm - 0.01px) {
                    padding-left: 0;
                }
            }
            @media(min-width: $sm) {
                padding: 0 20px;
            }
            @media(min-width: $md) {
                padding: 20px;
            }
            @media(min-width: $hd) {
                border-left-width: 2px;
            }
            @media(min-width: $lg) {
                padding: 20px 40px;
            }
        }
    }

    &__info-num,
    &__info-title {
        @media(max-width: $md - 0.01px) {
            font-size: 12px;
        }
    }

    &__info-title {
        color: var(--secondary_color_dark);
        font-size: 14px;
        text-transform: uppercase;
    }

    &__info-val {
        font-weight: 600;
        text-transform: uppercase;
        @media(min-width: $hd) {
            font-size: 16px;
        }
        @media(min-width: $lg) {
            font-size: 18px;
        }
    }

    &__info-table {
        @media(min-width: $sm) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__info-item {
        align-items: center;
        border-top: 1px solid var(--primary_color);
        display: flex;
        gap: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        @media(min-width: $sm) {
            min-height: 90px;
            padding: 10px 20px;
            width: 50%;
        }
        @media(min-width: $hd) {
            border-width: 2px;
        }
        @media(min-width: $lg) {
            font-size: 14px;
            gap: 20px;
            min-height: 110px;
            padding: 20px 40px;
        }

        &:nth-child(even) {
            border-left: 1px solid var(--primary_color);
            @media(min-width: $hd) {
                border-width: 2px;
            }
        }

        svg {
            height: 24px;
            min-width: 24px;
            width: 24px;
            @media(min-width: $lg) {
                height: 32px;
                min-width: 32px;
                width: 32px;
            }
        }
    }

    &__info-item-title {
        font-size: 14px;
        font-family: var(--secondary_font_family);
        font-weight: 600;
        text-transform: uppercase;
        @media(min-width: $lg) {
            font-size: 16px;
        }
    }

    &__price-block {
        @media(max-width: $lg - 0.01px) {
            align-items: center;
            display: flex;
            justify-content: space-between;
            gap: 10px;
        }
    }

    &__price {
        font-family: var(--secondary_font_family);
        font-size: 24px;
        font-weight: 700;
        white-space: nowrap;
        @media(min-width: $hd) {
            font-size: 28px;
        }
        @media(min-width: $lg) {
            font-size: 32px;
        }
    }

    &__credit {
        align-items: center;
        display: flex;
        gap: 4px;
        text-decoration: none;
        @media(max-width: $sm - 0.01px) {
            font-size: 12px;
        }

        svg {
            height: 16px;
            min-width: 16px;
            width: 16px;
        }
    }

    &__bottom-block {
        border-top: 1px solid var(--primary_color);
        padding-top: 10px;
        @media(max-width: $md - 0.01px) {
            margin-top: 10px;
        }
        @media(min-width: $md) {
            min-height: 110px;
            padding-left: 20px;
        }
        @media(min-width: $hd) {
            border-width: 2px;
        }
        @media(min-width: $lg) {
            align-items: center;
            display: flex;
            gap: 20px;
            justify-content: space-between;
            padding-left: 40px;
        }

        .button {
            width: 100%;
            @media(max-width: $lg - 0.01px) {
                margin-top: 10px;
            }
            @media(min-width: $lg) {
                max-width: calc(50% + 18px);
            }
        }
    }
}