<section class="page__section">
    <p class="pre-title"><span>О нашей компании</span></p>
    <div class="about">
        <h2>О наc</h2>
        <div class="about__text-block">
            <div class="about__accent-text">
                <p>Наша компания - опытный и надежный поставщик компьютеров, с более чем 6-летним опытом работы в этой области</p>
            </div>
            <div class="about__text">
                <p>Мы гордимся тем, что имеем собственное производство, где мы контролируем каждый этап создания наших компьютеров, чтобы обеспечить высокое качество и надежность.</p>
                <p>Мы стремимся предложить только лучшее - высокое качество, надежность, удобство доставки и профессиональное обслуживание.</p>
            </div>
            <div class="about__nums">
                <div class="about__nums-item">
                    <span>более</span> <span class="about__num">2000</span> <span>довольных<br> покупателей</span>
                </div>
                <div class="about__nums-item">
                    <span>более</span> <span class="about__num">1000</span> <span>отзывов<br> на Avito</span>
                </div>
                <div class="about__nums-item">
                    <span>более</span> <span class="about__num">1300</span> <span>публичных<br> отзывов в VK</span>
                </div>
            </div>
        </div>
    </div>
</section>