<section class="page__section">
    <div class="about-delivery">
        <div class="about-delivery__block about-delivery__image">
            <img src="images/content/about-delivery/img_1.png" srcset="images/content/about-delivery/img_1@2x.png 2x" alt="">
        </div>
        <div class="about-delivery__block">
            <div class="about-delivery__top">
                <p class="about-delivery__top-block">Гарантия: 1 год</p>
                <p class="about-delivery__top-block">На заказ, за 24 часа после оплаты</p>
            </div>

            <div class="about-delivery__list">
                <p class="about-delivery__list-title">Способы получения заказа:</p>
                <p class="about-delivery__list-item">
                    <a href="#">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#pin" />
                        </svg>
                        Санкт-Петербург
                    </a>
                </p>
                <p class="about-delivery__list-item">
                    <span><span>01</span> Самовывоз из магазина</span>
                    <span>0 ₽</span>
                </p>
                <p class="about-delivery__list-item">
                    <span><span>02</span> Доставка курьером</span>
                    <span>400 ₽</span>
                </p>
                <p class="about-delivery__list-item">
                    <span><span>03</span> Получить в пункте выдачи</span>
                    <span>800 ₽</span>
                </p>
            </div>

            <div class="about-delivery__price-block">
                <p class="about-delivery__price-container">
                    <span class="about-delivery__price-title">Стоимость:</span>
                    <span class="about-delivery__price"><span>от 112 700 ₽</span></span>
                </p>
                <p class="about-delivery__credit">
                    <a href="#">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#question"></use>
                        </svg>
                        Доступно в кредит
                    </a>
                </p>

                <a class="button" href="#">
                    <span>Добавить в корзину</span>
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#button_arrow"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>