<section class="page__section">
    <p class="pre-title"><span>О нашей компании</span></p>
    <div class="columns_1_3 about">
        <div class="columns_1_3__column_1">
            <h2>О наc</h2>
        </div>

        <div class="columns_1_3__column_3 about__text-block">
            <div class="about__accent-text" style="width: 90%">
                <p><span style="font-size: 300%">3000</span> компьютеров продано нашим&nbsp;клиентам.</p>
                <p>Наша компания - опытный и надежный поставщик компьютеров, с&nbsp;более чем 6-летним опытом работы в этой области.</p>
            </div>
            <div class="about__text">
                <p>Мы гордимся тем, что имеем собственное производство, где мы контролируем каждый этап создания наших компьютеров, чтобы обеспечить высокое качество и надежность.</p>
                <p>Мы стремимся предложить только лучшее - высокое качество, надежность, удобство доставки и профессиональное обслуживание.</p>
                <p>Создавая компьютеры, мы в первую очередь думаем о&nbsp;людях, которые будут пользоваться им ежедневно и с удовольствием.</p>
            </div>
            <div class="about__nums">
                <div class="about__nums-item">
                    <span>более</span> <span class="about__num">2000</span> <span>довольных<br> покупателей</span>
                </div>
                <div class="about__nums-item">
                    <span>более</span> <span class="about__num">1000</span> <span>отзывов<br> на Avito</span>
                </div>
                <div class="about__nums-item">
                    <span>более</span> <span class="about__num">1300</span> <span>публичных<br> отзывов в VK</span>
                </div>
            </div>
        </div>
    </div>

    <div class="marquee">
        <div class="marquee__inner" data-text="вольфрам в Челябинск • золото в Москву • никель в Челябинск • золото в Москву •">
            вольфрам в Челябинск • золото в Москву • никель в Челябинск • золото в Москву •
        </div>
    </div>
</section>