<section class="page__section">
    <p class="pre-title"><span>О нашей компании</span></p>
    <h2>О наc</h2>

    <div class="about__accent-text">
        <h3 class="about__accent-title"><b>3000</b> компьютеров продано нашим клиентам</h3>
        <p>Создавая компьютеры, мы гордимся своей работой и в первую очередь думаем о людях, которые будут пользоваться ими ежедневно.</p>
    </div>

    <!--<div class="about__nums">
        <div class="about__nums-item">
            <span>более</span> <span class="about__num">2000</span> <span>довольных<br> покупателей</span>
        </div>
        <div class="about__nums-item">
            <span>более</span> <span class="about__num">1000</span> <span>отзывов<br> на Avito</span>
        </div>
        <div class="about__nums-item">
            <span>более</span> <span class="about__num">1300</span> <span>публичных<br> отзывов в VK</span>
        </div>
    </div>-->


    <!--<div class="marquee">
        <div class="marquee__inner" data-text="вольфрам в Челябинск • золото в Москву • никель в Челябинск • золото в Москву •">
            вольфрам в Челябинск • золото в Москву • никель в Челябинск • золото в Москву •
        </div>
    </div>-->

    <div class="js-about about-slider swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-no-swiping">
                <a class="review-card" href="#">
                    <span class="review-card__image"><img src="images/content/about/img_1.jpg" alt=""></span>
                    <span class="review-card__city">Москва</span>
                    <span class="review-card__title">
                        <img src="images/content/about/logo.jpg" alt="">
                        Яркий ПК для подписчицы
                    </span>
                </a>
            </div>
            <div class="swiper-slide swiper-no-swiping">
                <a class="review-card" href="#">
                    <span class="review-card__image"><img src="images/content/about/img_2.jpg" alt=""></span>
                    <span class="review-card__city">Новосибирск</span>
                    <span class="review-card__title">
                        <img src="images/content/about/logo.jpg" alt="">
                        Рабочий ПК для подписчика
                    </span>
                </a>
            </div>
            <div class="swiper-slide swiper-no-swiping">
                <a class="review-card" href="#">
                    <span class="review-card__image"><img src="images/content/about/img_3.jpg" alt=""></span>
                    <span class="review-card__city">Сочи</span>
                    <span class="review-card__title">
                        <img src="images/content/about/logo.jpg" alt="">
                        Белая сборка для подписчицы
                    </span>
                </a>
            </div>
            <div class="swiper-slide swiper-no-swiping">
                <a class="review-card" href="#">
                    <span class="review-card__image"><img src="images/content/about/img_4.jpg" alt=""></span>
                    <span class="review-card__city">Иваново</span>
                    <span class="review-card__title">
                        <img src="images/content/about/logo.jpg" alt="">
                        Сборка для подписчика
                    </span>
                </a>
            </div>
            <div class="swiper-slide swiper-no-swiping">
                <a class="review-card" href="#">
                    <span class="review-card__image"><img src="images/content/about/img_1.jpg" alt=""></span>
                    <span class="review-card__city">Москва</span>
                    <span class="review-card__title">
                        <img src="images/content/about/logo.jpg" alt="">
                        Яркий ПК для подписчицы
                    </span>
                </a>
            </div>
            <div class="swiper-slide swiper-no-swiping">
                <a class="review-card" href="#">
                    <span class="review-card__image"><img src="images/content/about/img_2.jpg" alt=""></span>
                    <span class="review-card__city">Новосибирск</span>
                    <span class="review-card__title">
                        <img src="images/content/about/logo.jpg" alt="">
                        Рабочий ПК для подписчика
                    </span>
                </a>
            </div>
            <div class="swiper-slide swiper-no-swiping">
                <a class="review-card" href="#">
                    <span class="review-card__image"><img src="images/content/about/img_3.jpg" alt=""></span>
                    <span class="review-card__city">Сочи</span>
                    <span class="review-card__title">
                        <img src="images/content/about/logo.jpg" alt="">
                        Белая сборка для подписчицы
                    </span>
                </a>
            </div>
            <div class="swiper-slide swiper-no-swiping">
                <a class="review-card" href="#">
                    <span class="review-card__image"><img src="images/content/about/img_4.jpg" alt=""></span>
                    <span class="review-card__city">Иваново</span>
                    <span class="review-card__title">
                        <img src="images/content/about/logo.jpg" alt="">
                        Сборка для подписчика
                    </span>
                </a>
            </div>
            <div class="swiper-slide swiper-no-swiping">
                <a class="review-card" href="#">
                    <span class="review-card__image"><img src="images/content/about/img_1.jpg" alt=""></span>
                    <span class="review-card__city">Москва</span>
                    <span class="review-card__title">
                        <img src="images/content/about/logo.jpg" alt="">
                        Яркий ПК для подписчицы
                    </span>
                </a>
            </div>
            <div class="swiper-slide swiper-no-swiping">
                <a class="review-card" href="#">
                    <span class="review-card__image"><img src="images/content/about/img_2.jpg" alt=""></span>
                    <span class="review-card__city">Новосибирск</span>
                    <span class="review-card__title">
                        <img src="images/content/about/logo.jpg" alt="">
                        Рабочий ПК для подписчика
                    </span>
                </a>
            </div>
            <div class="swiper-slide swiper-no-swiping">
                <a class="review-card" href="#">
                    <span class="review-card__image"><img src="images/content/about/img_3.jpg" alt=""></span>
                    <span class="review-card__city">Сочи</span>
                    <span class="review-card__title">
                        <img src="images/content/about/logo.jpg" alt="">
                        Белая сборка для подписчицы
                    </span>
                </a>
            </div>
            <div class="swiper-slide swiper-no-swiping">
                <a class="review-card" href="#">
                    <span class="review-card__image"><img src="images/content/about/img_4.jpg" alt=""></span>
                    <span class="review-card__city">Иваново</span>
                    <span class="review-card__title">
                        <img src="images/content/about/logo.jpg" alt="">
                        Сборка для подписчика
                    </span>
                </a>
            </div>
        </div>
    </div>

</section>