<section class="page__section">
    <p class="pre-title"><span>Аксессуары для вашего компьютера</span></p>
    <h2>Периферия</h2>

    <div class="accessories slider-container">
        <div class="js-accessories swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a class="accessories-item" href="#">
                        <svg class="accessories-item__arrow" aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_top_right" />
                        </svg>

                        <span class="accessories-item__title">Мышки</span>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="accessories-item" href="#">
                        <svg class="accessories-item__arrow" aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_top_right" />
                        </svg>

                        <span class="accessories-item__title">Клавиатуры</span>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="accessories-item" href="#">
                        <svg class="accessories-item__arrow" aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_top_right" />
                        </svg>

                        <span class="accessories-item__title">Наушники</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="slider-navigation">
            <button class="js-accessories-prev swiper-button-prev" type="button" title="Назад">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_left" />
                </svg>
            </button>

            <div class="js-accessories-navigation swiper-pagination"></div>

            <button class="js-accessories-next swiper-button-next" type="button" title="Вперёд">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_right" />
                </svg>
            </button>
        </div>
    </div>

    <div class="text-center">
        <a class="button button--w_385" href="#">
            <span>Периферия</span>
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#button_arrow"></use>
            </svg>
        </a>
    </div>
</section>