<section class="page__section">
    <div class="container">
        <p class="pre-title"><span>Игровые компьютеры</span></p>
        <h2>Готовые компьютеры</h2>

        <div class="already slider-container">
            <div class="js-already swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a class="already-item" href="#">
                            <span class="already-item__image"><img src="images/content/already/img_1.jpg" srcset="images/content/already/img_1@2x.jpg 2x" alt=""></span>
                            <span class="already-item__text">
                                <span class="already-item__title">project <span>one</span></span>
                                <span class="already-item__price">253 900 ₽</span>
                            </span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="already-item" href="#">
                            <span class="already-item__image"><img src="images/content/already/img_2.jpg" srcset="images/content/already/img_2@2x.jpg 2x" alt=""></span>
                            <span class="already-item__text">
                                <span class="already-item__title">project <span>air</span></span>
                                <span class="already-item__price">253 900 ₽</span>
                            </span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="already-item" href="#">
                            <span class="already-item__image"><img src="images/content/already/img_3.jpg" srcset="images/content/already/img_3@2x.jpg 2x" alt=""></span>
                            <span class="already-item__text">
                                <span class="already-item__title">project <span>evo</span></span>
                                <span class="already-item__price">253 900 ₽</span>
                            </span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="already-item" href="#">
                            <span class="already-item__image"><img src="images/content/already/img_1.jpg" srcset="images/content/already/img_1@2x.jpg 2x" alt=""></span>
                            <span class="already-item__text">
                                <span class="already-item__title">project <span>one</span></span>
                                <span class="already-item__price">253 900 ₽</span>
                            </span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="already-item" href="#">
                            <span class="already-item__image"><img src="images/content/already/img_2.jpg" srcset="images/content/already/img_2@2x.jpg 2x" alt=""></span>
                            <span class="already-item__text">
                                <span class="already-item__title">project <span>air</span></span>
                                <span class="already-item__price">253 900 ₽</span>
                            </span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="already-item" href="#">
                            <span class="already-item__image"><img src="images/content/already/img_3.jpg" srcset="images/content/already/img_3@2x.jpg 2x" alt=""></span>
                            <span class="already-item__text">
                                <span class="already-item__title">project <span>evo</span></span>
                                <span class="already-item__price">253 900 ₽</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="slider-navigation">
                <button class="js-already-prev swiper-button-prev" type="button">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_left" />
                    </svg>
                </button>

                <div class="js-already-navigation swiper-pagination"></div>

                <button class="js-already-next swiper-button-next" type="button">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_right" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>