<section class="page__section">
    <p class="pre-title"><span>Компоненты</span></p>
    <h2>Компоненты нашего пк</h2>

    <div class="components">
        <div class="components__block">
            <div class="accordion">
                <button class="js-component-toggler accordion__toggler" type="button" data-target="1">
                    <span>Видеокарта</span>
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_down" />
                    </svg>
                </button>
                <div class="accordion__body">
                    <div class="component">
                        <h3>Хватит для всех игр</h3>
                        <p>
                            Мы подобрали память и накопители, соответствующие производительности ПК. Формат DDR4, представленный планками объемом 16 ГБ, и SSD до 1 ТБ — это базовый набор, чтобы начать новое захватывающее путешествие в мир видеоигр.
                        </p>
                        <div class="component__features">
                            <div class="component__feature">
                                <p>Объем памяти</p>
                                <p class="component__feature-pref">до 16 ГБ</p>
                            </div>

                            <div class="component__feature">
                                <p>Частота памяти</p>
                                <p class="component__feature-pref">до 6000 МГЦ</p>
                            </div>
                        </div>
                        <div class="component__image">
                            <img src="images/content/components/img_2.png" srcset="images/content/components/img_2@2x.png 2x" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <button class="js-component-toggler accordion__toggler" type="button" data-target="2">
                    <span>Процессор</span>
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_down" />
                    </svg>
                </button>
                <div class="accordion__body">
                    <div class="component">
                        <h3>Хватит для всех игр</h3>
                        <p>
                            Мы подобрали память и накопители, соответствующие производительности ПК. Формат DDR4, представленный планками объемом 16 ГБ, и SSD до 1 ТБ — это базовый набор, чтобы начать новое захватывающее путешествие в мир видеоигр.
                        </p>
                        <div class="component__features">
                            <div class="component__feature">
                                <p>Объем памяти</p>
                                <p class="component__feature-pref">до 16 ГБ</p>
                            </div>

                            <div class="component__feature">
                                <p>Частота памяти</p>
                                <p class="component__feature-pref">до 6000 МГЦ</p>
                            </div>
                        </div>
                        <div class="component__image">
                            <img src="images/content/components/img_2.png" srcset="images/content/components/img_2@2x.png 2x" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <button class="js-component-toggler accordion__toggler" type="button" data-target="3">
                    <span>Оперативная память и SSD</span>
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_down" />
                    </svg>
                </button>
                <div class="accordion__body">
                    <div class="component">
                        <h3>Хватит для всех игр</h3>
                        <p>
                            Мы подобрали память и накопители, соответствующие производительности ПК. Формат DDR4, представленный планками объемом 16 ГБ, и SSD до 1 ТБ — это базовый набор, чтобы начать новое захватывающее путешествие в мир видеоигр.
                        </p>
                        <div class="component__features">
                            <div class="component__feature">
                                <p>Объем памяти</p>
                                <p class="component__feature-pref">до 16 ГБ</p>
                            </div>

                            <div class="component__feature">
                                <p>Частота памяти</p>
                                <p class="component__feature-pref">до 6000 МГЦ</p>
                            </div>
                        </div>
                        <div class="component__image">
                            <img src="images/content/components/img_2.png" srcset="images/content/components/img_2@2x.png 2x" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <button class="js-component-toggler accordion__toggler" type="button" data-target="4">
                    <span>Охлаждение</span>
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_down" />
                    </svg>
                </button>
                <div class="accordion__body">
                    <div class="component">
                        <h3>Хватит для всех игр</h3>
                        <p>
                            Мы подобрали память и накопители, соответствующие производительности ПК. Формат DDR4, представленный планками объемом 16 ГБ, и SSD до 1 ТБ — это базовый набор, чтобы начать новое захватывающее путешествие в мир видеоигр.
                        </p>
                        <div class="component__features">
                            <div class="component__feature">
                                <p>Объем памяти</p>
                                <p class="component__feature-pref">до 16 ГБ</p>
                            </div>

                            <div class="component__feature">
                                <p>Частота памяти</p>
                                <p class="component__feature-pref">до 6000 МГЦ</p>
                            </div>
                        </div>
                        <div class="component__image">
                            <img src="images/content/components/img_2.png" srcset="images/content/components/img_2@2x.png 2x" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="components__block">
            <div class="component-image" data-target="1">
                <img src="images/content/components/img_1.png" srcset="images/content/components/img_1@2x.png 2x" alt="">
            </div>
            <div class="component-image" data-target="2">
                <img src="images/content/components/img_1.png" srcset="images/content/components/img_1@2x.png 2x" alt="">
            </div>
            <div class="component-image" data-target="3">
                <img src="images/content/components/img_1.png" srcset="images/content/components/img_1@2x.png 2x" alt="">
            </div>
            <div class="component-image" data-target="4">
                <img src="images/content/components/img_1.png" srcset="images/content/components/img_1@2x.png 2x" alt="">
            </div>
        </div>
    </div>
</section>