<section class="page__section">
    <p class="pre-title"><span>Комплектация</span></p>
    <h2>Вместе с ПК вы получите</h2>
    <div class="page__section-inner">
        <div class="page__section-text">
            <p>Все комплектующие новые, с официальной гарантией. Вы получаете полный комплект вместе со своим ПК</p>
        </div>

        <div class="features">
            <div class="feature">
                <p class="feature__title">Чеки</p>
                <div class="feature__text">
                    <p>Чеки на все комплектующие, подтверждающие официальную гарантию. На видеокарты гарантия 2 года, на блоки питания от 3х лет, на процессоры 3 года, на оперативную память 10 лет и так далее</p>
                </div>
            </div>
            <div class="feature">
                <p class="feature__title">Коробки</p>
                <div class="feature__text">
                    <p>Коробки от всех комплектующих, что используются в вашей сборке</p>
                </div>
            </div>
            <div class="feature">
                <p class="feature__title">Документация</p>
                <div class="feature__text">
                    <p>Документация от всех комплектующих, что используются в вашей сборке</p>
                </div>
            </div>
            <div class="feature">
                <p class="feature__title">Кабели</p>
                <div class="feature__text">
                    <p>Кабель питания, кабели SATA, дополнительные крепления, Wi-Fi модуль (по вашему желанию)</p>
                </div>
            </div>
        </div>
    </div>
</section>