<section class="page__section">
    <h1>Project ONE</h1>

    <div class="image-wide">
        <img src="images/content/img_wide.jpg" srcset="images/content/img_wide@2x.jpg 2x" alt="">
    </div>

    <div class="config_2">
        <p class="pre-title"><span>Улучши свою сборку</span></p>
        <h2>Комплектация</h2>

        <div class="config_2__row config_2__row--components">
            <div class="config_2__block">
                <div class="config_2-item">
                    <div class="config_2-item__title-block">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#cpu" />
                        </svg>
                        <div>
                            <p class="config_2-item__pre-title">Процессор:</p>
                            <p class="config_2-item__title">Intel i3-10100F</p>
                        </div>
                    </div>

                    <div class="config_2-item__chars">
                        <p><span>Ядер</span> <span>4</span></p>
                        <p><span>Потоков</span> <span>8</span></p>
                        <p><span>Частота до</span> <span>4.3 ГГц</span></p>
                    </div>
                </div>
            </div>
            <div class="config_2__block">
                <div class="config_2-item">
                    <div class="config_2-item__title-block">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#gpu" />
                        </svg>
                        <div>
                            <p class="config_2-item__pre-title">Видеокарта:</p>
                            <p class="config_2-item__title">GTX 1650 на 4GB</p>
                        </div>
                    </div>

                    <div class="config_2-item__chars">
                        <p><span>Объем памяти</span> <span>8 Гб</span></p>
                        <p><span>Тип памяти</span> <span>GDDR 6</span></p>
                        <p><span>Мах частота</span> <span>1852 МГц</span></p>
                    </div>
                </div>
            </div>
            <div class="config_2__block">
                <div class="config_2-item">
                    <div class="config_2-item__title-block">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#mb" />
                        </svg>
                        <div>
                            <p class="config_2-item__pre-title">Материнская плата:</p>
                            <p class="config_2-item__title">MSI PRO H410M</p>
                        </div>
                    </div>

                    <div class="config_2-item__chars">
                        <p><span>Чипсет</span> <span>Intel B760</span></p>
                        <p><span>Сокет</span> <span>LGA 1700</span></p>
                        <p><span>Тип памяти</span> <span>DDR4</span></p>
                    </div>
                </div>
            </div>
            <div class="config_2__block">
                <div class="config_2-item">
                    <div class="config_2-item__title-block">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#ram" />
                        </svg>
                        <div>
                            <p class="config_2-item__pre-title">Оперативная память:</p>
                            <p class="config_2-item__title">ADATA XPG на 16GB</p>
                        </div>
                    </div>

                    <div class="config_2-item__chars">
                        <p><span>Тип памяти</span> <span>DDR4</span></p>
                        <p><span>Частота</span> <span>3600</span></p>
                        <p><span>Объем</span> <span>16 GB</span></p>
                    </div>
                </div>
            </div>
            <div class="config_2__block">
                <div class="config_2-item">
                    <div class="config_2-item__title-block">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#ssd" />
                        </svg>
                        <div>
                            <p class="config_2-item__pre-title">SSD накопитель:</p>
                            <p class="config_2-item__title">Colorful SL500 на 1TB</p>
                        </div>
                    </div>

                    <div class="config_2-item__chars">
                        <p><span>Объем</span> <span>240</span></p>
                        <p><span>Мах скорость записи</span> <span>320</span></p>
                        <p><span>Мах скорость чтения</span> <span>500</span></p>
                    </div>
                </div>
            </div>
            <div class="config_2__block">
                <div class="config_2-item">
                    <div class="config_2-item__title-block">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#power" />
                        </svg>
                        <div>
                            <p class="config_2-item__pre-title">Блок питания:</p>
                            <p class="config_2-item__title">Deepcool на 600W</p>
                        </div>
                    </div>

                    <div class="config_2-item__chars">
                        <p><span>Сертификат</span> <span>Standard</span></p>
                        <p><span>Мах мощность</span> <span>600</span></p>
                        <p><span>RGB</span> <span>отсутствует</span></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="config_2__columns columns_1_1">
            <div class="config_2__image columns_1_1__column_1">
                <img src="images/content/about-delivery/img_1.png" srcset="images/content/about-delivery/img_1@2x.png 2x" alt="">
            </div>

            <form class="columns_1_1__column_1">
                <div class="config_2__row config_2__row--choose">
                    <div class="config_2__block">
                        <p class="config_2__block-title">Оперативная память:</p>
                        <label class="config_2__radio">
                            <input type="radio" name="ram" value="1" checked>
                            <span class="config_2__radio-text">
                                <span class="config_2__radio-title">ADATA XPG на 16 GB</span>
                            </span>
                        </label>
                        <label class="config_2__radio">
                            <input type="radio" name="ram" value="2">
                            <span class="config_2__radio-text">
                                <span class="config_2__radio-title">ADATA XPG на 16 GB</span>
                                <span class="config_2__radio-add">+800 ₽</span>
                            </span>
                        </label>
                        <label class="config_2__radio">
                            <input type="radio" name="ram" value="3">
                            <span class="config_2__radio-text">
                                <span class="config_2__radio-title">ADATA XPG на 16 GB</span>
                                <span class="config_2__radio-add">+1300 ₽</span>
                            </span>
                        </label>
                    </div>
                    <div class="config_2__block">
                        <p class="config_2__block-title">SSD накопитель:</p>
                        <label class="config_2__radio">
                            <input type="radio" name="ssd" value="1" checked>
                            <span class="config_2__radio-text">
                                <span class="config_2__radio-title">Colorful SL500 на 1 TB</span>
                            </span>
                        </label>
                        <label class="config_2__radio">
                            <input type="radio" name="ssd" value="2">
                            <span class="config_2__radio-text">
                                <span class="config_2__radio-title">Colorful SL500 на 1 TB</span>
                                <span class="config_2__radio-add">+800 ₽</span>
                            </span>
                        </label>
                        <label class="config_2__radio">
                            <input type="radio" name="ssd" value="3">
                            <span class="config_2__radio-text">
                                <span class="config_2__radio-title">Colorful SL500 на 1 TB</span>
                                <span class="config_2__radio-add">+1300 ₽</span>
                            </span>
                        </label>
                    </div>
                </div>

                <div class="config_2__row config_2__row--choose">
                    <div class="config_2__block">
                        <p class="config_2__block-title">Информация о доставке:</p>
                        <p class="config_2__price-container">
                            <span class="config_2__price-title">Самовывоз из магазина:</span>
                            <span class="config_2__price"><span>0 ₽</span></span>
                        </p>
                        <p class="config_2__price-container">
                            <span class="config_2__price-title">Доставка курьером:</span>
                            <span class="config_2__price"><span>400 ₽</span></span>
                        </p>
                        <p class="config_2__price-container">
                            <span class="config_2__price-title">Получить в пункте выдачи:</span>
                            <span class="config_2__price"><span>800 ₽</span></span>
                        </p>
                    </div>
                    <div class="config_2__block config_2__price-block">
                        <p class="config_2__price-container">
                            <span class="config_2__price-title">Итоговая стоимость:</span>
                            <span class="config_2__price"><span>от 112 700 ₽</span></span>
                        </p>
                        <p class="config_2__credit">
                            <a href="#">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#question"></use>
                                </svg>
                                Доступно в кредит
                            </a>
                        </p>
                        <div class="config_2__button-block">
                            <a class="config_2__button button" href="#">
                                <span>Добавить в корзину</span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#button_arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>