<section class="page__section">
    <p class="pre-title"><span>Серия Project ONE</span></p>
    <h2>Варианты project one</h2>

    <div class="complects">
        <div class="complects__nav">
            <button class="js-complects-tab complects__nav-button is-active" type="button" data-target="1">
                <span class="complects__nav-button-qnt">7 комлектаций</span><br>
                <span class="complects__nav-button-title">Project one</span>
            </button>
            <button class="js-complects-tab complects__nav-button" type="button" data-target="2">
                <span class="complects__nav-button-qnt">5 комлектаций</span><br>
                <span class="complects__nav-button-title">Project one PRO</span>
            </button>
        </div>
        <div class="complects__tabs">
            <div class="complects__tab is-active" data-target="1">
                <div class="cards-slider slider-container">
                    <div class="js-cards-slider swiper" data-id="cards_1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card__image">
                                        <img src="images/content/computers/img_2.png" srcset="images/content/computers/img_2@2x.png 2x" alt="">
                                    </div>
                                    <p class="card__title">Project one</p>
                                    <p class="card__info-title">Детали</p>
                                    <div class="card__info">
                                        <p>
                                            <span>i5-13600K</span>
                                            <span>Intel Core 3.5-5.1GHz14 ядер/20&nbsp;потоков</span>
                                        </p>
                                        <p>
                                            <span>RTX 4070Ti</span>
                                            <span>12GB GDDR6XNVIDIA GeForce</span>
                                        </p>
                                        <p>
                                            <span>32GB RGB</span>
                                            <span>DDR5 5200Mhz2 x 16Gb</span>
                                        </p>
                                        <p>
                                            <span>500GB</span>
                                            <span>SSD NVMe 4.0W/R: 5000/6900 Мб/с</span>
                                        </p>
                                        <p>
                                            <span>Не выбрано</span>
                                            <span>Без дополнительного NVME накопителя</span>
                                        </p>
                                        <p>
                                            <span>1TB</span>
                                            <span>SSD SATA 2'5W/R: 520/560 Мб/с</span>
                                        </p>
                                    </div>
                                    <div class="card__price-block">
                                        <p class="card__price-container">
                                            <span class="card__price-title">Цена</span>
                                            <span class="card__price"><span>от 112 700 ₽</span></span>
                                        </p>
                                        <p class="card__credit">
                                            <a href="#">
                                                <svg aria-hidden="true">
                                                    <use xlink:href="images/sprite.svg#question"></use>
                                                </svg>
                                                Доступно в кредит
                                            </a>
                                        </p>
                                    </div>
                                    <div class="card__buttons">
                                        <a class="button button--w_385" href="#">
                                            <span>Добавить в корзину</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                        <a class="button button--bordered button--w_385" href="#">
                                            <span>Сконфигурировать</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card__image">
                                        <img src="images/content/computers/img_2.png" srcset="images/content/computers/img_2@2x.png 2x" alt="">
                                    </div>
                                    <p class="card__title">Project one</p>
                                    <p class="card__info-title">Детали</p>
                                    <div class="card__info">
                                        <p>
                                            <span>i5-13600K</span>
                                            <span>Intel Core 3.5-5.1GHz14 ядер/20 потоков</span>
                                        </p>
                                        <p>
                                            <span>RTX 4070Ti</span>
                                            <span>12GB GDDR6XNVIDIA GeForce</span>
                                        </p>
                                        <p>
                                            <span>32GB RGB</span>
                                            <span>DDR5 5200Mhz2 x 16Gb</span>
                                        </p>
                                        <p>
                                            <span>500GB</span>
                                            <span>SSD NVMe 4.0W/R: 5000/6900 Мб/с</span>
                                        </p>
                                        <p>
                                            <span>Не выбрано</span>
                                            <span>Без дополнительного NVME накопителя</span>
                                        </p>
                                        <p>
                                            <span>1TB</span>
                                            <span>SSD SATA 2'5W/R: 520/560 Мб/с</span>
                                        </p>
                                    </div>
                                    <div class="card__price-block">
                                        <p class="card__price-container">
                                            <span class="card__price-title">Цена</span>
                                            <span class="card__price"><span>от 112 700 ₽</span></span>
                                        </p>
                                        <p class="card__credit">
                                            <a href="#">
                                                <svg aria-hidden="true">
                                                    <use xlink:href="images/sprite.svg#question"></use>
                                                </svg>
                                                Доступно в кредит
                                            </a>
                                        </p>
                                    </div>
                                    <div class="card__buttons">
                                        <a class="button button--w_385" href="#">
                                            <span>Добавить в корзину</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                        <a class="button button--bordered button--w_385" href="#">
                                            <span>Сконфигурировать</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card__image">
                                        <img src="images/content/computers/img_2.png" srcset="images/content/computers/img_2@2x.png 2x" alt="">
                                    </div>
                                    <p class="card__title">Project one</p>
                                    <p class="card__info-title">Детали</p>
                                    <div class="card__info">
                                        <p>
                                            <span>i5-13600K</span>
                                            <span>Intel Core 3.5-5.1GHz14 ядер/20 потоков</span>
                                        </p>
                                        <p>
                                            <span>RTX 4070Ti</span>
                                            <span>12GB GDDR6XNVIDIA GeForce</span>
                                        </p>
                                        <p>
                                            <span>32GB RGB</span>
                                            <span>DDR5 5200Mhz2 x 16Gb</span>
                                        </p>
                                        <p>
                                            <span>500GB</span>
                                            <span>SSD NVMe 4.0W/R: 5000/6900 Мб/с</span>
                                        </p>
                                        <p>
                                            <span>Не выбрано</span>
                                            <span>Без дополнительного NVME накопителя</span>
                                        </p>
                                        <p>
                                            <span>1TB</span>
                                            <span>SSD SATA 2'5W/R: 520/560 Мб/с</span>
                                        </p>
                                    </div>
                                    <div class="card__price-block">
                                        <p class="card__price-container">
                                            <span class="card__price-title">Цена</span>
                                            <span class="card__price"><span>от 112 700 ₽</span></span>
                                        </p>
                                        <p class="card__credit">
                                            <a href="#">
                                                <svg aria-hidden="true">
                                                    <use xlink:href="images/sprite.svg#question"></use>
                                                </svg>
                                                Доступно в кредит
                                            </a>
                                        </p>
                                    </div>
                                    <div class="card__buttons">
                                        <a class="button button--w_385" href="#">
                                            <span>Добавить в корзину</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                        <a class="button button--bordered button--w_385" href="#">
                                            <span>Сконфигурировать</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card__image">
                                        <img src="images/content/computers/img_2.png" srcset="images/content/computers/img_2@2x.png 2x" alt="">
                                    </div>
                                    <p class="card__title">Project one</p>
                                    <p class="card__info-title">Детали</p>
                                    <div class="card__info">
                                        <p>
                                            <span>i5-13600K</span>
                                            <span>Intel Core 3.5-5.1GHz14 ядер/20&nbsp;потоков</span>
                                        </p>
                                        <p>
                                            <span>RTX 4070Ti</span>
                                            <span>12GB GDDR6XNVIDIA GeForce</span>
                                        </p>
                                        <p>
                                            <span>32GB RGB</span>
                                            <span>DDR5 5200Mhz2 x 16Gb</span>
                                        </p>
                                        <p>
                                            <span>500GB</span>
                                            <span>SSD NVMe 4.0W/R: 5000/6900 Мб/с</span>
                                        </p>
                                        <p>
                                            <span>Не выбрано</span>
                                            <span>Без дополнительного NVME накопителя</span>
                                        </p>
                                        <p>
                                            <span>1TB</span>
                                            <span>SSD SATA 2'5W/R: 520/560 Мб/с</span>
                                        </p>
                                    </div>
                                    <div class="card__price-block">
                                        <p class="card__price-container">
                                            <span class="card__price-title">Цена</span>
                                            <span class="card__price"><span>от 112 700 ₽</span></span>
                                        </p>
                                        <p class="card__credit">
                                            <a href="#">
                                                <svg aria-hidden="true">
                                                    <use xlink:href="images/sprite.svg#question"></use>
                                                </svg>
                                                Доступно в кредит
                                            </a>
                                        </p>
                                    </div>
                                    <div class="card__buttons">
                                        <a class="button button--w_385" href="#">
                                            <span>Добавить в корзину</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                        <a class="button button--bordered button--w_385" href="#">
                                            <span>Сконфигурировать</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card__image">
                                        <img src="images/content/computers/img_2.png" srcset="images/content/computers/img_2@2x.png 2x" alt="">
                                    </div>
                                    <p class="card__title">Project one</p>
                                    <p class="card__info-title">Детали</p>
                                    <div class="card__info">
                                        <p>
                                            <span>i5-13600K</span>
                                            <span>Intel Core 3.5-5.1GHz14 ядер/20 потоков</span>
                                        </p>
                                        <p>
                                            <span>RTX 4070Ti</span>
                                            <span>12GB GDDR6XNVIDIA GeForce</span>
                                        </p>
                                        <p>
                                            <span>32GB RGB</span>
                                            <span>DDR5 5200Mhz2 x 16Gb</span>
                                        </p>
                                        <p>
                                            <span>500GB</span>
                                            <span>SSD NVMe 4.0W/R: 5000/6900 Мб/с</span>
                                        </p>
                                        <p>
                                            <span>Не выбрано</span>
                                            <span>Без дополнительного NVME накопителя</span>
                                        </p>
                                        <p>
                                            <span>1TB</span>
                                            <span>SSD SATA 2'5W/R: 520/560 Мб/с</span>
                                        </p>
                                    </div>
                                    <div class="card__price-block">
                                        <p class="card__price-container">
                                            <span class="card__price-title">Цена</span>
                                            <span class="card__price"><span>от 112 700 ₽</span></span>
                                        </p>
                                        <p class="card__credit">
                                            <a href="#">
                                                <svg aria-hidden="true">
                                                    <use xlink:href="images/sprite.svg#question"></use>
                                                </svg>
                                                Доступно в кредит
                                            </a>
                                        </p>
                                    </div>
                                    <div class="card__buttons">
                                        <a class="button button--w_385" href="#">
                                            <span>Добавить в корзину</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                        <a class="button button--bordered button--w_385" href="#">
                                            <span>Сконфигурировать</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card__image">
                                        <img src="images/content/computers/img_2.png" srcset="images/content/computers/img_2@2x.png 2x" alt="">
                                    </div>
                                    <p class="card__title">Project one</p>
                                    <p class="card__info-title">Детали</p>
                                    <div class="card__info">
                                        <p>
                                            <span>i5-13600K</span>
                                            <span>Intel Core 3.5-5.1GHz14 ядер/20 потоков</span>
                                        </p>
                                        <p>
                                            <span>RTX 4070Ti</span>
                                            <span>12GB GDDR6XNVIDIA GeForce</span>
                                        </p>
                                        <p>
                                            <span>32GB RGB</span>
                                            <span>DDR5 5200Mhz2 x 16Gb</span>
                                        </p>
                                        <p>
                                            <span>500GB</span>
                                            <span>SSD NVMe 4.0W/R: 5000/6900 Мб/с</span>
                                        </p>
                                        <p>
                                            <span>Не выбрано</span>
                                            <span>Без дополнительного NVME накопителя</span>
                                        </p>
                                        <p>
                                            <span>1TB</span>
                                            <span>SSD SATA 2'5W/R: 520/560 Мб/с</span>
                                        </p>
                                    </div>
                                    <div class="card__price-block">
                                        <p class="card__price-container">
                                            <span class="card__price-title">Цена</span>
                                            <span class="card__price"><span>от 112 700 ₽</span></span>
                                        </p>
                                        <p class="card__credit">
                                            <a href="#">
                                                <svg aria-hidden="true">
                                                    <use xlink:href="images/sprite.svg#question"></use>
                                                </svg>
                                                Доступно в кредит
                                            </a>
                                        </p>
                                    </div>
                                    <div class="card__buttons">
                                        <a class="button button--w_385" href="#">
                                            <span>Добавить в корзину</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                        <a class="button button--bordered button--w_385" href="#">
                                            <span>Сконфигурировать</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card__image">
                                        <img src="images/content/computers/img_2.png" srcset="images/content/computers/img_2@2x.png 2x" alt="">
                                    </div>
                                    <p class="card__title">Project one</p>
                                    <p class="card__info-title">Детали</p>
                                    <div class="card__info">
                                        <p>
                                            <span>i5-13600K</span>
                                            <span>Intel Core 3.5-5.1GHz14 ядер/20&nbsp;потоков</span>
                                        </p>
                                        <p>
                                            <span>RTX 4070Ti</span>
                                            <span>12GB GDDR6XNVIDIA GeForce</span>
                                        </p>
                                        <p>
                                            <span>32GB RGB</span>
                                            <span>DDR5 5200Mhz2 x 16Gb</span>
                                        </p>
                                        <p>
                                            <span>500GB</span>
                                            <span>SSD NVMe 4.0W/R: 5000/6900 Мб/с</span>
                                        </p>
                                        <p>
                                            <span>Не выбрано</span>
                                            <span>Без дополнительного NVME накопителя</span>
                                        </p>
                                        <p>
                                            <span>1TB</span>
                                            <span>SSD SATA 2'5W/R: 520/560 Мб/с</span>
                                        </p>
                                    </div>
                                    <div class="card__price-block">
                                        <p class="card__price-container">
                                            <span class="card__price-title">Цена</span>
                                            <span class="card__price"><span>от 112 700 ₽</span></span>
                                        </p>
                                        <p class="card__credit">
                                            <a href="#">
                                                <svg aria-hidden="true">
                                                    <use xlink:href="images/sprite.svg#question"></use>
                                                </svg>
                                                Доступно в кредит
                                            </a>
                                        </p>
                                    </div>
                                    <div class="card__buttons">
                                        <a class="button button--w_385" href="#">
                                            <span>Добавить в корзину</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                        <a class="button button--bordered button--w_385" href="#">
                                            <span>Сконфигурировать</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card__image">
                                        <img src="images/content/computers/img_2.png" srcset="images/content/computers/img_2@2x.png 2x" alt="">
                                    </div>
                                    <p class="card__title">Project one</p>
                                    <p class="card__info-title">Детали</p>
                                    <div class="card__info">
                                        <p>
                                            <span>i5-13600K</span>
                                            <span>Intel Core 3.5-5.1GHz14 ядер/20 потоков</span>
                                        </p>
                                        <p>
                                            <span>RTX 4070Ti</span>
                                            <span>12GB GDDR6XNVIDIA GeForce</span>
                                        </p>
                                        <p>
                                            <span>32GB RGB</span>
                                            <span>DDR5 5200Mhz2 x 16Gb</span>
                                        </p>
                                        <p>
                                            <span>500GB</span>
                                            <span>SSD NVMe 4.0W/R: 5000/6900 Мб/с</span>
                                        </p>
                                        <p>
                                            <span>Не выбрано</span>
                                            <span>Без дополнительного NVME накопителя</span>
                                        </p>
                                        <p>
                                            <span>1TB</span>
                                            <span>SSD SATA 2'5W/R: 520/560 Мб/с</span>
                                        </p>
                                    </div>
                                    <div class="card__price-block">
                                        <p class="card__price-container">
                                            <span class="card__price-title">Цена</span>
                                            <span class="card__price"><span>от 112 700 ₽</span></span>
                                        </p>
                                        <p class="card__credit">
                                            <a href="#">
                                                <svg aria-hidden="true">
                                                    <use xlink:href="images/sprite.svg#question"></use>
                                                </svg>
                                                Доступно в кредит
                                            </a>
                                        </p>
                                    </div>
                                    <div class="card__buttons">
                                        <a class="button button--w_385" href="#">
                                            <span>Добавить в корзину</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                        <a class="button button--bordered button--w_385" href="#">
                                            <span>Сконфигурировать</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card__image">
                                        <img src="images/content/computers/img_2.png" srcset="images/content/computers/img_2@2x.png 2x" alt="">
                                    </div>
                                    <p class="card__title">Project one</p>
                                    <p class="card__info-title">Детали</p>
                                    <div class="card__info">
                                        <p>
                                            <span>i5-13600K</span>
                                            <span>Intel Core 3.5-5.1GHz14 ядер/20 потоков</span>
                                        </p>
                                        <p>
                                            <span>RTX 4070Ti</span>
                                            <span>12GB GDDR6XNVIDIA GeForce</span>
                                        </p>
                                        <p>
                                            <span>32GB RGB</span>
                                            <span>DDR5 5200Mhz2 x 16Gb</span>
                                        </p>
                                        <p>
                                            <span>500GB</span>
                                            <span>SSD NVMe 4.0W/R: 5000/6900 Мб/с</span>
                                        </p>
                                        <p>
                                            <span>Не выбрано</span>
                                            <span>Без дополнительного NVME накопителя</span>
                                        </p>
                                        <p>
                                            <span>1TB</span>
                                            <span>SSD SATA 2'5W/R: 520/560 Мб/с</span>
                                        </p>
                                    </div>
                                    <div class="card__price-block">
                                        <p class="card__price-container">
                                            <span class="card__price-title">Цена</span>
                                            <span class="card__price"><span>от 112 700 ₽</span></span>
                                        </p>
                                        <p class="card__credit">
                                            <a href="#">
                                                <svg aria-hidden="true">
                                                    <use xlink:href="images/sprite.svg#question"></use>
                                                </svg>
                                                Доступно в кредит
                                            </a>
                                        </p>
                                    </div>
                                    <div class="card__buttons">
                                        <a class="button button--w_385" href="#">
                                            <span>Добавить в корзину</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                        <a class="button button--bordered button--w_385" href="#">
                                            <span>Сконфигурировать</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slider-navigation">
                        <button class="js-cards-slider-prev swiper-button-prev" data-id="cards_1" type="button" title="Назад">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#arrow_left" />
                            </svg>
                        </button>

                        <div class="js-cards-slider-navigation swiper-pagination" data-id="cards_1"></div>

                        <button class="js-cards-slider-next swiper-button-next" data-id="cards_1" type="button" title="Вперёд">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#arrow_right" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="complects__tab" data-target="2">
                <div class="cards-slider slider-container">
                    <div class="js-cards-slider swiper" data-id="cards_2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card__image">
                                        <img src="images/content/computers/img_1.png" srcset="images/content/computers/img_1@2x.png 2x" alt="">
                                    </div>
                                    <p class="card__title">Project one PRO</p>
                                    <p class="card__info-title">Детали</p>
                                    <div class="card__info">
                                        <p>
                                            <span>i5-13600K</span>
                                            <span>Intel Core 3.5-5.1GHz14 ядер/20&nbsp;потоков</span>
                                        </p>
                                        <p>
                                            <span>RTX 4070Ti</span>
                                            <span>12GB GDDR6XNVIDIA GeForce</span>
                                        </p>
                                        <p>
                                            <span>32GB RGB</span>
                                            <span>DDR5 5200Mhz2 x 16Gb</span>
                                        </p>
                                        <p>
                                            <span>500GB</span>
                                            <span>SSD NVMe 4.0W/R: 5000/6900 Мб/с</span>
                                        </p>
                                        <p>
                                            <span>Не выбрано</span>
                                            <span>Без дополнительного NVME накопителя</span>
                                        </p>
                                        <p>
                                            <span>1TB</span>
                                            <span>SSD SATA 2'5W/R: 520/560 Мб/с</span>
                                        </p>
                                    </div>
                                    <div class="card__price-block">
                                        <p class="card__price-container">
                                            <span class="card__price-title">Цена</span>
                                            <span class="card__price"><span>от 112 700 ₽</span></span>
                                        </p>
                                        <p class="card__credit">
                                            <a href="#">
                                                <svg aria-hidden="true">
                                                    <use xlink:href="images/sprite.svg#question"></use>
                                                </svg>
                                                Доступно в кредит
                                            </a>
                                        </p>
                                    </div>
                                    <div class="card__buttons">
                                        <a class="button button--w_385" href="#">
                                            <span>Добавить в корзину</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                        <a class="button button--bordered button--w_385" href="#">
                                            <span>Сконфигурировать</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card__image">
                                        <img src="images/content/computers/img_1.png" srcset="images/content/computers/img_1@2x.png 2x" alt="">
                                    </div>
                                    <p class="card__title">Project one PRO</p>
                                    <p class="card__info-title">Детали</p>
                                    <div class="card__info">
                                        <p>
                                            <span>i5-13600K</span>
                                            <span>Intel Core 3.5-5.1GHz14 ядер/20&nbsp;потоков</span>
                                        </p>
                                        <p>
                                            <span>RTX 4070Ti</span>
                                            <span>12GB GDDR6XNVIDIA GeForce</span>
                                        </p>
                                        <p>
                                            <span>32GB RGB</span>
                                            <span>DDR5 5200Mhz2 x 16Gb</span>
                                        </p>
                                        <p>
                                            <span>500GB</span>
                                            <span>SSD NVMe 4.0W/R: 5000/6900 Мб/с</span>
                                        </p>
                                        <p>
                                            <span>Не выбрано</span>
                                            <span>Без дополнительного NVME накопителя</span>
                                        </p>
                                        <p>
                                            <span>1TB</span>
                                            <span>SSD SATA 2'5W/R: 520/560 Мб/с</span>
                                        </p>
                                    </div>
                                    <div class="card__price-block">
                                        <p class="card__price-container">
                                            <span class="card__price-title">Цена</span>
                                            <span class="card__price"><span>от 112 700 ₽</span></span>
                                        </p>
                                        <p class="card__credit">
                                            <a href="#">
                                                <svg aria-hidden="true">
                                                    <use xlink:href="images/sprite.svg#question"></use>
                                                </svg>
                                                Доступно в кредит
                                            </a>
                                        </p>
                                    </div>
                                    <div class="card__buttons">
                                        <a class="button button--w_385" href="#">
                                            <span>Добавить в корзину</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                        <a class="button button--bordered button--w_385" href="#">
                                            <span>Сконфигурировать</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card__image">
                                        <img src="images/content/computers/img_1.png" srcset="images/content/computers/img_1@2x.png 2x" alt="">
                                    </div>
                                    <p class="card__title">Project one PRO</p>
                                    <p class="card__info-title">Детали</p>
                                    <div class="card__info">
                                        <p>
                                            <span>i5-13600K</span>
                                            <span>Intel Core 3.5-5.1GHz14 ядер/20&nbsp;потоков</span>
                                        </p>
                                        <p>
                                            <span>RTX 4070Ti</span>
                                            <span>12GB GDDR6XNVIDIA GeForce</span>
                                        </p>
                                        <p>
                                            <span>32GB RGB</span>
                                            <span>DDR5 5200Mhz2 x 16Gb</span>
                                        </p>
                                        <p>
                                            <span>500GB</span>
                                            <span>SSD NVMe 4.0W/R: 5000/6900 Мб/с</span>
                                        </p>
                                        <p>
                                            <span>Не выбрано</span>
                                            <span>Без дополнительного NVME накопителя</span>
                                        </p>
                                        <p>
                                            <span>1TB</span>
                                            <span>SSD SATA 2'5W/R: 520/560 Мб/с</span>
                                        </p>
                                    </div>
                                    <div class="card__price-block">
                                        <p class="card__price-container">
                                            <span class="card__price-title">Цена</span>
                                            <span class="card__price"><span>от 112 700 ₽</span></span>
                                        </p>
                                        <p class="card__credit">
                                            <a href="#">
                                                <svg aria-hidden="true">
                                                    <use xlink:href="images/sprite.svg#question"></use>
                                                </svg>
                                                Доступно в кредит
                                            </a>
                                        </p>
                                    </div>
                                    <div class="card__buttons">
                                        <a class="button button--w_385" href="#">
                                            <span>Добавить в корзину</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                        <a class="button button--bordered button--w_385" href="#">
                                            <span>Сконфигурировать</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card__image">
                                        <img src="images/content/computers/img_1.png" srcset="images/content/computers/img_1@2x.png 2x" alt="">
                                    </div>
                                    <p class="card__title">Project one PRO</p>
                                    <p class="card__info-title">Детали</p>
                                    <div class="card__info">
                                        <p>
                                            <span>i5-13600K</span>
                                            <span>Intel Core 3.5-5.1GHz14 ядер/20&nbsp;потоков</span>
                                        </p>
                                        <p>
                                            <span>RTX 4070Ti</span>
                                            <span>12GB GDDR6XNVIDIA GeForce</span>
                                        </p>
                                        <p>
                                            <span>32GB RGB</span>
                                            <span>DDR5 5200Mhz2 x 16Gb</span>
                                        </p>
                                        <p>
                                            <span>500GB</span>
                                            <span>SSD NVMe 4.0W/R: 5000/6900 Мб/с</span>
                                        </p>
                                        <p>
                                            <span>Не выбрано</span>
                                            <span>Без дополнительного NVME накопителя</span>
                                        </p>
                                        <p>
                                            <span>1TB</span>
                                            <span>SSD SATA 2'5W/R: 520/560 Мб/с</span>
                                        </p>
                                    </div>
                                    <div class="card__price-block">
                                        <p class="card__price-container">
                                            <span class="card__price-title">Цена</span>
                                            <span class="card__price"><span>от 112 700 ₽</span></span>
                                        </p>
                                        <p class="card__credit">
                                            <a href="#">
                                                <svg aria-hidden="true">
                                                    <use xlink:href="images/sprite.svg#question"></use>
                                                </svg>
                                                Доступно в кредит
                                            </a>
                                        </p>
                                    </div>
                                    <div class="card__buttons">
                                        <a class="button button--w_385" href="#">
                                            <span>Добавить в корзину</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                        <a class="button button--bordered button--w_385" href="#">
                                            <span>Сконфигурировать</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card__image">
                                        <img src="images/content/computers/img_1.png" srcset="images/content/computers/img_1@2x.png 2x" alt="">
                                    </div>
                                    <p class="card__title">Project one PRO</p>
                                    <p class="card__info-title">Детали</p>
                                    <div class="card__info">
                                        <p>
                                            <span>i5-13600K</span>
                                            <span>Intel Core 3.5-5.1GHz14 ядер/20&nbsp;потоков</span>
                                        </p>
                                        <p>
                                            <span>RTX 4070Ti</span>
                                            <span>12GB GDDR6XNVIDIA GeForce</span>
                                        </p>
                                        <p>
                                            <span>32GB RGB</span>
                                            <span>DDR5 5200Mhz2 x 16Gb</span>
                                        </p>
                                        <p>
                                            <span>500GB</span>
                                            <span>SSD NVMe 4.0W/R: 5000/6900 Мб/с</span>
                                        </p>
                                        <p>
                                            <span>Не выбрано</span>
                                            <span>Без дополнительного NVME накопителя</span>
                                        </p>
                                        <p>
                                            <span>1TB</span>
                                            <span>SSD SATA 2'5W/R: 520/560 Мб/с</span>
                                        </p>
                                    </div>
                                    <div class="card__price-block">
                                        <p class="card__price-container">
                                            <span class="card__price-title">Цена</span>
                                            <span class="card__price"><span>от 112 700 ₽</span></span>
                                        </p>
                                        <p class="card__credit">
                                            <a href="#">
                                                <svg aria-hidden="true">
                                                    <use xlink:href="images/sprite.svg#question"></use>
                                                </svg>
                                                Доступно в кредит
                                            </a>
                                        </p>
                                    </div>
                                    <div class="card__buttons">
                                        <a class="button button--w_385" href="#">
                                            <span>Добавить в корзину</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                        <a class="button button--bordered button--w_385" href="#">
                                            <span>Сконфигурировать</span>
                                            <svg aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slider-navigation">
                        <button class="js-cards-slider-prev swiper-button-prev" data-id="cards_2" type="button" title="Назад">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#arrow_left" />
                            </svg>
                        </button>

                        <div class="js-cards-slider-navigation swiper-pagination" data-id="cards_2"></div>

                        <button class="js-cards-slider-next swiper-button-next" data-id="cards_2" type="button" title="Вперёд">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#arrow_right" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>