<section class="page__section">
    <p class="pre-title"><span>Серия Project ONE</span></p>
    <h2>Все конфигурации project&nbsp;one</h2>

    <div class="products-list">
        <div class="card">
            <div class="card__image">
                <a href="computer.html">
                    <img src="images/content/series/alisio_xs.png" srcset="images/content/series/alisio_s.png 2x" alt="">
                </a>
            </div>

            <div class="card__title-block">
                <p class="card__title"><a href="computer.html">Project alisio</a></p>
                <button class="js-card-fps-opener card__fps-button" type="button" title="Посмотреть графики FPS">FPS</button>
            </div>

            <div class="card__inner">
                <div class="card__inner-top">
                    <div class="card__price-block">
                        <span class="card__price"><span>от 112 700 ₽</span></span>
                        <p class="card__credit">
                            <a href="#">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#question"></use>
                                </svg>
                                Доступно в кредит
                            </a>
                        </p>
                    </div>

                    <div class="card__buttons">
                        <a class="button button--w_385" href="#">
                            <span>В корзину</span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                            </svg>
                        </a>
                        <a class="button button--bordered button--w_385" href="computer.html">
                            <span>Улучшить</span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="card__info">
                    <p title="Процессор">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#cpu"></use>
                        </svg>
                        <span>i5-13600K</span>
                    </p>
                    <p title="Видеокарта">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#gpu"></use>
                        </svg>
                        <span>RTX 4070Ti</span>
                    </p>
                    <p title="Оперативная память">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#ram"></use>
                        </svg>
                        <span>32GB RGB</span>
                    </p>
                    <p title="SSD накопитель">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#ssd"></use>
                        </svg>
                        <span>500GB</span>
                    </p>
                    <p title="Материнская плата">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#mb"></use>
                        </svg>
                        <span>AsRock B450</span>
                    </p>
                    <p title="Охлаждение">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#air"></use>
                        </svg>
                        <span>Zalman CNPS9X</span>
                    </p>
                </div>

                <button class="card__spec-button button button--bordered" type="button" data-fancybox="spec_1" data-src="#spec_popup">Полная спецификация</button>

                <div id="spec_popup" class="popup popup--w_1000">
                    <p class="popup__title">Комплектующие</p>

                    <div class="speka">
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#cpu"></use>
                                </svg>
                                Процессор
                            </span>
                            <span>Intel® Core™ i5-12400(F) [до 4.4GHz, 6 ядер]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#gpu"></use>
                                </svg>
                                Видеокарта
                            </span>
                            <span>Palit GeForce RTX 4060 Dual [8GB, 3072 CUDA]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#ram"></use>
                                </svg>
                                Оперативная память
                            </span>
                            <span>16GB Kingston Fury Beast RGB [DDR4, 3600MHz, 2x8GB]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#ssd"></use>
                                </svg>
                                SSD накопитель
                            </span>
                            <span>500GB ADATA LEGEND 800 [3500MB/s, Gen4]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#mb"></use>
                                </svg>
                                Материнская плата
                            </span>
                            <span>GIGABYTE B760M DS3H AX [DDR4, Wi-Fi]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#air"></use>
                                </svg>
                                Охлаждение
                            </span>
                            <span>ID-Cooling SE-224-XTS ARGB Black</span>
                        </div>
                    </div>
                </div>

                <div class="card__fps-block">
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_1.jpg" srcset="images/content/games/img_1@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 90%"></div>
                                <div class="fps-item__title">Tom Clancy's Rainbow Six Siege</div>
                                <div class="fps-item__value">214 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_2.jpg" srcset="images/content/games/img_2@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 80%"></div>
                                <div class="fps-item__title">Doom Eternal (2020)</div>
                                <div class="fps-item__value">159 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_3.jpg" srcset="images/content/games/img_3@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 50%"></div>
                                <div class="fps-item__title">World of Tanks</div>
                                <div class="fps-item__value">142 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_4.jpg" srcset="images/content/games/img_4@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 30%"></div>
                                <div class="fps-item__title">Destiny 2</div>
                                <div class="fps-item__value">140 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__image">
                <a href="computer.html">
                    <img src="images/content/series/alisio_xs.png" srcset="images/content/series/alisio_s.png 2x" alt="">
                </a>
            </div>

            <div class="card__title-block">
                <p class="card__title"><a href="computer.html">Project alisio</a></p>
                <button class="js-card-fps-opener card__fps-button" type="button" title="Посмотреть графики FPS">FPS</button>
            </div>

            <div class="card__inner">
                <div class="card__inner-top">
                    <div class="card__price-block">
                        <span class="card__price"><span>от 112 700 ₽</span></span>
                        <p class="card__credit">
                            <a href="#">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#question"></use>
                                </svg>
                                Доступно в кредит
                            </a>
                        </p>
                    </div>

                    <div class="card__buttons">
                        <a class="button button--w_385" href="#">
                            <span>В корзину</span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                            </svg>
                        </a>
                        <a class="button button--bordered button--w_385" href="computer.html">
                            <span>Улучшить</span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="card__info">
                    <p title="Процессор">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#cpu"></use>
                        </svg>
                        <span>i5-13600K</span>
                    </p>
                    <p title="Видеокарта">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#gpu"></use>
                        </svg>
                        <span>RTX 4070Ti</span>
                    </p>
                    <p title="Оперативная память">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#ram"></use>
                        </svg>
                        <span>32GB RGB</span>
                    </p>
                    <p title="SSD накопитель">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#ssd"></use>
                        </svg>
                        <span>500GB</span>
                    </p>
                    <p title="Материнская плата">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#mb"></use>
                        </svg>
                        <span>AsRock B450</span>
                    </p>
                    <p title="Охлаждение">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#air"></use>
                        </svg>
                        <span>Zalman CNPS9X</span>
                    </p>
                </div>

                <button class="card__spec-button button button--bordered" type="button" data-fancybox="spec_2" data-src="#spec_popup">Полная спецификация</button>

                <div id="spec_popup" class="popup popup--w_1000">
                    <p class="popup__title">Комплектующие</p>

                    <div class="speka">
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#cpu"></use>
                                </svg>
                                Процессор
                            </span>
                            <span>Intel® Core™ i5-12400(F) [до 4.4GHz, 6 ядер]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#gpu"></use>
                                </svg>
                                Видеокарта
                            </span>
                            <span>Palit GeForce RTX 4060 Dual [8GB, 3072 CUDA]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#ram"></use>
                                </svg>
                                Оперативная память
                            </span>
                            <span>16GB Kingston Fury Beast RGB [DDR4, 3600MHz, 2x8GB]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#ssd"></use>
                                </svg>
                                SSD накопитель
                            </span>
                            <span>500GB ADATA LEGEND 800 [3500MB/s, Gen4]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#mb"></use>
                                </svg>
                                Материнская плата
                            </span>
                            <span>GIGABYTE B760M DS3H AX [DDR4, Wi-Fi]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#air"></use>
                                </svg>
                                Охлаждение
                            </span>
                            <span>ID-Cooling SE-224-XTS ARGB Black</span>
                        </div>
                    </div>
                </div>

                <div class="card__fps-block">
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_1.jpg" srcset="images/content/games/img_1@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 90%"></div>
                                <div class="fps-item__title">Tom Clancy's Rainbow Six Siege</div>
                                <div class="fps-item__value">214 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_2.jpg" srcset="images/content/games/img_2@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 80%"></div>
                                <div class="fps-item__title">Doom Eternal (2020)</div>
                                <div class="fps-item__value">159 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_3.jpg" srcset="images/content/games/img_3@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 50%"></div>
                                <div class="fps-item__title">World of Tanks</div>
                                <div class="fps-item__value">142 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_4.jpg" srcset="images/content/games/img_4@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 30%"></div>
                                <div class="fps-item__title">Destiny 2</div>
                                <div class="fps-item__value">140 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__image">
                <a href="computer.html">
                    <img src="images/content/series/alisio_xs.png" srcset="images/content/series/alisio_s.png 2x" alt="">
                </a>
            </div>

            <div class="card__title-block">
                <p class="card__title"><a href="computer.html">Project alisio</a></p>
                <button class="js-card-fps-opener card__fps-button" type="button" title="Посмотреть графики FPS">FPS</button>
            </div>

            <div class="card__inner">
                <div class="card__inner-top">
                    <div class="card__price-block">
                        <span class="card__price"><span>от 112 700 ₽</span></span>
                        <p class="card__credit">
                            <a href="#">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#question"></use>
                                </svg>
                                Доступно в кредит
                            </a>
                        </p>
                    </div>

                    <div class="card__buttons">
                        <a class="button button--w_385" href="#">
                            <span>В корзину</span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                            </svg>
                        </a>
                        <a class="button button--bordered button--w_385" href="computer.html">
                            <span>Улучшить</span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="card__info">
                    <p title="Процессор">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#cpu"></use>
                        </svg>
                        <span>i5-13600K</span>
                    </p>
                    <p title="Видеокарта">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#gpu"></use>
                        </svg>
                        <span>RTX 4070Ti</span>
                    </p>
                    <p title="Оперативная память">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#ram"></use>
                        </svg>
                        <span>32GB RGB</span>
                    </p>
                    <p title="SSD накопитель">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#ssd"></use>
                        </svg>
                        <span>500GB</span>
                    </p>
                    <p title="Материнская плата">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#mb"></use>
                        </svg>
                        <span>AsRock B450</span>
                    </p>
                    <p title="Охлаждение">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#air"></use>
                        </svg>
                        <span>Zalman CNPS9X</span>
                    </p>
                </div>

                <button class="card__spec-button button button--bordered" type="button" data-fancybox="spec_3" data-src="#spec_popup">Полная спецификация</button>

                <div id="spec_popup" class="popup popup--w_1000">
                    <p class="popup__title">Комплектующие</p>

                    <div class="speka">
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#cpu"></use>
                                </svg>
                                Процессор
                            </span>
                            <span>Intel® Core™ i5-12400(F) [до 4.4GHz, 6 ядер]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#gpu"></use>
                                </svg>
                                Видеокарта
                            </span>
                            <span>Palit GeForce RTX 4060 Dual [8GB, 3072 CUDA]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#ram"></use>
                                </svg>
                                Оперативная память
                            </span>
                            <span>16GB Kingston Fury Beast RGB [DDR4, 3600MHz, 2x8GB]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#ssd"></use>
                                </svg>
                                SSD накопитель
                            </span>
                            <span>500GB ADATA LEGEND 800 [3500MB/s, Gen4]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#mb"></use>
                                </svg>
                                Материнская плата
                            </span>
                            <span>GIGABYTE B760M DS3H AX [DDR4, Wi-Fi]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#air"></use>
                                </svg>
                                Охлаждение
                            </span>
                            <span>ID-Cooling SE-224-XTS ARGB Black</span>
                        </div>
                    </div>
                </div>

                <div class="card__fps-block">
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_1.jpg" srcset="images/content/games/img_1@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 90%"></div>
                                <div class="fps-item__title">Tom Clancy's Rainbow Six Siege</div>
                                <div class="fps-item__value">214 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_2.jpg" srcset="images/content/games/img_2@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 80%"></div>
                                <div class="fps-item__title">Doom Eternal (2020)</div>
                                <div class="fps-item__value">159 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_3.jpg" srcset="images/content/games/img_3@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 50%"></div>
                                <div class="fps-item__title">World of Tanks</div>
                                <div class="fps-item__value">142 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_4.jpg" srcset="images/content/games/img_4@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 30%"></div>
                                <div class="fps-item__title">Destiny 2</div>
                                <div class="fps-item__value">140 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__image">
                <a href="computer.html">
                    <img src="images/content/series/alisio_xs.png" srcset="images/content/series/alisio_s.png 2x" alt="">
                </a>
            </div>

            <div class="card__title-block">
                <p class="card__title"><a href="computer.html">Project alisio</a></p>
                <button class="js-card-fps-opener card__fps-button" type="button" title="Посмотреть графики FPS">FPS</button>
            </div>

            <div class="card__inner">
                <div class="card__inner-top">
                    <div class="card__price-block">
                        <span class="card__price"><span>от 112 700 ₽</span></span>
                        <p class="card__credit">
                            <a href="#">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#question"></use>
                                </svg>
                                Доступно в кредит
                            </a>
                        </p>
                    </div>

                    <div class="card__buttons">
                        <a class="button button--w_385" href="#">
                            <span>В корзину</span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                            </svg>
                        </a>
                        <a class="button button--bordered button--w_385" href="computer.html">
                            <span>Улучшить</span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="card__info">
                    <p title="Процессор">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#cpu"></use>
                        </svg>
                        <span>i5-13600K</span>
                    </p>
                    <p title="Видеокарта">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#gpu"></use>
                        </svg>
                        <span>RTX 4070Ti</span>
                    </p>
                    <p title="Оперативная память">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#ram"></use>
                        </svg>
                        <span>32GB RGB</span>
                    </p>
                    <p title="SSD накопитель">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#ssd"></use>
                        </svg>
                        <span>500GB</span>
                    </p>
                    <p title="Материнская плата">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#mb"></use>
                        </svg>
                        <span>AsRock B450</span>
                    </p>
                    <p title="Охлаждение">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#air"></use>
                        </svg>
                        <span>Zalman CNPS9X</span>
                    </p>
                </div>

                <button class="card__spec-button button button--bordered" type="button" data-fancybox="spec_4" data-src="#spec_popup">Полная спецификация</button>

                <div id="spec_popup" class="popup popup--w_1000">
                    <p class="popup__title">Комплектующие</p>

                    <div class="speka">
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#cpu"></use>
                                </svg>
                                Процессор
                            </span>
                            <span>Intel® Core™ i5-12400(F) [до 4.4GHz, 6 ядер]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#gpu"></use>
                                </svg>
                                Видеокарта
                            </span>
                            <span>Palit GeForce RTX 4060 Dual [8GB, 3072 CUDA]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#ram"></use>
                                </svg>
                                Оперативная память
                            </span>
                            <span>16GB Kingston Fury Beast RGB [DDR4, 3600MHz, 2x8GB]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#ssd"></use>
                                </svg>
                                SSD накопитель
                            </span>
                            <span>500GB ADATA LEGEND 800 [3500MB/s, Gen4]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#mb"></use>
                                </svg>
                                Материнская плата
                            </span>
                            <span>GIGABYTE B760M DS3H AX [DDR4, Wi-Fi]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#air"></use>
                                </svg>
                                Охлаждение
                            </span>
                            <span>ID-Cooling SE-224-XTS ARGB Black</span>
                        </div>
                    </div>
                </div>

                <div class="card__fps-block">
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_1.jpg" srcset="images/content/games/img_1@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 90%"></div>
                                <div class="fps-item__title">Tom Clancy's Rainbow Six Siege</div>
                                <div class="fps-item__value">214 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_2.jpg" srcset="images/content/games/img_2@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 80%"></div>
                                <div class="fps-item__title">Doom Eternal (2020)</div>
                                <div class="fps-item__value">159 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_3.jpg" srcset="images/content/games/img_3@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 50%"></div>
                                <div class="fps-item__title">World of Tanks</div>
                                <div class="fps-item__value">142 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_4.jpg" srcset="images/content/games/img_4@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 30%"></div>
                                <div class="fps-item__title">Destiny 2</div>
                                <div class="fps-item__value">140 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__image">
                <a href="computer.html">
                    <img src="images/content/series/alisio_xs.png" srcset="images/content/series/alisio_s.png 2x" alt="">
                </a>
            </div>

            <div class="card__title-block">
                <p class="card__title"><a href="computer.html">Project alisio</a></p>
                <button class="js-card-fps-opener card__fps-button" type="button" title="Посмотреть графики FPS">FPS</button>
            </div>

            <div class="card__inner">
                <div class="card__inner-top">
                    <div class="card__price-block">
                        <span class="card__price"><span>от 112 700 ₽</span></span>
                        <p class="card__credit">
                            <a href="#">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#question"></use>
                                </svg>
                                Доступно в кредит
                            </a>
                        </p>
                    </div>

                    <div class="card__buttons">
                        <a class="button button--w_385" href="#">
                            <span>В корзину</span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                            </svg>
                        </a>
                        <a class="button button--bordered button--w_385" href="computer.html">
                            <span>Улучшить</span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="card__info">
                    <p title="Процессор">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#cpu"></use>
                        </svg>
                        <span>i5-13600K</span>
                    </p>
                    <p title="Видеокарта">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#gpu"></use>
                        </svg>
                        <span>RTX 4070Ti</span>
                    </p>
                    <p title="Оперативная память">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#ram"></use>
                        </svg>
                        <span>32GB RGB</span>
                    </p>
                    <p title="SSD накопитель">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#ssd"></use>
                        </svg>
                        <span>500GB</span>
                    </p>
                    <p title="Материнская плата">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#mb"></use>
                        </svg>
                        <span>AsRock B450</span>
                    </p>
                    <p title="Охлаждение">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#air"></use>
                        </svg>
                        <span>Zalman CNPS9X</span>
                    </p>
                </div>

                <button class="card__spec-button button button--bordered" type="button" data-fancybox="spec_5" data-src="#spec_popup">Полная спецификация</button>

                <div id="spec_popup" class="popup popup--w_1000">
                    <p class="popup__title">Комплектующие</p>

                    <div class="speka">
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#cpu"></use>
                                </svg>
                                Процессор
                            </span>
                            <span>Intel® Core™ i5-12400(F) [до 4.4GHz, 6 ядер]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#gpu"></use>
                                </svg>
                                Видеокарта
                            </span>
                            <span>Palit GeForce RTX 4060 Dual [8GB, 3072 CUDA]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#ram"></use>
                                </svg>
                                Оперативная память
                            </span>
                            <span>16GB Kingston Fury Beast RGB [DDR4, 3600MHz, 2x8GB]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#ssd"></use>
                                </svg>
                                SSD накопитель
                            </span>
                            <span>500GB ADATA LEGEND 800 [3500MB/s, Gen4]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#mb"></use>
                                </svg>
                                Материнская плата
                            </span>
                            <span>GIGABYTE B760M DS3H AX [DDR4, Wi-Fi]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#air"></use>
                                </svg>
                                Охлаждение
                            </span>
                            <span>ID-Cooling SE-224-XTS ARGB Black</span>
                        </div>
                    </div>
                </div>

                <div class="card__fps-block">
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_1.jpg" srcset="images/content/games/img_1@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 90%"></div>
                                <div class="fps-item__title">Tom Clancy's Rainbow Six Siege</div>
                                <div class="fps-item__value">214 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_2.jpg" srcset="images/content/games/img_2@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 80%"></div>
                                <div class="fps-item__title">Doom Eternal (2020)</div>
                                <div class="fps-item__value">159 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_3.jpg" srcset="images/content/games/img_3@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 50%"></div>
                                <div class="fps-item__title">World of Tanks</div>
                                <div class="fps-item__value">142 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_4.jpg" srcset="images/content/games/img_4@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 30%"></div>
                                <div class="fps-item__title">Destiny 2</div>
                                <div class="fps-item__value">140 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__image">
                <a href="computer.html">
                    <img src="images/content/series/alisio_xs.png" srcset="images/content/series/alisio_s.png 2x" alt="">
                </a>
            </div>

            <div class="card__title-block">
                <p class="card__title"><a href="computer.html">Project alisio</a></p>
                <button class="js-card-fps-opener card__fps-button" type="button" title="Посмотреть графики FPS">FPS</button>
            </div>

            <div class="card__inner">
                <div class="card__inner-top">
                    <div class="card__price-block">
                        <span class="card__price"><span>от 112 700 ₽</span></span>
                        <p class="card__credit">
                            <a href="#">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#question"></use>
                                </svg>
                                Доступно в кредит
                            </a>
                        </p>
                    </div>

                    <div class="card__buttons">
                        <a class="button button--w_385" href="#">
                            <span>В корзину</span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                            </svg>
                        </a>
                        <a class="button button--bordered button--w_385" href="computer.html">
                            <span>Улучшить</span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="card__info">
                    <p title="Процессор">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#cpu"></use>
                        </svg>
                        <span>i5-13600K</span>
                    </p>
                    <p title="Видеокарта">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#gpu"></use>
                        </svg>
                        <span>RTX 4070Ti</span>
                    </p>
                    <p title="Оперативная память">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#ram"></use>
                        </svg>
                        <span>32GB RGB</span>
                    </p>
                    <p title="SSD накопитель">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#ssd"></use>
                        </svg>
                        <span>500GB</span>
                    </p>
                    <p title="Материнская плата">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#mb"></use>
                        </svg>
                        <span>AsRock B450</span>
                    </p>
                    <p title="Охлаждение">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#air"></use>
                        </svg>
                        <span>Zalman CNPS9X</span>
                    </p>
                </div>

                <button class="card__spec-button button button--bordered" type="button" data-fancybox="spec_6" data-src="#spec_popup">Полная спецификация</button>

                <div id="spec_popup" class="popup popup--w_1000">
                    <p class="popup__title">Комплектующие</p>

                    <div class="speka">
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#cpu"></use>
                                </svg>
                                Процессор
                            </span>
                            <span>Intel® Core™ i5-12400(F) [до 4.4GHz, 6 ядер]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#gpu"></use>
                                </svg>
                                Видеокарта
                            </span>
                            <span>Palit GeForce RTX 4060 Dual [8GB, 3072 CUDA]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#ram"></use>
                                </svg>
                                Оперативная память
                            </span>
                            <span>16GB Kingston Fury Beast RGB [DDR4, 3600MHz, 2x8GB]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#ssd"></use>
                                </svg>
                                SSD накопитель
                            </span>
                            <span>500GB ADATA LEGEND 800 [3500MB/s, Gen4]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#mb"></use>
                                </svg>
                                Материнская плата
                            </span>
                            <span>GIGABYTE B760M DS3H AX [DDR4, Wi-Fi]</span>
                        </div>
                        <div class="speka__item">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#air"></use>
                                </svg>
                                Охлаждение
                            </span>
                            <span>ID-Cooling SE-224-XTS ARGB Black</span>
                        </div>
                    </div>
                </div>

                <div class="card__fps-block">
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_1.jpg" srcset="images/content/games/img_1@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 90%"></div>
                                <div class="fps-item__title">Tom Clancy's Rainbow Six Siege</div>
                                <div class="fps-item__value">214 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_2.jpg" srcset="images/content/games/img_2@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 80%"></div>
                                <div class="fps-item__title">Doom Eternal (2020)</div>
                                <div class="fps-item__value">159 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_3.jpg" srcset="images/content/games/img_3@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 50%"></div>
                                <div class="fps-item__title">World of Tanks</div>
                                <div class="fps-item__value">142 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_4.jpg" srcset="images/content/games/img_4@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 30%"></div>
                                <div class="fps-item__title">Destiny 2</div>
                                <div class="fps-item__value">140 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>