<section class="page__section">
    <p class="pre-title"><span>Конфигуратор</span></p>
    <h2>Конфигуратор</h2>

    <div class="before-after-container">
        <div id="before-after-slider">
            <div id="before-image">
                <img src="images/content/compare/img_1.jpg" alt="" />
            </div>
            <div id="after-image">
                <img src="images/content/compare/img_2.jpg" alt="" />
            </div>
            <div id="resizer"><button type="button"></button></div>
        </div>
    </div>

    <div class="text-center">
        <a class="button button--w_385" href="#">
            <span>Создать</span>
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#button_arrow"></use>
            </svg>
        </a>
    </div>

</section>