<section class="page__section config">
    <h1>Конфигуратор</h1>

    <p class="config__title">Выберите серию:</p>

    <div class="config__series">
        <label class="config__series-item">
            <input type="radio" name="config_series" value="alisio">
            <span class="config__series-item-inner">
                <span class="config__series-icon"></span>
                <img src="images/content/series/alisio_xs.png" alt="">
                <span class="config__series-title">project alisio</span>
            </span>
        </label>
        <label class="config__series-item">
            <input type="radio" name="config_series" value="duo_face">
            <span class="config__series-item-inner">
                <span class="config__series-icon"></span>
                <img src="images/content/series/duoface_xs.png" alt="">
                <span class="config__series-title">project duo face</span>
            </span>
        </label>
        <label class="config__series-item">
            <input type="radio" name="config_series" value="evo">
            <span class="config__series-item-inner">
                <span class="config__series-icon"></span>
                <img src="images/content/series/evo_xs.png" alt="">
                <span class="config__series-title">project evo</span>
            </span>
        </label>
        <label class="config__series-item">
            <input type="radio" name="config_series" value="forge">
            <span class="config__series-item-inner">
                <span class="config__series-icon"></span>
                <img src="images/content/series/forge_xs.png" alt="">
                <span class="config__series-title">project forge</span>
            </span>
        </label>
        <label class="config__series-item">
            <input type="radio" name="config_series" value="mod">
            <span class="config__series-item-inner">
                <span class="config__series-icon"></span>
                <img src="images/content/series/mod_xs.png" alt="">
                <span class="config__series-title">project mod</span>
            </span>
        </label>
        <label class="config__series-item">
            <input type="radio" name="config_series" value="one">
            <span class="config__series-item-inner">
                <span class="config__series-icon"></span>
                <img src="images/content/series/one_xs.png" alt="">
                <span class="config__series-title">project one</span>
            </span>
        </label>
        <label class="config__series-item">
            <input type="radio" name="config_series" value="one_max">
            <span class="config__series-item-inner">
                <span class="config__series-icon"></span>
                <img src="images/content/series/one_max_xs.png" alt="">
                <span class="config__series-title">project one max</span>
            </span>
        </label>
    </div>

    <div class="config__columns">
        <div class="config__image-block">
            <img class="js-config-image" src="images/content/config/config.png" alt="">
        </div>
        <div class="config__config">
            <p class="config__title">Комплектующие</p>

            <div class="js-config-components">
                <div class="accordion set-item">
                    <button class="js-config-component-toggler accordion__toggler" type="button" data-image="images/content/config/cpu.png">
                        <span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#gpu" />
                            </svg>
                            Видеокарта
                        </span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_down" />
                        </svg>
                    </button>
                    <div class="accordion__body">
                        <div class="set-variants">
                            <label class="checkbox set-variant">
                                <input type="radio" name="gpu" value="Nvidia GTX 1650">
                                <span class="checkbox__icon"></span>
                                <span class="checkbox__text">
                                    <span>Nvidia GTX 1650</span>
                                    <span>+800 ₽</span>
                                </span>
                            </label>
                            <label class="checkbox set-variant">
                                <input type="radio" name="gpu" value="Nvidia GTX 1660">
                                <span class="checkbox__icon"></span>
                                <span class="checkbox__text">
                                    <span>Nvidia GTX 1660</span>
                                    <span>+2400 ₽</span>
                                </span>
                            </label>
                            <label class="checkbox set-variant">
                                <input type="radio" name="gpu" value="Nvidia GTX 2050">
                                <span class="checkbox__icon"></span>
                                <span class="checkbox__text">
                                    <span>Nvidia GTX 2050</span>
                                    <span>+3000 ₽</span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="accordion set-item">
                    <button class="js-config-component-toggler accordion__toggler" type="button" data-image="images/content/config/gpu.png">
                        <span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#cpu" />
                            </svg>
                            Процессор
                        </span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_down" />
                        </svg>
                    </button>
                    <div class="accordion__body">
                        <div class="set-variants">
                            <label class="checkbox set-variant">
                                <input type="radio" name="cpu" value="i3-10100F">
                                <span class="checkbox__icon"></span>
                                <span class="checkbox__text">
                                    <span>Intel i3-10100F</span>
                                    <span>+800 ₽</span>
                                </span>
                            </label>
                            <label class="checkbox set-variant">
                                <input type="radio" name="cpu" value="i3-10200F">
                                <span class="checkbox__icon"></span>
                                <span class="checkbox__text">
                                    <span>Intel i3-10200F</span>
                                    <span>+2400 ₽</span>
                                </span>
                            </label>
                            <label class="checkbox set-variant">
                                <input type="radio" name="cpu" value="i3-10300F">
                                <span class="checkbox__icon"></span>
                                <span class="checkbox__text">
                                    <span>Intel i3-10300F</span>
                                    <span>+3000 ₽</span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="accordion set-item">
                    <button class="js-config-component-toggler accordion__toggler" type="button" data-image="images/content/config/mb.png">
                        <span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#mb" />
                            </svg>
                            Материнская плата
                        </span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_down" />
                        </svg>
                    </button>
                    <div class="accordion__body">
                        <div class="set-variants">
                            <label class="checkbox set-variant">
                                <input type="radio" name="mb" value="AsRock B450">
                                <span class="checkbox__icon"></span>
                                <span class="checkbox__text">
                                    <span>AsRock B450</span>
                                    <span>+800 ₽</span>
                                </span>
                            </label>
                            <label class="checkbox set-variant">
                                <input type="radio" name="mb" value="MSI B450">
                                <span class="checkbox__icon"></span>
                                <span class="checkbox__text">
                                    <span>MSI B450</span>
                                    <span>+2400 ₽</span>
                                </span>
                            </label>
                            <label class="checkbox set-variant">
                                <input type="radio" name="mb" value="MSI B460">
                                <span class="checkbox__icon"></span>
                                <span class="checkbox__text">
                                    <span>MSI B460</span>
                                    <span>+3000 ₽</span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="accordion set-item">
                    <button class="js-config-component-toggler accordion__toggler" type="button" data-image="images/content/config/ram.png">
                        <span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#ram" />
                            </svg>
                            Оперативная память
                        </span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_down" />
                        </svg>
                    </button>
                    <div class="accordion__body">
                        <div class="set-variants">
                            <label class="checkbox set-variant">
                                <input type="radio" name="ram" value="AData 16GB">
                                <span class="checkbox__icon"></span>
                                <span class="checkbox__text">
                                    <span>AData 16GB</span>
                                    <span>+800 ₽</span>
                                </span>
                            </label>
                            <label class="checkbox set-variant">
                                <input type="radio" name="ram" value="Kingston Fury Beast Black KF432C16BBK2/16 DDR4 - 2x 8ГБ 3200МГц, DIMM, Ret">
                                <span class="checkbox__icon"></span>
                                <span class="checkbox__text">
                                    <span>Kingston Fury Beast Black KF432C16BBK2/16 DDR4 - 2x 8ГБ 3200МГц, DIMM, Ret</span>
                                    <span>+2400 ₽</span>
                                </span>
                            </label>
                            <label class="checkbox set-variant">
                                <input type="radio" name="ram" value="Patriot Signature PSD48G320081 DDR4 - 8ГБ 3200МГц, DIMM, Ret">
                                <span class="checkbox__icon"></span>
                                <span class="checkbox__text">
                                    <span>Patriot Signature PSD48G320081 DDR4 - 8ГБ 3200МГц, DIMM, Ret</span>
                                    <span>+3000 ₽</span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="accordion set-item">
                    <button class="js-config-component-toggler accordion__toggler" type="button" data-image="images/content/config/ssd.png">
                        <span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#ssd" />
                            </svg>
                            SSD накопитель
                        </span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_down" />
                        </svg>
                    </button>
                    <div class="accordion__body">
                        <div class="set-variants">
                            <label class="checkbox set-variant">
                                <input type="radio" name="ssd" value="Kingston A400 SA400S37/480G 480ГБ, 2.5, SATA III, SATA">
                                <span class="checkbox__icon"></span>
                                <span class="checkbox__text">
                                    <span>Kingston A400 SA400S37/480G 480ГБ, 2.5", SATA III, SATA</span>
                                    <span>+800 ₽</span>
                                </span>
                            </label>
                            <label class="checkbox set-variant">
                                <input type="radio" name="ssd" value="KINGSPEC P3-256 256ГБ">
                                <span class="checkbox__icon"></span>
                                <span class="checkbox__text">
                                    <span>KINGSPEC P3-256 256ГБ</span>
                                    <span>+2400 ₽</span>
                                </span>
                            </label>
                            <label class="checkbox set-variant">
                                <input type="radio" name="ssd" value="Samsung 970 EVO Plus MZ-V7S250BW 250ГБ, M.2 2280, PCIe 3.0 x4, NVMe, M.2">
                                <span class="checkbox__icon"></span>
                                <span class="checkbox__text">
                                    <span>Samsung 970 EVO Plus MZ-V7S250BW 250ГБ, M.2 2280, PCIe 3.0 x4, NVMe, M.2</span>
                                    <span>+3000 ₽</span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="accordion set-item">
                    <button class="js-config-component-toggler accordion__toggler" type="button" data-image="images/content/config/power.png">
                        <span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#power" />
                            </svg>
                            Блок питания
                        </span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_down" />
                        </svg>
                    </button>
                    <div class="accordion__body">
                        <div class="set-variants">
                            <label class="checkbox set-variant">
                                <input type="radio" name="power" value="Aerocool VX PLUS 500W, 500Вт, 120мм, черный, retail">
                                <span class="checkbox__icon"></span>
                                <span class="checkbox__text">
                                    <span>Aerocool VX PLUS 500W, 500Вт, 120мм, черный, retail</span>
                                    <span>+800 ₽</span>
                                </span>
                            </label>
                            <label class="checkbox set-variant">
                                <input type="radio" name="power" value="GMNG PSU-650W-80BR, 650Вт, 120мм, черный, retail">
                                <span class="checkbox__icon"></span>
                                <span class="checkbox__text">
                                    <span>GMNG PSU-650W-80BR, 650Вт, 120мм, черный, retail</span>
                                    <span>+2400 ₽</span>
                                </span>
                            </label>
                            <label class="checkbox set-variant">
                                <input type="radio" name="power" value="KINGPRICE KPPSU400, 400Вт, 120мм, черный, retail">
                                <span class="checkbox__icon"></span>
                                <span class="checkbox__text">
                                    <span>KINGPRICE KPPSU400, 400Вт, 120мм, черный, retail</span>
                                    <span>+3000 ₽</span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="accordion set-item">
                    <button class="js-config-component-toggler accordion__toggler" type="button" data-image="images/content/config/air.png">
                        <span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#air" />
                            </svg>
                            Охлаждение
                        </span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_down" />
                        </svg>
                    </button>
                    <div class="accordion__body">
                        <div class="set-variants">
                            <label class="checkbox set-variant">
                                <input type="radio" name="cooler" value="DeepCool Ice Edge Mini FS V2.0, 80мм, Ret">
                                <span class="checkbox__icon"></span>
                                <span class="checkbox__text">
                                    <span>DeepCool Ice Edge Mini FS V2.0, 80мм, Ret</span>
                                    <span>+800 ₽</span>
                                </span>
                            </label>
                            <label class="checkbox set-variant">
                                <input type="radio" name="cooler" value="Zalman CNPS9X Optima, 120мм, Ret">
                                <span class="checkbox__icon"></span>
                                <span class="checkbox__text">
                                    <span>Zalman CNPS9X Optima, 120мм, Ret</span>
                                    <span>+2400 ₽</span>
                                </span>
                            </label>
                            <label class="checkbox set-variant">
                                <input type="radio" name="cooler" value="ID-COOLING SE-214-XT, 120мм, Ret">
                                <span class="checkbox__icon"></span>
                                <span class="checkbox__text">
                                    <span>ID-COOLING SE-214-XT, 120мм, Ret</span>
                                    <span>+3000 ₽</span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="conf-compare">
        <div class="conf-compare__tabs">
            <div class="conf-compare__tabs-menu">
                <button class="js-conf-compare conf-compare__tabs-button is-active" type="button" data-target="1">Конфигурация</button>
                <button class="js-conf-compare conf-compare__tabs-button" type="button" data-target="2">Улучшенная конфигурация</button>
            </div>

            <div class="conf-compare__tab is-active" data-target="1">
                <p class="conf-compare__tab-title">Конфигурация</p>

                <div class="conf-compare__params">
                    <p><span>Видеокарта</span> <span>GTX 1650 на 4GB</span></p>
                    <p><span>Процессор</span> <span>Intel i3-10100F</span></p>
                    <p><span>Материнская плата</span> <span>MSI PRO H410M</span></p>
                    <p><span>Оперативная память</span> <span>ADATA XPG на 16GB</span></p>
                    <p><span>SSD накопитель</span> <span>Colorful SL500 на 1TB</span></p>
                    <p><span>Блок питания</span> <span>Deepcool на 600W</span></p>
                    <p><span>Охлаждение</span> <span>PCCooler EX400S</span></p>
                </div>
            </div>

            <div class="conf-compare__tab" data-target="2">
                <p class="conf-compare__tab-title">Улучшенная конфигурация</p>

                <div class="conf-compare__params">
                    <p><span>Видеокарта</span> <span>GTX 1650 на 4GB</span></p>
                    <p><span>Процессор</span> <span><span>+800 ₽</span> Intel i3-10100F</span></p>
                    <p><span>Материнская плата</span> <span>MSI PRO H410M</span></p>
                    <p><span>Оперативная память</span> <span>ADATA XPG на 16GB</span></p>
                    <p><span>SSD накопитель</span> <span><span>+800 ₽</span> Colorful SL500 на 1TB</span></p>
                    <p><span>Блок питания</span> <span>Deepcool на 600W</span></p>
                    <p><span>Охлаждение</span> <span><span>+800 ₽</span> PCCooler EX400S</span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="config-bar">
        <div class="config-bar__inner container">
            <div class="config-bar__prices">
                <div class="config-bar__price-block">
                    <p class="config-bar__price-title">Стоимость базовой сборки</p>
                    <p class="config-bar__price">112 000 ₽</p>
                </div>

                <div class="config-bar__price-block">
                    <p class="config-bar__price-title">Стоимость улучшенной сборки</p>
                    <p class="config-bar__price color-green">124 000 ₽</p>
                </div>
            </div>

            <div class="config-bar__buttons">
                <a class="config-bar__buy-button button" href="#">
                    <span>Добавить в корзину</span>
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#button_arrow"></use>
                    </svg>
                </a>

                <button class="js-perf-opener config-bar__perf-opener" type="button" title="Показать производительность сборки">
                    <span>Показать графики производительности</span>
                    <svg class="perf-opener__icon" aria-hidden="true">
                        <use xlink:href="images/sprite.svg#config_arrow" />
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div class="perf">
        <div class="container">
            <button class="js-perf-closer perf__closer" type="button" type="button" title="Скрыть блок производительность сборки">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#config_arrow" />
                </svg>
            </button>

            <p class="perf__title">Производительность</p>

            <div class="perf__inner">
                <div class="perf__text">
                    <p>Здесь вы можете сравнить показатели в играх. Выберете до 6 игр, которые вас интересуют и в моменте, когда вы будете менять комплектующие вашего нового компьютера, показатели FPS в выбранных вами играх будет меняться</p>
                </div>

                <div class="perf__params">
                    <div class="perf__params-block">
                        <p class="perf__params-title">Разрешение</p>
                        <div class="select-wrapper">
                            <select class="js-select">
                                <option value="1">FullHD | 1920 x 1080</option>
                                <option value="2">2K | 2560 x 1440</option>
                                <option value="3">4K | 3840 x 2160</option>
                            </select>
                        </div>
                    </div>

                    <div class="perf__params-block">
                        <p class="perf__params-title">Настройки графики</p>
                        <div class="select-wrapper">
                            <select class="js-select">
                                <option value="1">Низкое качество</option>
                                <option value="2">Среднее качество</option>
                                <option value="3">Высокое качество</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="perf__fps">
                    <div class="perf__fps-point" style="left: 60%"><span>60 Hz</span></div>
                    <div class="perf__fps-point" style="left: 85%"><span>144 Hz</span></div>

                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_1.jpg" srcset="images/content/games/img_1@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 90%"></div>
                                <div class="fps-item__title"></div>
                                <div class="fps-item__value">214 <span>FPS</span></div>
                            </div>
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar" style="width: 85%"></div>
                                <div class="fps-item__title">Tom Clancy's Rainbow Six Siege</div>
                                <div class="fps-item__value">201 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_2.jpg" srcset="images/content/games/img_2@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 80%"></div>
                                <div class="fps-item__title"></div>
                                <div class="fps-item__value">159 <span>FPS</span></div>
                            </div>
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar" style="width: 75%"></div>
                                <div class="fps-item__title">Doom Eternal (2020)</div>
                                <div class="fps-item__value">151 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_3.jpg" srcset="images/content/games/img_3@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 50%"></div>
                                <div class="fps-item__title"></div>
                                <div class="fps-item__value">142 <span>FPS</span></div>
                            </div>
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar" style="width: 45%"></div>
                                <div class="fps-item__title">World of Tanks</div>
                                <div class="fps-item__value">134 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_4.jpg" srcset="images/content/games/img_4@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 30%"></div>
                                <div class="fps-item__title"></div>
                                <div class="fps-item__value">140 <span>FPS</span></div>
                            </div>
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar" style="width: 21%"></div>
                                <div class="fps-item__title">Destiny 2</div>
                                <div class="fps-item__value">120 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_5.jpg" srcset="images/content/games/img_5@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 10%"></div>
                                <div class="fps-item__title"></div>
                                <div class="fps-item__value">95 <span>FPS</span></div>
                            </div>
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar" style="width: 6%"></div>
                                <div class="fps-item__title">Hitman III</div>
                                <div class="fps-item__value">75 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_1.jpg" srcset="images/content/games/img_1@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 90%"></div>
                                <div class="fps-item__title"></div>
                                <div class="fps-item__value">214 <span>FPS</span></div>
                            </div>
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar" style="width: 85%"></div>
                                <div class="fps-item__title">Tom Clancy's Rainbow Six Siege</div>
                                <div class="fps-item__value">201 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_2.jpg" srcset="images/content/games/img_2@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 80%"></div>
                                <div class="fps-item__title"></div>
                                <div class="fps-item__value">159 <span>FPS</span></div>
                            </div>
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar" style="width: 75%"></div>
                                <div class="fps-item__title">Doom Eternal (2020)</div>
                                <div class="fps-item__value">151 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_3.jpg" srcset="images/content/games/img_3@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 50%"></div>
                                <div class="fps-item__title"></div>
                                <div class="fps-item__value">142 <span>FPS</span></div>
                            </div>
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar" style="width: 45%"></div>
                                <div class="fps-item__title">World of Tanks</div>
                                <div class="fps-item__value">134 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_4.jpg" srcset="images/content/games/img_4@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 30%"></div>
                                <div class="fps-item__title"></div>
                                <div class="fps-item__value">140 <span>FPS</span></div>
                            </div>
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar" style="width: 21%"></div>
                                <div class="fps-item__title">Destiny 2</div>
                                <div class="fps-item__value">120 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="fps-item">
                        <div class="fps-item__image"><img src="images/content/games/img_5.jpg" srcset="images/content/games/img_5@2x.jpg 2x" alt=""></div>
                        <div class="fps-item__bar-containers">
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar fps-item__bar--green" style="width: 10%"></div>
                                <div class="fps-item__title"></div>
                                <div class="fps-item__value">95 <span>FPS</span></div>
                            </div>
                            <div class="fps-item__bar-container fps-item__bar-container--small">
                                <div class="fps-item__bar" style="width: 6%"></div>
                                <div class="fps-item__title">Hitman III</div>
                                <div class="fps-item__value">75 <span>FPS</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>