<section class="page__section">
    <p class="pre-title"><span>О доставке</span></p>
    <h2>Наша доставка</h2>
    <div class="page__section-inner">
        <div class="features">
            <div class="feature">
                <p class="feature__title">Доставка в любой город</p>
                <div class="feature__text">
                    <p>Доставка по всей стране до двери или до ближайшего к вам пункта выдачи СДЭК</p>
                </div>
            </div>
            <div class="feature">
                <p class="feature__title">Надежная упаковка</p>
                <div class="feature__text">
                    <p>Все компьютеры отправляю в надежной упаковке с пенопластом внутри. Вес ПК в упаковке от 10 до 30 кг, зависит от габаритов ПК</p>
                </div>
            </div>
            <div class="feature">
                <p class="feature__title">Страховка груза</p>
                <div class="feature__text">
                    <p>Если при транспортировке случится поломка, мы заменим неисправные комплектующие и ваша гарантия при этом сохранится</p>
                </div>
            </div>
        </div>
        <div class="page__button-block">
            <a class="button button--w_385" href="#">
                <span>Подробнее</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#button_arrow" />
                </svg>
            </a>
        </div>
    </div>
</section>