<section class="page__section">
    <p class="pre-title"><span>О доставке</span></p>
    <h2>Наша доставка</h2>

    <div class="delivery">
        <div class="delivery__item">
            <img src="images/content/delivery/icon_1.svg" alt="">
            <h3>Доставка в любой город</h3>
            <p>Доставка по всей стране до двери или до ближайшего к вам пункта выдачи СДЭК</p>
        </div>

        <div class="delivery__item">
            <img src="images/content/delivery/icon_2.svg" alt="">
            <h3>Надежная упаковка</h3>
            <p>Все компьютеры отправляю в надежной упаковке с пенопластом внутри. Вес ПК в упаковке от 10 до 30 кг, зависит от габаритов ПК</p>
        </div>

        <div class="delivery__item">
            <img src="images/content/delivery/icon_3.svg" alt="">
            <h3>Страховка груза</h3>
            <p>Если при транспортировке случится поломка, мы заменим неисправные комплектующие и ваша гарантия при этом сохранится</p>
        </div>
    </div>
</section>