<section class="page__section">
    <p class="pre-title"><span>Профессиональная сборка</span></p>
    <h2>Качество в каждой детали</h2>

    <p class="page__section-text page__section-text--mod_1">Агрессивный дизайн корпуса подчеркивает его мощность и стиль, а также выделяет его среди других моделей. Этот компьютер станет отличным выбором для тех, кто ценит качество, функциональность
        и доступность.</p>

    <div class="details">
        <div class="details__block">
            <p class="details__num">[01]</p>
            <p class="details__title">Корпус</p>
            <img src="images/content/series/alisio_s.png" alt="">
        </div>

        <div class="details__block">
            <p class="details__num">[02]</p>
            <p class="details__title">Дизайн</p>
            <img src="images/content/series/alisio_s.png" alt="">
        </div>

        <div class="details__block">
            <p class="details__num">[03]</p>
            <p class="details__title">RGB - подсветка</p>
            <img src="images/content/series/alisio_s.png" alt="">
        </div>
    </div>
</section>