<section class="page__section">
    <p class="pre-title"><span>Профессиональная сборка</span></p>
    <h2>Качество в каждой детали</h2>

    <div class="page__section-inner">
        <div class="page__section-text">
            <p>
                Представляем вашему вниманию хит продаж - Project ONE. Компактный и доступный компьютер, который станет идеальным выбором для широкого круга пользователей. Несмотря на свою доступную стоимость, этот компьютер оснащен компонентами
                среднего
                сегмента, что обеспечивает оптимальное соотношение цены и качества и вы получите максимальный FPS в играх.
            </p>
            <p>Агрессивный дизайн корпуса подчеркивает его мощность и стиль, а также выделяет его среди других моделей. Этот компьютер станет отличным выбором для тех, кто ценит качество, функциональность и доступность.</p>
        </div>

        <div class="details">
            <div class="details__block">
                <p class="details__num">[01]</p>
                <p class="details__title">Корпус</p>
                <p class="details__text">Корпус Project one полностью изготовлен из алюминиево-магниевого сплава.</p>
            </div>

            <div class="details__block">
                <p class="details__num">[02]</p>
                <p class="details__title">Дизайн</p>
                <p class="details__text">Дизайн сочетается с ощущением простоты, обтекаемости и прочности. Благодаря использованию алюминия с инновационной структурой, он прекрасно сочетает в себе прочную конструкцию и приятный внешний вид.</p>
            </div>

            <img class="details__image" src="images/content/details/img_1.png" srcset="images/content/details/img_1@2x.png 2x" alt="">
        </div>
    </div>
</section>