<section class="page__section">
    <p class="pre-title"><span>FAQ</span></p>
    <h2>Вопросы / ответы</h2>

    <div class="faq-list">
        <div class="accordion">
            <button class="js-accordion-toggler accordion__toggler" type="button">
                <span>Видеокарта</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_down" />
                </svg>
            </button>
            <div class="accordion__body">
                <div class="faq-item faq-item--video">
                    <div class="faq-item__text">
                        <p>Необходимо регулярно проводить чистку компьютера, и наши специалисты с удовольствием проведут полную диагностику и обслуживание, предоставив вам подробный отчет.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio dicta quisquam earum, non voluptatem odit consequatur ipsam, pariatur, est ut ad numquam natus deleniti. Labore aperiam vero enim delectus numquam.</p>
                    </div>
                    <div class="faq-item__video">
                        <div class="js-video video">
                            <a class="js-video__link video__link" href="https://www.youtube.com/watch?v=QvWfoxM-woU" target="_blank">
                                <img class="video__media" src="images/content/video.jpg" srcset="images/content/video@2x.jpg 2x" alt="Видео 1" title="Видео 1" />
                                <button class="js-video__button video__button" type="button" aria-label="Запустить видео">
                                    <svg class="video__svg" aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#play" />
                                    </svg>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion">
            <button class="js-accordion-toggler accordion__toggler" type="button">
                <span>Материнская плата</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_down" />
                </svg>
            </button>
            <div class="accordion__body">
                <div class="faq-item">
                    <div class="faq-item__text">
                        <p>Необходимо регулярно проводить чистку компьютера, и наши специалисты с удовольствием проведут полную диагностику и обслуживание, предоставив вам подробный отчет.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio dicta quisquam earum, non voluptatem odit consequatur ipsam, pariatur, est ut ad numquam natus deleniti. Labore aperiam vero enim delectus numquam.</p>
                        <p>Vel libero eligendi odio quis illum impedit repellendus enim ipsa aliquid, quam quia animi adipisci debitis voluptas dolor velit quos asperiores repudiandae.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam harum nostrum consequuntur ut voluptatem, dignissimos commodi perspiciatis aut culpa dolores quod! Labore ipsum molestias aliquam, laudantium maiores sunt
                            consequatur, eaque.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion">
            <button class="js-accordion-toggler accordion__toggler" type="button">
                <span>Процессор</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_down" />
                </svg>
            </button>
            <div class="accordion__body accordion__body--parent">
                <div class="accordion">
                    <button class="js-accordion-toggler accordion__toggler" type="button">
                        <span>Intel i3-10100F</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_down" />
                        </svg>
                    </button>
                    <div class="accordion__body">
                        <div class="faq-item faq-item--video">
                            <div class="faq-item__text">
                                <p>Необходимо регулярно проводить чистку компьютера, и наши специалисты с удовольствием проведут полную диагностику и обслуживание, предоставив вам подробный отчет.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio dicta quisquam earum, non voluptatem odit consequatur ipsam, pariatur, est ut ad numquam natus deleniti. Labore aperiam vero enim delectus numquam.</p>
                            </div>
                            <div class="faq-item__video">
                                <div class="js-video video">
                                    <a class="js-video__link video__link" href="https://www.youtube.com/watch?v=QvWfoxM-woU" target="_blank">
                                        <img class="video__media" src="images/content/video.jpg" srcset="images/content/video@2x.jpg 2x" alt="Видео 1" title="Видео 1" />
                                        <button class="js-video__button video__button" type="button" aria-label="Запустить видео">
                                            <svg class="video__svg" aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#play" />
                                            </svg>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <button class="js-accordion-toggler accordion__toggler" type="button">
                        <span>Intel i3-10100F</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_down" />
                        </svg>
                    </button>
                    <div class="accordion__body">
                        <div class="faq-item">
                            <div class="faq-item__text">
                                <p>Необходимо регулярно проводить чистку компьютера, и наши специалисты с удовольствием проведут полную диагностику и обслуживание, предоставив вам подробный отчет.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio dicta quisquam earum, non voluptatem odit consequatur ipsam, pariatur, est ut ad numquam natus deleniti. Labore aperiam vero enim delectus numquam.</p>
                                <p>Vel libero eligendi odio quis illum impedit repellendus enim ipsa aliquid, quam quia animi adipisci debitis voluptas dolor velit quos asperiores repudiandae.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam harum nostrum consequuntur ut voluptatem, dignissimos commodi perspiciatis aut culpa dolores quod! Labore ipsum molestias aliquam, laudantium maiores
                                    sunt
                                    consequatur, eaque.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <button class="js-accordion-toggler accordion__toggler" type="button">
                        <span>Intel i3-10100F</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_down" />
                        </svg>
                    </button>
                    <div class="accordion__body">
                        <div class="faq-item">
                            <div class="faq-item__video">
                                <div class="js-video video">
                                    <a class="js-video__link video__link" href="https://www.youtube.com/watch?v=QvWfoxM-woU" target="_blank">
                                        <img class="video__media" src="images/content/video.jpg" srcset="images/content/video@2x.jpg 2x" alt="Видео 1" title="Видео 1" />
                                        <button class="js-video__button video__button" type="button" aria-label="Запустить видео">
                                            <svg class="video__svg" aria-hidden="true">
                                                <use xlink:href="images/sprite.svg#play" />
                                            </svg>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion">
            <button class="js-accordion-toggler accordion__toggler" type="button">
                <span>Оперативная память</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_down" />
                </svg>
            </button>
            <div class="accordion__body">
                <div class="faq-item faq-item--video">
                    <div class="faq-item__text">
                        <p>Необходимо регулярно проводить чистку компьютера, и наши специалисты с удовольствием проведут полную диагностику и обслуживание, предоставив вам подробный отчет.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio dicta quisquam earum, non voluptatem odit consequatur ipsam, pariatur, est ut ad numquam natus deleniti. Labore aperiam vero enim delectus numquam.</p>
                    </div>
                    <div class="faq-item__video">
                        <div class="js-video video">
                            <a class="js-video__link video__link" href="https://www.youtube.com/watch?v=QvWfoxM-woU" target="_blank">
                                <img class="video__media" src="images/content/video.jpg" srcset="images/content/video@2x.jpg 2x" alt="Видео 1" title="Видео 1" />
                                <button class="js-video__button video__button" type="button" aria-label="Запустить видео">
                                    <svg class="video__svg" aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#play" />
                                    </svg>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion">
            <button class="js-accordion-toggler accordion__toggler" type="button">
                <span>SSD накопитель</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_down" />
                </svg>
            </button>
            <div class="accordion__body">
                <div class="faq-item">
                    <div class="faq-item__text">
                        <p>Необходимо регулярно проводить чистку компьютера, и наши специалисты с удовольствием проведут полную диагностику и обслуживание, предоставив вам подробный отчет.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio dicta quisquam earum, non voluptatem odit consequatur ipsam, pariatur, est ut ad numquam natus deleniti. Labore aperiam vero enim delectus numquam.</p>
                        <p>Vel libero eligendi odio quis illum impedit repellendus enim ipsa aliquid, quam quia animi adipisci debitis voluptas dolor velit quos asperiores repudiandae.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam harum nostrum consequuntur ut voluptatem, dignissimos commodi perspiciatis aut culpa dolores quod! Labore ipsum molestias aliquam, laudantium maiores sunt
                            consequatur, eaque.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion">
            <button class="js-accordion-toggler accordion__toggler" type="button">
                <span>Oхлаждение</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_down" />
                </svg>
            </button>
            <div class="accordion__body">
                <div class="faq-item faq-item--video">
                    <div class="faq-item__text">
                        <p>Необходимо регулярно проводить чистку компьютера, и наши специалисты с удовольствием проведут полную диагностику и обслуживание, предоставив вам подробный отчет.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio dicta quisquam earum, non voluptatem odit consequatur ipsam, pariatur, est ut ad numquam natus deleniti. Labore aperiam vero enim delectus numquam.</p>
                        <p>Vel libero eligendi odio quis illum impedit repellendus enim ipsa aliquid, quam quia animi adipisci debitis voluptas dolor velit quos asperiores repudiandae.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam harum nostrum consequuntur ut voluptatem, dignissimos commodi perspiciatis aut culpa dolores quod! Labore ipsum molestias aliquam, laudantium maiores sunt
                            consequatur, eaque.</p>
                    </div>
                    <div class="faq-item__video">
                        <div class="js-video video">
                            <a class="js-video__link video__link" href="https://www.youtube.com/watch?v=QvWfoxM-woU" target="_blank">
                                <img class="video__media" src="images/content/video.jpg" srcset="images/content/video@2x.jpg 2x" alt="Видео 1" title="Видео 1" />
                                <button class="js-video__button video__button" type="button" aria-label="Запустить видео">
                                    <svg class="video__svg" aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#play" />
                                    </svg>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>