<section class="page__section">
    <p class="pre-title"><span>Производительность</span></p>
    <h2>Компьютер для новейших игр</h2>
    <div class="page__section-inner">
        <div class="page__section-text">
            <p>Project ONE разбивает устаревшие представления о персональном компьютере. Многолетний опыт работы нашей команды позволил нам создать продукт, задающий новые стандарты мощности и дизайна. Собрав лучшее воедино, мы представляем ПК с
                новейшей видеокартой GeForce RTX, передовым процессором Intel Core, сверхбыстрыми накопителями и памятью. Project ONE воплотит в жизнь любые графические настройки, творческие проекты и позволит ощутить технологии будущего уже сегодня.
            </p>
        </div>
    </div>

    <div class="image-wide">
        <img src="images/content/features/img_1.jpg" srcset="images/content/features/img_1@2x.jpg 2x" alt="">
    </div>


</section>