<section class="feedback page__section">
    <h2>Связь с нами</h2>
    <div class="feedback__container feedback__container--columns">
        <div class="feedback__text">
            <p>Нужна помощь в выборе?</p>
            <p>Если вы не смогли определиться с&nbsp;выбором среди предложенных конфигураций или у вас есть специфические задачи, индивидуальные предпочтения, свяжитесь с&nbsp;нами!</p>
        </div>
        <div class="feedback__form">
            <form action="">
                <label class="form-group">
                    <input class="input input--underlined" type="text" value="" name="name" placeholder="Ваше имя" autocomplete="off">
                </label>

                <label class="form-group">
                    <input class="input input--underlined" type="text" value="" name="phone" placeholder="+7 999 999 99 99" autocomplete="off">
                </label>

                <label class="checkbox">
                    <input type="checkbox" name="" value="">
                    <span class="checkbox__icon"></span>
                    <span class="checkbox__text">Нажимая на кнопку, вы даете согласие на обработку персональных данных<br> и соглашаетесь с <a href="#">политикой конфиденциальности</a></span>
                </label>

                <button class="button" type="submit" disabled>
                    <span>Связаться</span>
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#button_arrow" />
                    </svg>
                </button>
            </form>
        </div>
    </div>
</section>