<footer class="footer">
    <div class="container">
        <div class="footer__logo">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#logo" />
            </svg>
        </div>

        <div class="footer__menu">
            <div class="footer__menu-section">
                <div class="footer__menu-title">
                    Каталог товаров
                    <button class="js-footer-menu-toggler" type="button">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_down" />
                        </svg>
                    </button>
                </div>
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Игровые компьютеры</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Готовые компьютеры</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Аксессуары</a>
                    </li>
                </ul>
            </div>
            <div class="footer__menu-section">
                <div class="footer__menu-title">
                    Клиентам
                    <button class="js-footer-menu-toggler" type="button">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_down" />
                        </svg>
                    </button>
                </div>
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Доставка</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Оплата</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Гарантия</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Сервис</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Акции</a>
                    </li>
                </ul>
            </div>
            <div class="footer__menu-section">
                <div class="footer__menu-title">
                    О компании
                    <button class="js-footer-menu-toggler" type="button">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_down" />
                        </svg>
                    </button>
                </div>
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Отзывы</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Договор оферты</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Личный кабинет</a>
                    </li>
                </ul>
            </div>
            <div class="footer__menu-section">
                <div class="footer__menu-title">Социальные сети</div>
                <div class="socials">
                    <a class="social-link" href="#" title="Мы Вконтакте" target="_blank" rel="nofollow noreferrer">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#vk" />
                        </svg>
                    </a>
                    <a class="social-link" href="#" title="Наш Yotube" target="_blank" rel="nofollow noreferrer">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#yt" />
                        </svg>
                    </a>
                    <a class="social-link" href="#" title="Наш WhatsApp" target="_blank" rel="nofollow noreferrer">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#wa" />
                        </svg>
                    </a>
                    <a class="social-link" href="#" title="Наш Telegram" target="_blank" rel="nofollow noreferrer">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#tg" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <div class="footer__bottom">
            <p class="footer__copyright">2023 © Fosterspc. Все права защищены.</p>
            <p class="footer__note">
                Fosters и логотип Fosters являются товарными знаками компании ООО "Форсайт Северо-Запад", зарегистрированными в России и других странах. Другие наименования и товарные знаки являются собственностью своих законных
                владельцев.
            </p>
        </div>
    </div>
</footer>