<section class="page__section">
    <p class="pre-title"><span>Игровая мощь</span></p>
    <h2>Показатели fps</h2>

    <div class="columns_1_1 fps-block">
        <div class="columns_1_1__column_1 fps-block__image">
            <img src="images/content/fps/img_1.jpg" srcset="images/content/fps/img_1@2x.jpg 2x" alt="">
        </div>
        <div class="columns_1_1__column_1 fps-block__text-block">
            <div class="fps-block__text">
                <p>
                    Project ONE создан для знакомства не только с самыми интересными новинками, но и динамичными соревновательными играми. Вы можете быть уверены, что получите только лучшие впечатления от геймплея с детализированным плавным
                    изображением.
                </p>
            </div>

            <div class="fps-block__fps-list">
                <div class="fps-item">
                    <div class="fps-item__image"><img src="images/content/games/img_6.jpg" srcset="images/content/games/img_6@2x.jpg 2x" alt=""></div>
                    <div class="fps-item__bar-container">
                        <div class="fps-item__bar fps-item__bar--green" style="width: 90%"></div>
                        <div class="fps-item__title">Tom Clancy's Rainbow Six Siege</div>
                        <div class="fps-item__value">214 <span>FPS</span></div>
                    </div>
                </div>
                <div class="fps-item">
                    <div class="fps-item__image"><img src="images/content/games/img_7.jpg" srcset="images/content/games/img_7@2x.jpg 2x" alt=""></div>
                    <div class="fps-item__bar-container">
                        <div class="fps-item__bar fps-item__bar--green" style="width: 80%"></div>
                        <div class="fps-item__title">Doom Eternal (2020)</div>
                        <div class="fps-item__value">159 <span>FPS</span></div>
                    </div>
                </div>
                <div class="fps-item">
                    <div class="fps-item__image"><img src="images/content/games/img_8.jpg" srcset="images/content/games/img_8@2x.jpg 2x" alt=""></div>
                    <div class="fps-item__bar-container">
                        <div class="fps-item__bar fps-item__bar--green" style="width: 50%"></div>
                        <div class="fps-item__title">World of Tanks</div>
                        <div class="fps-item__value">142 <span>FPS</span></div>
                    </div>
                </div>
                <div class="fps-item">
                    <div class="fps-item__image"><img src="images/content/games/img_9.jpg" srcset="images/content/games/img_9@2x.jpg 2x" alt=""></div>
                    <div class="fps-item__bar-container">
                        <div class="fps-item__bar fps-item__bar--green" style="width: 30%"></div>
                        <div class="fps-item__title">Destiny 2</div>
                        <div class="fps-item__value">140 <span>FPS</span></div>
                    </div>
                </div>
                <div class="fps-item">
                    <div class="fps-item__image"><img src="images/content/games/img_10.jpg" srcset="images/content/games/img_10@2x.jpg 2x" alt=""></div>
                    <div class="fps-item__bar-container">
                        <div class="fps-item__bar fps-item__bar--green" style="width: 10%"></div>
                        <div class="fps-item__title">Hitman III</div>
                        <div class="fps-item__value">95 <span>FPS</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fps-slider slider-container">
        <div class="js-fps-slider swiper" data-id="fps_1">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="fps-card">
                        <p class="fps-card__title">Показатели FPS</p>

                        <p class="fps-card__comp-title">Project one</p>

                        <div class="fps-card__games-list">
                            <div class="fps-card__game">
                                <div class="fps-card__game-image"><img src="images/content/games/img_6.jpg" srcset="images/content/games/img_6@2x.jpg 2x" alt=""></div>
                                <p class="fps-card__game-fps">538 FPS</p>
                                <p class="fps-card__game-title">Tom Clancy's Rainbow Six Siege</p>
                            </div>

                            <div class="fps-card__game">
                                <div class="fps-card__game-image"><img src="images/content/games/img_7.jpg" srcset="images/content/games/img_7@2x.jpg 2x" alt=""></div>
                                <p class="fps-card__game-fps">538 FPS</p>
                                <p class="fps-card__game-title">Doom Eternal (2020)</p>
                            </div>

                            <div class="fps-card__game">
                                <div class="fps-card__game-image"><img src="images/content/games/img_8.jpg" srcset="images/content/games/img_8@2x.jpg 2x" alt=""></div>
                                <p class="fps-card__game-fps">538 FPS</p>
                                <p class="fps-card__game-title">World of Tanks</p>
                            </div>

                            <div class="fps-card__game">
                                <div class="fps-card__game-image"><img src="images/content/games/img_9.jpg" srcset="images/content/games/img_9@2x.jpg 2x" alt=""></div>
                                <p class="fps-card__game-fps">538 FPS</p>
                                <p class="fps-card__game-title">Destiny 2</p>
                            </div>

                            <div class="fps-card__game">
                                <div class="fps-card__game-image"><img src="images/content/games/img_10.jpg" srcset="images/content/games/img_10@2x.jpg 2x" alt=""></div>
                                <p class="fps-card__game-fps">538 FPS</p>
                                <p class="fps-card__game-title">Hitman III</p>
                            </div>
                        </div>

                        <div class="fps-card__price-block">
                            <p class="fps-card__price-container">
                                <span class="fps-card__price-title">Цена</span>
                                <span class="fps-card__price"><span>от 112 700 ₽</span></span>
                            </p>
                            <p class="fps-card__credit">
                                <a href="#">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#question"></use>
                                    </svg>
                                    Доступно в кредит
                                </a>
                            </p>
                        </div>

                        <div class="fps-card__buttons">
                            <a class="button button--w_385" href="#">
                                <span>Ознакомиться</span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#button_arrow"></use>
                                </svg>
                            </a>
                            <a class="button button--bordered button--w_385" href="config.html">
                                <span>Сконфигурировать</span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#button_arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="fps-card">
                        <p class="fps-card__title">Показатели FPS</p>

                        <p class="fps-card__comp-title">Project one</p>

                        <div class="fps-card__games-list">
                            <div class="fps-card__game">
                                <div class="fps-card__game-image"><img src="images/content/games/img_6.jpg" srcset="images/content/games/img_6@2x.jpg 2x" alt=""></div>
                                <p class="fps-card__game-fps">538 FPS</p>
                                <p class="fps-card__game-title">Tom Clancy's Rainbow Six Siege</p>
                            </div>

                            <div class="fps-card__game">
                                <div class="fps-card__game-image"><img src="images/content/games/img_7.jpg" srcset="images/content/games/img_7@2x.jpg 2x" alt=""></div>
                                <p class="fps-card__game-fps">538 FPS</p>
                                <p class="fps-card__game-title">Doom Eternal (2020)</p>
                            </div>

                            <div class="fps-card__game">
                                <div class="fps-card__game-image"><img src="images/content/games/img_8.jpg" srcset="images/content/games/img_8@2x.jpg 2x" alt=""></div>
                                <p class="fps-card__game-fps">538 FPS</p>
                                <p class="fps-card__game-title">World of Tanks</p>
                            </div>

                            <div class="fps-card__game">
                                <div class="fps-card__game-image"><img src="images/content/games/img_9.jpg" srcset="images/content/games/img_9@2x.jpg 2x" alt=""></div>
                                <p class="fps-card__game-fps">538 FPS</p>
                                <p class="fps-card__game-title">Destiny 2</p>
                            </div>

                            <div class="fps-card__game">
                                <div class="fps-card__game-image"><img src="images/content/games/img_10.jpg" srcset="images/content/games/img_10@2x.jpg 2x" alt=""></div>
                                <p class="fps-card__game-fps">538 FPS</p>
                                <p class="fps-card__game-title">Hitman III</p>
                            </div>
                        </div>

                        <div class="fps-card__price-block">
                            <p class="fps-card__price-container">
                                <span class="fps-card__price-title">Цена</span>
                                <span class="fps-card__price"><span>от 112 700 ₽</span></span>
                            </p>
                            <p class="fps-card__credit">
                                <a href="#">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#question"></use>
                                    </svg>
                                    Доступно в кредит
                                </a>
                            </p>
                        </div>

                        <div class="fps-card__buttons">
                            <a class="button button--w_385" href="#">
                                <span>Ознакомиться</span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#button_arrow"></use>
                                </svg>
                            </a>
                            <a class="button button--bordered button--w_385" href="config.html">
                                <span>Сконфигурировать</span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#button_arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="fps-card">
                        <p class="fps-card__title">Показатели FPS</p>

                        <p class="fps-card__comp-title">Project one</p>

                        <div class="fps-card__games-list">
                            <div class="fps-card__game">
                                <div class="fps-card__game-image"><img src="images/content/games/img_6.jpg" srcset="images/content/games/img_6@2x.jpg 2x" alt=""></div>
                                <p class="fps-card__game-fps">538 FPS</p>
                                <p class="fps-card__game-title">Tom Clancy's Rainbow Six Siege</p>
                            </div>

                            <div class="fps-card__game">
                                <div class="fps-card__game-image"><img src="images/content/games/img_7.jpg" srcset="images/content/games/img_7@2x.jpg 2x" alt=""></div>
                                <p class="fps-card__game-fps">538 FPS</p>
                                <p class="fps-card__game-title">Doom Eternal (2020)</p>
                            </div>

                            <div class="fps-card__game">
                                <div class="fps-card__game-image"><img src="images/content/games/img_8.jpg" srcset="images/content/games/img_8@2x.jpg 2x" alt=""></div>
                                <p class="fps-card__game-fps">538 FPS</p>
                                <p class="fps-card__game-title">World of Tanks</p>
                            </div>

                            <div class="fps-card__game">
                                <div class="fps-card__game-image"><img src="images/content/games/img_9.jpg" srcset="images/content/games/img_9@2x.jpg 2x" alt=""></div>
                                <p class="fps-card__game-fps">538 FPS</p>
                                <p class="fps-card__game-title">Destiny 2</p>
                            </div>

                            <div class="fps-card__game">
                                <div class="fps-card__game-image"><img src="images/content/games/img_10.jpg" srcset="images/content/games/img_10@2x.jpg 2x" alt=""></div>
                                <p class="fps-card__game-fps">538 FPS</p>
                                <p class="fps-card__game-title">Hitman III</p>
                            </div>
                        </div>

                        <div class="fps-card__price-block">
                            <p class="fps-card__price-container">
                                <span class="fps-card__price-title">Цена</span>
                                <span class="fps-card__price"><span>от 112 700 ₽</span></span>
                            </p>
                            <p class="fps-card__credit">
                                <a href="#">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#question"></use>
                                    </svg>
                                    Доступно в кредит
                                </a>
                            </p>
                        </div>

                        <div class="fps-card__buttons">
                            <a class="button button--w_385" href="#">
                                <span>Ознакомиться</span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#button_arrow"></use>
                                </svg>
                            </a>
                            <a class="button button--bordered button--w_385" href="config.html">
                                <span>Сконфигурировать</span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#button_arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-navigation">
            <button class="js-fps-slider-prev swiper-button-prev" data-id="fps_1" type="button" title="Назад">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_left" />
                </svg>
            </button>

            <div class="js-fps-slider-navigation swiper-pagination" data-id="fps_1"></div>

            <button class="js-fps-slider-next swiper-button-next" data-id="fps_1" type="button" title="Вперёд">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_right" />
                </svg>
            </button>
        </div>
    </div>
</section>