<section class="page__section">
    <p class="pre-title"><span>О гарантии</span></p>
    <h2>Наша гарантия</h2>
    <p class="page__section-text page__section-text--mod_1">Даем фирменную гарантию на компьютеры, чтобы избавить клиентов от обращения в сервисные центры производителей. Решаем неисправности заменой компонентов на новые</p>

    <div class="guaranty">
        <div class="guaranty__item">
            <p>Фирменная гарантия до&nbsp;3&nbsp;лет</p>
            <span class="guaranty__item-num">1</span>
        </div>
        <div class="guaranty__item">
            <p>Каждый ПК перед доставкой проходит все этапы тестирования</p>
            <span class="guaranty__item-num">2</span>
        </div>
        <div class="guaranty__item">
            <p>Поддержка в течение гарантийного срока</p>
            <span class="guaranty__item-num">3</span>
        </div>
        <div class="guaranty__item">
            <p>Апгрейд компьютера с зачетом компонентов</p>
            <span class="guaranty__item-num">4</span>
        </div>
        <div class="guaranty__item">
            <p>Замена компонентов на новые без ремонта</p>
            <span class="guaranty__item-num">5</span>
        </div>
    </div>
</section>