<section class="page__section">
    <p class="pre-title"><span>О гарантии</span></p>
    <h2>Наша гарантия</h2>
    <div class="page__section-inner">
        <div class="page__section-text page__section-text--mod_1">
            <p>Даем фирменную гарантию на компьютеры, чтобы избавить клиентов от обращения в сервисные центры производителей. Решаем неисправности заменой компонентов на новые</p>
        </div>
        <div class="guaranty">
            <div class="guaranty__item">
                <span class="guaranty__item-num">1</span>
                <p>Фирменная гарантия до 3 лет</p>
            </div>
            <div class="guaranty__item">
                <span class="guaranty__item-num">2</span>
                <p>Каждый ПК перед доставкой проходит все этапы тестирования</p>
            </div>
            <div class="guaranty__item">
                <span class="guaranty__item-num">3</span>
                <p>Поддержка в течение гарантийного срока</p>
            </div>
            <div class="guaranty__item">
                <span class="guaranty__item-num">4</span>
                <p>Апгрейд компьютера с зачетом компонентов</p>
            </div>
            <div class="guaranty__item">
                <span class="guaranty__item-num">5</span>
                <p>Замена компонентов на новые без ремонта</p>
            </div>
            <div class="guaranty__item guaranty__item--background"></div>
        </div>
    </div>
</section>