<header class="header compensate-for-scrollbar">
    <div class="header__inner container">
        <a class="header-logo" href="#" title="FOSTERS PC">
            <svg class="header-logo__icon" aria-hidden="true">
                <use xlink:href="images/sprite.svg#logo_icon" />
            </svg>
            <svg class="header-logo__text" aria-hidden="true">
                <use xlink:href="images/sprite.svg#logo_text" />
            </svg>
        </a>

        <nav class="main-menu">
            <ul class="main-menu__list">
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">
                        <span>Компания</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_right" />
                        </svg>
                    </a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="computers.html">
                        <span>Компьютеры</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_right" />
                        </svg>
                    </a>
                    <ul class="sub-menu">
                        <li class="sub-menu__item">
                            <a class="sub-menu__link" href="series.html">project alisio</a>
                        </li>
                        <li class="sub-menu__item">
                            <a class="sub-menu__link" href="series.html">project duo face</a>
                        </li>
                        <li class="sub-menu__item">
                            <a class="sub-menu__link" href="series.html">project evo</a>
                        </li>
                        <li class="sub-menu__item">
                            <a class="sub-menu__link" href="series.html">project forge</a>
                        </li>
                        <li class="sub-menu__item">
                            <a class="sub-menu__link" href="series.html">project mod</a>
                        </li>
                        <li class="sub-menu__item">
                            <a class="sub-menu__link" href="series.html">project one</a>
                        </li>
                        <li class="sub-menu__item">
                            <a class="sub-menu__link" href="series.html">project one max</a>
                        </li>
                    </ul>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">
                        <span>Конфигуратор</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_right" />
                        </svg>
                    </a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">
                        <span>Периферия</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_right" />
                        </svg>
                    </a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">
                        <span>Клиентам</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_right" />
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="header__right-block">
            <button class="js-theme-toggler header__link" type="button" title="Переключить на тёмную тему">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#moon" />
                </svg>
            </button>
            <a class="header__link" href="personal.html" title="Личный кабинет">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#user" />
                </svg>
            </a>
            <a class="header__link" href="cart.html" title="Корзина">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#cart" />
                </svg>
            </a>
            <button class="js-main-menu-toggler header__link header__link--burger" type="button" title="Открыть меню">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#burger" />
                </svg>
            </button>
        </div>
    </div>
</header>