<section class="page__section">
    <p class="pre-title"><span>Дополнительно про нас</span></p>
    <h2>Узнай больше о&nbsp;нас</h2>

    <div class="page__section-inner">
        <div class="tabs">
            <div class="tabs-menu">
                <a class="tabs-menu__button is-active" href="javascript:void(0)" data-target="1">Статьи</a>
                <a class="tabs-menu__button" href="javascript:void(0)" data-target="2">Youtube</a>
                <a class="tabs-menu__button" href="javascript:void(0)" data-target="3">Вконтакте</a>
            </div>

            <div class="tab is-active" data-target="1">
                <div class="last-news-list">
                    <div class="last-news">
                        <div class="last-news__text-block">
                            <p class="last-news__title">Плюсы и минусы КОМПЬЮТЕРА В СТОЛЕ от Fosters PC</p>
                            <p class="last-news__date">27 марта 2023</p>
                            <div class="last-news__preview-text">
                                <p>Наши столы спроектированы таким образом, что у вас будет возможность собрать максимально производительный ПК на самых топовых компонентах</p>
                            </div>
                        </div>

                        <div class="last-news__image-block">
                            <div class="js-video video">
                                <a class="js-video__link video__link" href="https://www.youtube.com/watch?v=pOWbR8Lt2Fk" target="_blank">
                                    <img class="video__media" src="images/content/last-news/img_1.jpg" srcset="images/content/last-news/img_1@2x.jpg 2x" alt="" title="" />
                                    <button class="js-video__button video__button" type="button" aria-label="Запустить видео">
                                        <svg class="video__svg" aria-hidden="true">
                                            <use xlink:href="images/sprite.svg#play" />
                                        </svg>
                                    </button>
                                </a>
                            </div>
                        </div>

                        <div class="last-news__button-block">
                            <a class="button button--w_385" href="#">
                                <span>Перейти</span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#button_arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="last-news">
                        <div class="last-news__text-block">
                            <p class="last-news__title">Собрали ТОПОВЫЙ ПК для Atomic Heart - 200 FPS обеспечены</p>
                            <p class="last-news__date">30 марта 2023</p>
                            <div class="last-news__preview-text">
                                <p>В этом видео мы собираем дорогой, красивый и очень мощный компьютер для нашего клиента. Сборка на i7 13700K + RTX 4070 Ti без проблем справляется с игрой Atomic Heart в любом разрешении и на любых настройках</p>
                            </div>
                        </div>

                        <div class="last-news__image-block">
                            <div class="js-video video">
                                <a class="js-video__link video__link" href="https://www.youtube.com/watch?v=pOWbR8Lt2Fk" target="_blank">
                                    <img class="video__media" src="images/content/last-news/img_2.jpg" srcset="images/content/last-news/img_2@2x.jpg 2x" alt="" title="" />
                                    <button class="js-video__button video__button" type="button" aria-label="Запустить видео">
                                        <svg class="video__svg" aria-hidden="true">
                                            <use xlink:href="images/sprite.svg#play" />
                                        </svg>
                                    </button>
                                </a>
                            </div>
                        </div>

                        <div class="last-news__button-block">
                            <a class="button button--w_385" href="#">
                                <span>Перейти</span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#button_arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab" data-target="2">
                Youtube
            </div>
            <div class="tab" data-target="3">
                Вконтакте
            </div>
        </div>
    </div>
</section>