<div class="main-banner slider slider-container">
    <div class="js-slider swiper" data-id="main_banner">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a class="slider__link" href="#">
                    <img src="images/content/img_wide.jpg" srcset="images/content/img_wide@2x.jpg 2x" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a class="slider__link" href="#">
                    <img src="images/content/img_wide.jpg" srcset="images/content/img_wide@2x.jpg 2x" alt="">
                </a>
            </div>
        </div>
    </div>

    <div class="slider-navigation">
        <button class="js-slider-prev swiper-button-prev" type="button" title="Назад" data-id="main_banner">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#arrow_left" />
            </svg>
        </button>

        <div class="js-slider-navigation swiper-pagination" data-id="main_banner"></div>

        <button class="js-slider-next swiper-button-next" type="button" title="Вперёд" data-id="main_banner">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#arrow_right" />
            </svg>
        </button>
    </div>
</div>