<div class="main-banner slider slider-container">
    <div class="js-slider swiper" data-id="main_banner">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="main-banner__slide main-banner__slide--shade" style="background-image: url(images/content/img_wide.jpg)">
                    <div class="main-banner__banner container">
                        <div class="main-banner__content">
                            <h1 class="main-banner__title">Заголовок слайда для привлечения внимания</h1>
                            <div class="main-banner__image">
                                <picture>
                                    <source srcset="images/content/series/alisio_b.png" media="(min-width: 1200px)">
                                    <img src="images/content/series/alisio_s.png" alt="">
                                </picture>
                            </div>
                            <div class="main-banner__text">
                                <p>
                                    При покупке игрового компьютера на базе корпуса, блока питания и системы охлаждения от Cooler Master и получи игровой набор Cooler Master MS110 в подарок. Прежде чем перейти к выбору комплектующих игрового
                                    компьютера, мы предлагаем выбрать конфигуратор по таким параметрам как ФОРМ‑ФАКТОР или ПРОИЗВОДИТЕЛЬНОСТЬ в играх.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <a class="main-banner__slide main-banner__slide--shade" style="background-image: url(images/content/video_wide_2.jpg)" href="#">
                    <div class="main-banner__banner container">
                        <div class="main-banner__content">
                            <p class="main-banner__title">Более длинный заголовок слайда для привлечения внимания и проверки всего на свете</p>
                            <div class="main-banner__image">
                                <picture>
                                    <source srcset="images/content/series/forge_b.png" media="(min-width: 1200px)">
                                    <img src="images/content/series/forge_s.png" alt="">
                                </picture>
                            </div>
                            <div class="main-banner__text">
                                <p>
                                    При покупке игрового компьютера на базе корпуса, блока питания и системы охлаждения от Cooler Master и получи игровой набор Cooler Master MS110 в подарок. Прежде чем перейти к выбору комплектующих игрового
                                    компьютера, мы предлагаем выбрать конфигуратор по таким параметрам как ФОРМ‑ФАКТОР или ПРОИЗВОДИТЕЛЬНОСТЬ в играх.
                                </p>
                                <p>
                                    <span class="button">Купить</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="slider-navigation">
        <button class="js-slider-prev swiper-button-prev" type="button" title="Назад" data-id="main_banner">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#arrow_left" />
            </svg>
        </button>

        <div class="js-slider-navigation swiper-pagination" data-id="main_banner"></div>

        <button class="js-slider-next swiper-button-next" type="button" title="Вперёд" data-id="main_banner">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#arrow_right" />
            </svg>
        </button>
    </div>
</div>