<section class="page__section">
    <p class="pre-title"><span>Об оплате</span></p>
    <h2>Способы оплаты</h2>
    <div class="page__section-inner">
        <div class="payment">
            <div class="payment__item">
                <span class="payment__item-num">01</span>
                <p>Наличный расчёт в офисе</p>
            </div>
            <div class="payment__item">
                <span class="payment__item-num">02</span>
                <p>Безналичный расчёт в офисе</p>
            </div>
            <div class="payment__item">
                <span class="payment__item-num">03</span>
                <p>Банковский перевод</p>
            </div>
            <div class="payment__item">
                <span class="payment__item-num">04</span>
                <p>Оплата по счёту для юридического лица</p>
            </div>
            <div class="payment__item">
                <span class="payment__item-num">05</span>
                <p>Кредит от банка Тинькофф<br> <small>Срок от 3х месяцев до 2х лет</small></p>
            </div>
        </div>
    </div>
</section>