<ul class="personal-menu">
    <li class="personal-menu__item">
        <a class="personal-menu__link" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#file_lines" />
            </svg>
            История заказов
        </a>
    </li>
    <li class="personal-menu__item">
        <a class="personal-menu__link" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#computer" />
            </svg>
            Мои компьютеры
        </a>
    </li>
    <li class="personal-menu__item">
        <a class="personal-menu__link" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#cart" />
            </svg>
            Моя корзина
        </a>
    </li>
    <li class="personal-menu__item">
        <a class="personal-menu__link" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#file_check" />
            </svg>
            Сохраненные конфигурации
        </a>
    </li>
    <li class="personal-menu__item">
        <a class="personal-menu__link" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#square_question" />
            </svg>
            Поддержка
        </a>
    </li>
    <li class="personal-menu__item">
        <a class="personal-menu__link is-active" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#gear" />
            </svg>
            Настройки профиля
        </a>
    </li>
    <li class="personal-menu__item">
        <a class="personal-menu__link" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#logout" />
            </svg>
            Выйти из профиля
        </a>
    </li>
</ul>