<section class="page__section">
    <div class="container">
        <p class="pre-title"><span>Собственное производство</span></p>
        <h2>Производим сами</h2>

        <div class="produce">
            <div class="produce-item">
                <p class="produce-item__title">Тестирование</p>
                <div class="produce-item__image">
                    <img src="images/content/produce/img_1.jpg" srcset="images/content/produce/img_1@2x.jpg 2x" alt="">
                </div>
                <div class="produce-item__text">
                    <p>Стресс-тестирование в течении 8 часов на самых максимальных мощностях позволяет выявить даже самые малейшие сбои</p>
                </div>
            </div>
            <div class="produce-item is-open">
                <p class="produce-item__title">Индивидуальная сборка</p>
                <div class="produce-item__image">
                    <img src="images/content/produce/img_2.jpg" srcset="images/content/produce/img_2@2x.jpg 2x" alt="">
                </div>
                <div class="produce-item__text">
                    <p>Мы собираем систему исключительно на основе твоих предпочтений. Открой для себя максимальную мощь и производительность.</p>
                    <p>Ты можешь собрать для себя абсолютно совершенную систему, которая подойдет для любого игрового сетапа.</p>
                </div>
            </div>
        </div>
    </div>
</section>