<section class="page__section">
    <p class="pre-title"><span>Периферия</span></p>
    <h2>Рекомендуемые аксессуары</h2>

    <div class="slider-container recommend-container">
        <div class="js-recommend recommend swiper" data-id="recommend">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product__image">
                            <a href="javascript:void(0)" data-fancybox="spec_1" data-src="#spec_popup" title="Мышь беспроводная/проводная ASUS ROG Spatha X [90MP0220-BMUA00] черный">
                                <img src="images/content/products/img.png" srcset="images/content/products/img@2x.png 2x" alt="">
                                <span class="product__title">Мышь беспроводная/проводная ASUS ROG Spatha X [90MP0220-BMUA00] черный</span>
                            </a>
                        </div>

                        <div class="product__price-block">
                            <div class="product__price">15 699 ₽</div>

                            <a class="product__credit" href="#">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#question"></use>
                                </svg>
                                Доступно в кредит
                            </a>
                        </div>

                        <a class="product__button button" href="#">
                            <span>В корзину</span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                            </svg>
                        </a>

                        <div id="spec_popup" class="popup">
                            <p class="popup__title">Характеристики Мышь беспроводная/проводная ASUS ROG Spatha X [90MP0220-BMUA00] черный</p>

                            <div class="speka">
                                <div class="speka__item">
                                    <span>
                                        Основной цвет
                                    </span>
                                    <span>черный</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Подсветка
                                    </span>
                                    <span>RGB</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Тканевая оплетка кабеля
                                    </span>
                                    <span>есть</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Общее количество кнопок
                                    </span>
                                    <span>12</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Количество программируемых кнопок
                                    </span>
                                    <span>12 шт</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Максимальное разрешение датчика
                                    </span>
                                    <span>19000 dpi</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product__image">
                            <a href="javascript:void(0)" data-fancybox="spec_2" data-src="#spec_popup" title="Мышь беспроводная/проводная ASUS ROG Spatha X [90MP0220-BMUA00] черный">
                                <img src="images/content/products/img.png" srcset="images/content/products/img@2x.png 2x" alt="">
                                <span class="product__title">Мышь беспроводная/проводная ASUS ROG Spatha X [90MP0220-BMUA00] черный</span>
                            </a>
                        </div>

                        <div class="product__price-block">
                            <div class="product__price">15 699 ₽</div>

                            <a class="product__credit" href="#">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#question"></use>
                                </svg>
                                Доступно в кредит
                            </a>
                        </div>

                        <a class="product__button button" href="#">
                            <span>В корзину</span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                            </svg>
                        </a>

                        <div id="spec_popup" class="popup">
                            <p class="popup__title">Характеристики Мышь беспроводная/проводная ASUS ROG Spatha X [90MP0220-BMUA00] черный</p>

                            <div class="speka">
                                <div class="speka__item">
                                    <span>
                                        Основной цвет
                                    </span>
                                    <span>черный</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Подсветка
                                    </span>
                                    <span>RGB</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Тканевая оплетка кабеля
                                    </span>
                                    <span>есть</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Общее количество кнопок
                                    </span>
                                    <span>12</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Количество программируемых кнопок
                                    </span>
                                    <span>12 шт</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Максимальное разрешение датчика
                                    </span>
                                    <span>19000 dpi</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product__image">
                            <a href="javascript:void(0)" data-fancybox="spec_3" data-src="#spec_popup" title="Мышь беспроводная/проводная ASUS ROG Spatha X [90MP0220-BMUA00] черный">
                                <img src="images/content/products/img.png" srcset="images/content/products/img@2x.png 2x" alt="">
                                <span class="product__title">Мышь беспроводная/проводная ASUS ROG Spatha X [90MP0220-BMUA00] черный</span>
                            </a>
                        </div>

                        <div class="product__price-block">
                            <div class="product__price">15 699 ₽</div>

                            <a class="product__credit" href="#">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#question"></use>
                                </svg>
                                Доступно в кредит
                            </a>
                        </div>

                        <a class="product__button button" href="#">
                            <span>В корзину</span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                            </svg>
                        </a>

                        <div id="spec_popup" class="popup">
                            <p class="popup__title">Характеристики Мышь беспроводная/проводная ASUS ROG Spatha X [90MP0220-BMUA00] черный</p>

                            <div class="speka">
                                <div class="speka__item">
                                    <span>
                                        Основной цвет
                                    </span>
                                    <span>черный</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Подсветка
                                    </span>
                                    <span>RGB</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Тканевая оплетка кабеля
                                    </span>
                                    <span>есть</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Общее количество кнопок
                                    </span>
                                    <span>12</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Количество программируемых кнопок
                                    </span>
                                    <span>12 шт</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Максимальное разрешение датчика
                                    </span>
                                    <span>19000 dpi</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product__image">
                            <a href="javascript:void(0)" data-fancybox="spec_4" data-src="#spec_popup" title="Мышь беспроводная/проводная ASUS ROG Spatha X [90MP0220-BMUA00] черный">
                                <img src="images/content/products/img.png" srcset="images/content/products/img@2x.png 2x" alt="">
                                <span class="product__title">Мышь беспроводная/проводная ASUS ROG Spatha X [90MP0220-BMUA00] черный</span>
                            </a>
                        </div>

                        <div class="product__price-block">
                            <div class="product__price">15 699 ₽</div>

                            <a class="product__credit" href="#">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#question"></use>
                                </svg>
                                Доступно в кредит
                            </a>
                        </div>

                        <a class="product__button button" href="#">
                            <span>В корзину</span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                            </svg>
                        </a>

                        <div id="spec_popup" class="popup">
                            <p class="popup__title">Характеристики Мышь беспроводная/проводная ASUS ROG Spatha X [90MP0220-BMUA00] черный</p>

                            <div class="speka">
                                <div class="speka__item">
                                    <span>
                                        Основной цвет
                                    </span>
                                    <span>черный</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Подсветка
                                    </span>
                                    <span>RGB</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Тканевая оплетка кабеля
                                    </span>
                                    <span>есть</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Общее количество кнопок
                                    </span>
                                    <span>12</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Количество программируемых кнопок
                                    </span>
                                    <span>12 шт</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Максимальное разрешение датчика
                                    </span>
                                    <span>19000 dpi</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product__image">
                            <a href="javascript:void(0)" data-fancybox="spec_5" data-src="#spec_popup" title="Мышь беспроводная/проводная ASUS ROG Spatha X [90MP0220-BMUA00] черный">
                                <img src="images/content/products/img.png" srcset="images/content/products/img@2x.png 2x" alt="">
                                <span class="product__title">Мышь беспроводная/проводная ASUS ROG Spatha X [90MP0220-BMUA00] черный</span>
                            </a>
                        </div>

                        <div class="product__price-block">
                            <div class="product__price">15 699 ₽</div>

                            <a class="product__credit" href="#">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#question"></use>
                                </svg>
                                Доступно в кредит
                            </a>
                        </div>

                        <a class="product__button button" href="#">
                            <span>В корзину</span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                            </svg>
                        </a>

                        <div id="spec_popup" class="popup">
                            <p class="popup__title">Характеристики Мышь беспроводная/проводная ASUS ROG Spatha X [90MP0220-BMUA00] черный</p>

                            <div class="speka">
                                <div class="speka__item">
                                    <span>
                                        Основной цвет
                                    </span>
                                    <span>черный</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Подсветка
                                    </span>
                                    <span>RGB</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Тканевая оплетка кабеля
                                    </span>
                                    <span>есть</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Общее количество кнопок
                                    </span>
                                    <span>12</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Количество программируемых кнопок
                                    </span>
                                    <span>12 шт</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Максимальное разрешение датчика
                                    </span>
                                    <span>19000 dpi</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product__image">
                            <a href="javascript:void(0)" data-fancybox="spec_6" data-src="#spec_popup" title="Мышь беспроводная/проводная ASUS ROG Spatha X [90MP0220-BMUA00] черный">
                                <img src="images/content/products/img.png" srcset="images/content/products/img@2x.png 2x" alt="">
                                <span class="product__title">Мышь беспроводная/проводная ASUS ROG Spatha X [90MP0220-BMUA00] черный</span>
                            </a>
                        </div>

                        <div class="product__price-block">
                            <div class="product__price">15 699 ₽</div>

                            <a class="product__credit" href="#">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#question"></use>
                                </svg>
                                Доступно в кредит
                            </a>
                        </div>

                        <a class="product__button button" href="#">
                            <span>В корзину</span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#button_arrow"></use>
                            </svg>
                        </a>

                        <div id="spec_popup" class="popup">
                            <p class="popup__title">Характеристики Мышь беспроводная/проводная ASUS ROG Spatha X [90MP0220-BMUA00] черный</p>

                            <div class="speka">
                                <div class="speka__item">
                                    <span>
                                        Основной цвет
                                    </span>
                                    <span>черный</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Подсветка
                                    </span>
                                    <span>RGB</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Тканевая оплетка кабеля
                                    </span>
                                    <span>есть</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Общее количество кнопок
                                    </span>
                                    <span>12</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Количество программируемых кнопок
                                    </span>
                                    <span>12 шт</span>
                                </div>
                                <div class="speka__item">
                                    <span>
                                        Максимальное разрешение датчика
                                    </span>
                                    <span>19000 dpi</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-navigation">
            <button class="js-recommend-prev swiper-button-prev" type="button" title="Назад" data-id="recommend">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_left" />
                </svg>
            </button>

            <button class="js-recommend-next swiper-button-next" type="button" title="Вперёд" data-id="recommend">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_right" />
                </svg>
            </button>
        </div>
    </div>
</section>