<div class="page__section">
    <p class="pre-title"><span>Наши акссесуары</span></p>
    <h2>Рекомендуемые<br> аксессуары</h2>

    <div class="columns_1_3 recs">
        <div class="columns_1_3__column_1 recs__text-block">
            <h3 class="color-green">Наша периферия</h3>
            <p>Соберите полный комплект к своему новому компьютеру</p>

            <div class="slider-navigation">
                <button class="js-recs-slider-prev swiper-button-prev" type="button" title="Назад" data-id="recs_1">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_left" />
                    </svg>
                </button>

                <div class="js-recs-slider-navigation swiper-pagination" data-id="recs_1"></div>

                <button class="js-recs-slider-next swiper-button-next" type="button" title="Вперёд" data-id="recs_1">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_right" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="columns_1_3__column_3 recs__slider-block">
            <div class="js-recs-slider swiper" data-id="recs_1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a class="recs-item" href="#">
                            <picture>
                                <source srcset="images/content/recs/img_1_desk.jpg, images/content/recs/img_1_desk@2x.jpg 2x" media="(min-width: 768px)">
                                <img src="images/content/recs/img_1_mob.jpg" srcset="images/content/recs/img_1_mob@2x.jpg 2x" alt="">
                            </picture>
                            <span class="recs-item__title">Микрофоны</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="recs-item" href="#">
                            <picture>
                                <source srcset="images/content/recs/img_2_desk.jpg, images/content/recs/img_2_desk@2x.jpg 2x" media="(min-width: 768px)">
                                <img src="images/content/recs/img_2_mob.jpg" srcset="images/content/recs/img_2_mob@2x.jpg 2x" alt="">
                            </picture>
                            <span class="recs-item__title">Наушники</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="recs-item" href="#">
                            <picture>
                                <source srcset="images/content/recs/img_3_desk.jpg, images/content/recs/img_3_desk@2x.jpg 2x" media="(min-width: 768px)">
                                <img src="images/content/recs/img_3_mob.jpg" srcset="images/content/recs/img_3_mob@2x.jpg 2x" alt="">
                            </picture>
                            <span class="recs-item__title">Мышки</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="recs-item" href="#">
                            <picture>
                                <source srcset="images/content/recs/img_1_desk.jpg, images/content/recs/img_1_desk@2x.jpg 2x" media="(min-width: 768px)">
                                <img src="images/content/recs/img_1_mob.jpg" srcset="images/content/recs/img_1_mob@2x.jpg 2x" alt="">
                            </picture>
                            <span class="recs-item__title">Микрофоны</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>