<section class="page__section">
    <div class="container">
        <p class="pre-title"><span>Отзывы о нас</span></p>
        <h2>Отзывы</h2>

        <a class="to-social" href="#" target="_blank" rel="nofollow noreferrer">
            <span class="to-social__title">
                <svg class="to-social__icon" aria-hidden="true">
                    <use xlink:href="images/sprite.svg#vk_2" />
                </svg>
                Вконтакте
            </span>
            <span class="to-social__button button">
                <span>перейти в вк</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#button_arrow" />
                </svg>
            </span>
        </a>

        <div class="reviews slider-container">
            <div class="js-reviews swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a class="review" href="#" target="_blank" rel="nofollow noreferrer">
                            <span class="review__title">Кирилл Савенков</span>
                            <span class="review__text">Приобрел у ребят пк , сделали все грамотно без вопросов , отчет был о каждом действии и по приезду пк ответили дополнительно на вопросы , спасибо за работу на 5 баллов , заказывайте и не
                                сомневайтесь) Мой первый пк , уважение вам! Обнял</span>
                            <span class="review__link">Отзыв на ВКонтакте</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="review" href="#" target="_blank" rel="nofollow noreferrer">
                            <span class="review__title">Кирилл Савенков</span>
                            <span class="review__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur veritatis commodi vitae. Laudantium architecto maxime suscipit voluptatibus facere perspiciatis illo, rerum. Quam ab esse placeat
                                aperiam ducimus nobis. Nam, nisi.</span>
                            <span class="review__link">Отзыв на ВКонтакте</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="review" href="#" target="_blank" rel="nofollow noreferrer">
                            <span class="review__title">Кирилл Савенков</span>
                            <span class="review__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                deserunt mollit anim id est laborum.</span>
                            <span class="review__link">Отзыв на ВКонтакте</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="review" href="#" target="_blank" rel="nofollow noreferrer">
                            <span class="review__title">Кирилл Савенков</span>
                            <span class="review__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia architecto sed rem temporibus non dignissimos ratione, atque est consequuntur. Consequuntur vitae beatae debitis, eum illo, tenetur
                                voluptatibus similique. Magnam, sequi!</span>
                            <span class="review__link">Отзыв на ВКонтакте</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="review" href="#" target="_blank" rel="nofollow noreferrer">
                            <span class="review__title">Кирилл Савенков</span>
                            <span class="review__text">Приобрел у ребят пк , сделали все грамотно без вопросов , отчет был о каждом действии и по приезду пк ответили дополнительно на вопросы , спасибо за работу на 5 баллов , заказывайте и не
                                сомневайтесь) Мой первый пк , уважение вам! Обнял</span>
                            <span class="review__link">Отзыв на ВКонтакте</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="review" href="#" target="_blank" rel="nofollow noreferrer">
                            <span class="review__title">Кирилл Савенков</span>
                            <span class="review__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur veritatis commodi vitae. Laudantium architecto maxime suscipit voluptatibus facere perspiciatis illo, rerum. Quam ab esse placeat
                                aperiam ducimus nobis. Nam, nisi.</span>
                            <span class="review__link">Отзыв на ВКонтакте</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="review" href="#" target="_blank" rel="nofollow noreferrer">
                            <span class="review__title">Кирилл Савенков</span>
                            <span class="review__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                deserunt mollit anim id est laborum.</span>
                            <span class="review__link">Отзыв на ВКонтакте</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="review" href="#" target="_blank" rel="nofollow noreferrer">
                            <span class="review__title">Кирилл Савенков</span>
                            <span class="review__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia architecto sed rem temporibus non dignissimos ratione, atque est consequuntur. Consequuntur vitae beatae debitis, eum illo, tenetur
                                voluptatibus similique. Magnam, sequi!</span>
                            <span class="review__link">Отзыв на ВКонтакте</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="slider-navigation">
                <button class="js-reviews-prev swiper-button-prev" type="button" title="Назад">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_left" />
                    </svg>
                </button>

                <div class="js-reviews-navigation swiper-pagination"></div>

                <button class="js-reviews-next swiper-button-next" type="button" title="Вперёд">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_right" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>