<section class="page__section">
    <p class="pre-title"><span>Игровые компьютеры</span></p>

    <h2>Серии компьютеров</h2>

    <div class="series-slider slider-container">
        <div class="js-series-slider swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="series-slide">
                        <div class="series-slide__image">
                            <a href="javascript:void(0)"><img src="images/content/series/alisio_s.png" srcset="images/content/series/alisio_b.png 2x" alt=""></a>
                        </div>
                        <div class="series-slide__text-block">
                            <div class="series-slide__title">project project <span>alisio</span></div>
                            <div class="series-slide__complect">5 комплектаций</div>
                            <div class="series-slide__text">
                                Современные игровые компьютеры с процессорами Intel Core и видеокартами NVIDIA GeForce RTX предлагают идеальное сочетание производительности и стоимости. Максимум эффективности без лишнего.
                            </div>
                            <div class="series-slide__bottom">
                                <div class="series-slide__price">112 900 ₽</div>
                                <div class="series-slide__buttons-block">
                                    <a class="button" href="#">
                                        Конфигуратор
                                    </a>

                                    <a class="button button--bordered" href="#">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="series-slide">
                        <div class="series-slide__image">
                            <a href="javascript:void(0)"><img src="images/content/series/duoface_s.png" srcset="images/content/series/duoface_b.png 2x" alt=""></a>
                        </div>
                        <div class="series-slide__text-block">
                            <div class="series-slide__title">project <span>duo face</span></div>
                            <div class="series-slide__complect">6 комплектаций</div>
                            <div class="series-slide__text">
                                Современные игровые компьютеры с процессорами Intel Core и видеокартами NVIDIA GeForce RTX предлагают идеальное сочетание производительности и стоимости. Максимум эффективности без лишнего.
                            </div>
                            <div class="series-slide__bottom">
                                <div class="series-slide__price">180 000 ₽</div>
                                <div class="series-slide__buttons-block">
                                    <a class="button" href="#">
                                        Конфигуратор
                                    </a>

                                    <a class="button button--bordered" href="#">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="series-slide">
                        <div class="series-slide__image">
                            <a href="javascript:void(0)"><img src="images/content/series/evo_s.png" srcset="images/content/series/evo_b.png 2x" alt=""></a>
                        </div>
                        <div class="series-slide__text-block">
                            <div class="series-slide__title">project <span>duo face</span></div>
                            <div class="series-slide__complect">11 комплектаций</div>
                            <div class="series-slide__text">
                                Современные игровые компьютеры с процессорами Intel Core и видеокартами NVIDIA GeForce RTX предлагают идеальное сочетание производительности и стоимости. Максимум эффективности без лишнего.
                            </div>
                            <div class="series-slide__bottom">
                                <div class="series-slide__price">210 000 ₽</div>
                                <div class="series-slide__buttons-block">
                                    <a class="button" href="#">
                                        Конфигуратор
                                    </a>

                                    <a class="button button--bordered" href="#">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="series-slide">
                        <div class="series-slide__image">
                            <a href="javascript:void(0)"><img src="images/content/series/forge_s.png" srcset="images/content/series/forge_b.png 2x" alt=""></a>
                        </div>
                        <div class="series-slide__text-block">
                            <div class="series-slide__title">project <span>duo face</span></div>
                            <div class="series-slide__complect">11 комплектаций</div>
                            <div class="series-slide__text">
                                Современные игровые компьютеры с процессорами Intel Core и видеокартами NVIDIA GeForce RTX предлагают идеальное сочетание производительности и стоимости. Максимум эффективности без лишнего.
                            </div>
                            <div class="series-slide__bottom">
                                <div class="series-slide__price">210 000 ₽</div>
                                <div class="series-slide__buttons-block">
                                    <a class="button" href="#">
                                        Конфигуратор
                                    </a>

                                    <a class="button button--bordered" href="#">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="series-slide">
                        <div class="series-slide__image">
                            <a href="javascript:void(0)"><img src="images/content/series/mod_s.png" srcset="images/content/series/mod_b.png 2x" alt=""></a>
                        </div>
                        <div class="series-slide__text-block">
                            <div class="series-slide__title">project <span>mod</span></div>
                            <div class="series-slide__complect">11 комплектаций</div>
                            <div class="series-slide__text">
                                Современные игровые компьютеры с процессорами Intel Core и видеокартами NVIDIA GeForce RTX предлагают идеальное сочетание производительности и стоимости. Максимум эффективности без лишнего.
                            </div>
                            <div class="series-slide__bottom">
                                <div class="series-slide__price">210 000 ₽</div>
                                <div class="series-slide__buttons-block">
                                    <a class="button" href="#">
                                        Конфигуратор
                                    </a>

                                    <a class="button button--bordered" href="#">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="series-slide">
                        <div class="series-slide__image">
                            <a href="javascript:void(0)"><img src="images/content/series/one_s.png" srcset="images/content/series/one_b.png 2x" alt=""></a>
                        </div>
                        <div class="series-slide__text-block">
                            <div class="series-slide__title">project <span>one</span></div>
                            <div class="series-slide__complect">11 комплектаций</div>
                            <div class="series-slide__text">
                                Современные игровые компьютеры с процессорами Intel Core и видеокартами NVIDIA GeForce RTX предлагают идеальное сочетание производительности и стоимости. Максимум эффективности без лишнего.
                            </div>
                            <div class="series-slide__bottom">
                                <div class="series-slide__price">210 000 ₽</div>
                                <div class="series-slide__buttons-block">
                                    <a class="button" href="#">
                                        Конфигуратор
                                    </a>

                                    <a class="button button--bordered" href="#">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="series-slide">
                        <div class="series-slide__image">
                            <a href="javascript:void(0)"><img src="images/content/series/one_max_s.png" srcset="images/content/series/one_max_b.png 2x" alt=""></a>
                        </div>
                        <div class="series-slide__text-block">
                            <div class="series-slide__title">project <span>one max</span></div>
                            <div class="series-slide__complect">7 комплектаций</div>
                            <div class="series-slide__text">
                                Современные игровые компьютеры с процессорами Intel Core и видеокартами NVIDIA GeForce RTX предлагают идеальное сочетание производительности и стоимости. Максимум эффективности без лишнего.
                            </div>
                            <div class="series-slide__bottom">
                                <div class="series-slide__price">253 900 ₽</div>
                                <div class="series-slide__buttons-block">
                                    <a class="button" href="#">
                                        Конфигуратор
                                    </a>

                                    <a class="button button--bordered" href="#">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-navigation">
            <button class="js-series-slider-prev swiper-button-prev" type="button" title="Назад">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_left" />
                </svg>
            </button>

            <button class="js-series-slider-next swiper-button-next" type="button" title="Вперёд">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_right" />
                </svg>
            </button>
        </div>
    </div>
</section>