<section class="page__section">
    <p class="pre-title"><span>Игровые компьютеры</span></p>

    <h2>Серии компьютеров</h2>

    <div class="js-series-slider series-slider swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a class="series-slide" href="javascript:void(0)">
                    <span class="series-slide__image">
                        <img src="images/content/series/alisio_s.png" srcset="images/content/series/alisio_b.png 2x" alt="">
                    </span>
                    <span class="series-slide__text-block">
                        <span class="series-slide__title-block">
                            <span class="series-slide__title">project <span>alisio</span></span>
                            <span class="series-slide__price">253 900 ₽</span>
                        </span>
                        <span class="series-slide__text">
                            Современные игровые компьютеры с процессорами Intel Core и видеокартами NVIDIA GeForce RTX предлагают идеальное сочетание производительности и стоимости. Максимум эффективности без лишнего.
                        </span>
                    </span>
                </a>
            </div>
            <div class="swiper-slide">
                <a class="series-slide" href="javascript:void(0)">
                    <span class="series-slide__image">
                        <img src="images/content/series/duoface_s.png" srcset="images/content/series/duoface_b.png 2x" alt="">
                    </span>
                    <span class="series-slide__text-block">
                        <span class="series-slide__title-block">
                            <span class="series-slide__title">project <span>duo face</span></span>
                            <span class="series-slide__price">253 900 ₽</span>
                        </span>
                        <span class="series-slide__text">
                            Современные игровые компьютеры с процессорами Intel Core и видеокартами NVIDIA GeForce RTX предлагают идеальное сочетание производительности и стоимости. Максимум эффективности без лишнего.
                        </span>
                    </span>
                </a>
            </div>
            <div class="swiper-slide">
                <a class="series-slide" href="javascript:void(0)">
                    <span class="series-slide__image">
                        <img src="images/content/series/evo_s.png" srcset="images/content/series/evo_b.png 2x" alt="">
                    </span>
                    <span class="series-slide__text-block">
                        <span class="series-slide__title-block">
                            <span class="series-slide__title">project <span>evo</span></span>
                            <span class="series-slide__price">253 900 ₽</span>
                        </span>
                        <span class="series-slide__text">
                            Современные игровые компьютеры с процессорами Intel Core и видеокартами NVIDIA GeForce RTX предлагают идеальное сочетание производительности и стоимости. Максимум эффективности без лишнего.
                        </span>
                    </span>
                </a>
            </div>
            <div class="swiper-slide">
                <a class="series-slide" href="javascript:void(0)">
                    <span class="series-slide__image">
                        <img src="images/content/series/forge_s.png" srcset="images/content/series/forge_b.png 2x" alt="">
                    </span>
                    <span class="series-slide__text-block">
                        <span class="series-slide__title-block">
                            <span class="series-slide__title">project <span>forge</span></span>
                            <span class="series-slide__price">253 900 ₽</span>
                        </span>
                        <span class="series-slide__text">
                            Современные игровые компьютеры с процессорами Intel Core и видеокартами NVIDIA GeForce RTX предлагают идеальное сочетание производительности и стоимости. Максимум эффективности без лишнего.
                        </span>
                    </span>
                </a>
            </div>
            <div class="swiper-slide">
                <a class="series-slide" href="javascript:void(0)">
                    <span class="series-slide__image">
                        <img src="images/content/series/mod_s.png" srcset="images/content/series/mod_b.png 2x" alt="">
                    </span>
                    <span class="series-slide__text-block">
                        <span class="series-slide__title-block">
                            <span class="series-slide__title">project <span>mod</span></span>
                            <span class="series-slide__price">253 900 ₽</span>
                        </span>
                        <span class="series-slide__text">
                            Современные игровые компьютеры с процессорами Intel Core и видеокартами NVIDIA GeForce RTX предлагают идеальное сочетание производительности и стоимости. Максимум эффективности без лишнего.
                        </span>
                    </span>
                </a>
            </div>
            <div class="swiper-slide">
                <a class="series-slide" href="javascript:void(0)">
                    <span class="series-slide__image">
                        <img src="images/content/series/one_s.png" srcset="images/content/series/one_b.png 2x" alt="">
                    </span>
                    <span class="series-slide__text-block">
                        <span class="series-slide__title-block">
                            <span class="series-slide__title">project <span>one</span></span>
                            <span class="series-slide__price">253 900 ₽</span>
                        </span>
                        <span class="series-slide__text">
                            Современные игровые компьютеры с процессорами Intel Core и видеокартами NVIDIA GeForce RTX предлагают идеальное сочетание производительности и стоимости. Максимум эффективности без лишнего.
                        </span>
                    </span>
                </a>
            </div>
            <div class="swiper-slide">
                <a class="series-slide" href="javascript:void(0)">
                    <span class="series-slide__image">
                        <img src="images/content/series/one_max_s.png" srcset="images/content/series/one_max_b.png 2x" alt="">
                    </span>
                    <span class="series-slide__text-block">
                        <span class="series-slide__title-block">
                            <span class="series-slide__title">project <span>one max</span></span>
                            <span class="series-slide__price">253 900 ₽</span>
                        </span>
                        <span class="series-slide__text">
                            Современные игровые компьютеры с процессорами Intel Core и видеокартами NVIDIA GeForce RTX предлагают идеальное сочетание производительности и стоимости. Максимум эффективности без лишнего.
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>