<section class="page__section">
    <div class="container">
        <p class="pre-title"><span>Гарантия и сервис</span></p>
        <h2>Обслуживание и&nbsp;поддержка</h2>
        <div class="page__section-inner">
            <div class="page__section-text">
                <p>
                    При производстве компьютеров Fosters используются все современные методики, способные обеспечить наибольшую надежность ПК. Если работоспособность компьютера внезапно снизилась, мы проведем доскональную диагностику и обязательно
                    поможем всё исправить. ПК от Fosters это также:
                </p>
            </div>

            <div class="features">
                <div class="feature">
                    <p class="feature__title">12 месяцев гарантии</p>
                    <div class="feature__text">
                        <p>Мы уверены в качестве каждого компьютера Fosters, поэтому предоставляем гарантию – 12&nbsp;месяцев.</p>
                    </div>
                </div>
                <div class="feature">
                    <p class="feature__title">Техническая консультация специалиста</p>
                    <div class="feature__text">
                        <p>Мы не оставим Вас с проблемами один на один. Наши технические специалисты готовы предоставить консультацию по телефону, либо через мессенджер.</p>
                    </div>
                </div>
                <div class="feature">
                    <p class="feature__title">Полная диагностика, чистка компьютера</p>
                    <div class="feature__text">
                        <p>Необходимо регулярно проводить чистку компьютера, и наши специалисты с удовольствием проведут полную диагностику и обслуживание, предоставив вам подробный отчет.</p>
                    </div>
                </div>
                <div class="feature">
                    <p class="feature__title">Страховка пк при доставке</p>
                    <div class="feature__text">
                        <p>Все риски при доставке берет на себя Fosters. В каждый наш компьютер встроена страховка. Если в процессе доставки возникают проблемы, мы немедленно отправим вам аналогичный компьютер.</p>
                    </div>
                </div>
                <div class="feature">
                    <p class="feature__title">Усиленная упаковка</p>
                    <div class="feature__text">
                        <p>Все компьютеры отправляю в надежной упаковке с пенопластом внутри. Компьютеры упаковываются не только снаружи, но и внутри.</p>
                    </div>
                </div>
                <div class="feature">
                    <p class="feature__title">Помощь с сохранением и переносом данных</p>
                    <div class="feature__text">
                        <p>Наши специалисты помогут перенести всю информацию на новый компьютер. При этом мы не имеем доступа к вашим данным, и все они остаются строго конфиденциальными.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>