<section class="page__section">
    <p class="set-title">Конфигурация:</p>
    <div class="set">
        <div class="set__item">
            <p class="set__item-title">Процессор:</p>
            <p class="set__item-value">Intel i3-10100F</p>
        </div>
        <div class="set__item">
            <p class="set__item-title">Видеокарта:</p>
            <p class="set__item-value">GTX 1650 на&nbsp;4GB</p>
        </div>
        <div class="set__item">
            <p class="set__item-title">Материнская плата:</p>
            <p class="set__item-value">MSI PRO H410M</p>
        </div>
        <div class="set__item">
            <p class="set__item-title">Оперативная память:</p>
            <p class="set__item-value">ADATA XPG на&nbsp;16GB</p>
        </div>
        <div class="set__item">
            <p class="set__item-title">SSD накопитель:</p>
            <p class="set__item-value">Colorful SL500 на&nbsp;1TB</p>
        </div>
        <div class="set__item">
            <p class="set__item-title">Блок питания:</p>
            <p class="set__item-value">Deepcool на&nbsp;600W</p>
        </div>
        <div class="set__item">
            <p class="set__item-title">Охлаждение:</p>
            <p class="set__item-value">PCCooler EX400S</p>
        </div>
    </div>
</section>