<section class="page__section">
    <p class="pre-title"><span>Кастомные компьютеры в столе</span></p>
    <h2>ПК в столе</h2>

    <div class="table-pc">
        <div class="table-pc__text">
            <p>Такой ПК занимает минимум места и при этом вызывает вау эффект намного больше, чем любой классический вариант компьютера.</p>
            <p>Наши столы спроектированы таким образом, что у вас будет возможность собрать максимально производительный ПК.</p>
        </div>

        <a class="table-pc__inner" href="#">
            <img class="table-pc__image" src="images/content/table-pc/img_desk.jpg" srcset="images/content/table-pc/img_desk@2x.jpg 2x" alt="">

            <div class="table-pc__info-block">
                <div class="table-pc__info-text">
                    <p class="table-pc__info-title">Установим любые комплектующие</p>

                    <div class="table-pc__info-item">
                        <span>Любые материнские платы</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_right" />
                        </svg>
                    </div>

                    <div class="table-pc__info-item">
                        <span>Любые видеокарты</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_right" />
                        </svg>
                    </div>

                    <div class="table-pc__info-item">
                        <span>2 любых радиатора</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_right" />
                        </svg>
                    </div>

                    <div class="table-pc__info-item">
                        <span>2 любые колбы для жикости</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_right" />
                        </svg>
                    </div>

                    <div class="table-pc__info-item">
                        <span>2 посадочных места под HDD</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_right" />
                        </svg>
                    </div>

                    <div class="table-pc__info-item">
                        <span>4 посадочных места под SSD</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_right" />
                        </svg>
                    </div>
                </div>

                <div class="table-pc__features">
                    <div class="table-pc__feature">7 см закаленное стекло</div>

                    <div class="table-pc__feature">Кабель питания, для монитора<br> и для ПК всего один</div>

                    <div class="table-pc__feature">Верхняя часть столешницы<br> герметична</div>
                </div>
            </div>
        </a>
    </div>
</section>