<section class="page__section">
    <p class="pre-title"><span>Тестирование</span></p>
    <h2>Тестирование</h2>
    <div class="page__section-inner">
        <div class="page__section-text">
            <p>Вы получаете видеоотчет со всеми этапами сборки: от распаковки комплектующих и до финальной упаковки уже готового ПК</p>
        </div>

        <div class="features">
            <div class="feature">
                <p class="feature__title">Видео с комплектующими</p>
                <div class="feature__text">
                    <p>Присылаю вам видео, где показываю все комплектующие, что будут использоваться в вашем ПК. На этом этапе комплектующие запакованы, вы сможете оценить целостность упаковки и заводских пломб</p>
                </div>
            </div>
            <div class="feature">
                <p class="feature__title">Видео для оценки внешнего вида</p>
                <div class="feature__text">
                    <p>После сборки ПК присылаю видео для оценки финального внешнего вида. Вы оцените, как выполнен кабель-менеджмент и полюбуетесь на свой ПК</p>
                </div>
            </div>
            <div class="feature">
                <p class="feature__title">Видео с тестами</p>
                <div class="feature__text">
                    <p>Присылаю видео с тестами стабильности вашего ПК. Вы сможете оценить показатели по нагреву комплектующих и тесты FPS (AIDA64 + FurMark)</p>
                </div>
            </div>
            <div class="feature">
                <p class="feature__title">Видео с финальной упаковкой</p>
                <div class="feature__text">
                    <p>Присылаю видео с финальной упаковкой вашего ПК перед передачей в доставку. У нас вы сможете оценить каждый этап сборки вашего ПК</p>
                </div>
            </div>
        </div>
    </div>

</section>