<section class="page__section">

    <p class="pre-title"><span>Наши распаковки</span></p>
    <h2>Видео-отзывы</h2>

    <div class="video-reviews slider-container">
        <div class="js-video-reviews swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a class="video-review" data-fancybox data-type="iframe" data-src="https://vk.com/video_ext.php?oid=-58662334&id=456248232&hd=2" href="javascript:;">
                        <span class="video-review__title">Кирилл Савенков</span>
                        <span class="video-review__image">
                            <img src="images/content/video-reviews/img_1.jpg" srcset="images/content/video-reviews/img_1@2x.jpg 2x" alt="">
                            <button class="video-review__button" type="button" title="Смотреть">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#play" />
                                </svg>
                            </button>
                        </span>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="video-review" data-fancybox data-type="iframe" data-src="https://vk.com/video_ext.php?oid=-58662334&id=456248232&hd=2" href="javascript:;">
                        <span class="video-review__title">Кирилл Савенков</span>
                        <span class="video-review__image">
                            <img src="images/content/video-reviews/img_1.jpg" srcset="images/content/video-reviews/img_1@2x.jpg 2x" alt="">
                            <button class="video-review__button" type="button" title="Смотреть">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#play" />
                                </svg>
                            </button>
                        </span>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="video-review" data-fancybox data-type="iframe" data-src="https://vk.com/video_ext.php?oid=-58662334&id=456248232&hd=2" href="javascript:;">
                        <span class="video-review__title">Кирилл Савенков</span>
                        <span class="video-review__image">
                            <img src="images/content/video-reviews/img_1.jpg" srcset="images/content/video-reviews/img_1@2x.jpg 2x" alt="">
                            <button class="video-review__button" type="button" title="Смотреть">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#play" />
                                </svg>
                            </button>
                        </span>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="video-review" data-fancybox data-type="iframe" data-src="https://vk.com/video_ext.php?oid=-58662334&id=456248232&hd=2" href="javascript:;">
                        <span class="video-review__title">Кирилл Савенков</span>
                        <span class="video-review__image">
                            <img src="images/content/video-reviews/img_1.jpg" srcset="images/content/video-reviews/img_1@2x.jpg 2x" alt="">
                            <button class="video-review__button" type="button" title="Смотреть">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#play" />
                                </svg>
                            </button>
                        </span>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="video-review" data-fancybox data-type="iframe" data-src="https://vk.com/video_ext.php?oid=-58662334&id=456248232&hd=2" href="javascript:;">
                        <span class="video-review__title">Кирилл Савенков</span>
                        <span class="video-review__image">
                            <img src="images/content/video-reviews/img_1.jpg" srcset="images/content/video-reviews/img_1@2x.jpg 2x" alt="">
                            <button class="video-review__button" type="button" title="Смотреть">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#play" />
                                </svg>
                            </button>
                        </span>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="video-review" data-fancybox data-type="iframe" data-src="https://vk.com/video_ext.php?oid=-58662334&id=456248232&hd=2" href="javascript:;">
                        <span class="video-review__title">Кирилл Савенков</span>
                        <span class="video-review__image">
                            <img src="images/content/video-reviews/img_1.jpg" srcset="images/content/video-reviews/img_1@2x.jpg 2x" alt="">
                            <button class="video-review__button" type="button" title="Смотреть">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#play" />
                                </svg>
                            </button>
                        </span>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="video-review" data-fancybox data-type="iframe" data-src="https://vk.com/video_ext.php?oid=-58662334&id=456248232&hd=2" href="javascript:;">
                        <span class="video-review__title">Кирилл Савенков</span>
                        <span class="video-review__image">
                            <img src="images/content/video-reviews/img_1.jpg" srcset="images/content/video-reviews/img_1@2x.jpg 2x" alt="">
                            <button class="video-review__button" type="button" title="Смотреть">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#play" />
                                </svg>
                            </button>
                        </span>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="video-review" data-fancybox data-type="iframe" data-src="https://vk.com/video_ext.php?oid=-58662334&id=456248232&hd=2" href="javascript:;">
                        <span class="video-review__title">Кирилл Савенков</span>
                        <span class="video-review__image">
                            <img src="images/content/video-reviews/img_1.jpg" srcset="images/content/video-reviews/img_1@2x.jpg 2x" alt="">
                            <button class="video-review__button" type="button" title="Смотреть">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#play" />
                                </svg>
                            </button>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="slider-navigation">
            <button class="js-video-reviews-prev swiper-button-prev" type="button" title="Назад">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_left" />
                </svg>
            </button>

            <div class="js-video-reviews-navigation swiper-pagination"></div>

            <button class="js-video-reviews-next swiper-button-next" type="button" title="Вперёд">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_right" />
                </svg>
            </button>
        </div>
    </div>

</section>