<section class="page__section">
    <div class="container">
        <p class="pre-title"><span>Наши распаковки</span></p>
        <h2>Видео-отзывы</h2>

        <div class="video-reviews slider-container">
            <div class="js-video-reviews swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a class="video-review" href="#" target="_blank" rel="nofollow noreferrer">
                            <span class="video-review__title">Кирилл Савенков</span>
                            <span class="video-review__image">
                                <img src="images/content/video-reviews/img_1.jpg" srcset="images/content/video-reviews/img_1@2x.jpg 2x" alt="">
                                <button class="video-review__button" type="button" title="Смотреть">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#play" />
                                    </svg>
                                </button>
                            </span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="video-review" href="#" target="_blank" rel="nofollow noreferrer">
                            <span class="video-review__title">Кирилл Савенков</span>
                            <span class="video-review__image">
                                <img src="images/content/video-reviews/img_2.jpg" srcset="images/content/video-reviews/img_2@2x.jpg 2x" alt="">
                                <button class="video-review__button" type="button" title="Смотреть">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#play" />
                                    </svg>
                                </button>
                            </span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="video-review" href="#" target="_blank" rel="nofollow noreferrer">
                            <span class="video-review__title">Кирилл Савенков</span>
                            <span class="video-review__image">
                                <img src="images/content/video-reviews/img_3.jpg" srcset="images/content/video-reviews/img_3@2x.jpg 2x" alt="">
                                <button class="video-review__button" type="button" title="Смотреть">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#play" />
                                    </svg>
                                </button>
                            </span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="video-review" href="#" target="_blank" rel="nofollow noreferrer">
                            <span class="video-review__title">Кирилл Савенков</span>
                            <span class="video-review__image">
                                <img src="images/content/video-reviews/img_4.jpg" srcset="images/content/video-reviews/img_4@2x.jpg 2x" alt="">
                                <button class="video-review__button" type="button" title="Смотреть">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#play" />
                                    </svg>
                                </button>
                            </span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="video-review" href="#" target="_blank" rel="nofollow noreferrer">
                            <span class="video-review__title">Кирилл Савенков</span>
                            <span class="video-review__image">
                                <img src="images/content/video-reviews/img_1.jpg" srcset="images/content/video-reviews/img_1@2x.jpg 2x" alt="">
                                <button class="video-review__button" type="button" title="Смотреть">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#play" />
                                    </svg>
                                </button>
                            </span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="video-review" href="#" target="_blank" rel="nofollow noreferrer">
                            <span class="video-review__title">Кирилл Савенков</span>
                            <span class="video-review__image">
                                <img src="images/content/video-reviews/img_2.jpg" srcset="images/content/video-reviews/img_2@2x.jpg 2x" alt="">
                                <button class="video-review__button" type="button" title="Смотреть">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#play" />
                                    </svg>
                                </button>
                            </span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="video-review" href="#" target="_blank" rel="nofollow noreferrer">
                            <span class="video-review__title">Кирилл Савенков</span>
                            <span class="video-review__image">
                                <img src="images/content/video-reviews/img_3.jpg" srcset="images/content/video-reviews/img_3@2x.jpg 2x" alt="">
                                <button class="video-review__button" type="button" title="Смотреть">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#play" />
                                    </svg>
                                </button>
                            </span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="video-review" href="#" target="_blank" rel="nofollow noreferrer">
                            <span class="video-review__title">Кирилл Савенков</span>
                            <span class="video-review__image">
                                <img src="images/content/video-reviews/img_4.jpg" srcset="images/content/video-reviews/img_4@2x.jpg 2x" alt="">
                                <button class="video-review__button" type="button" title="Смотреть">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#play" />
                                    </svg>
                                </button>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="slider-navigation">
                <button class="js-video-reviews-prev swiper-button-prev" type="button">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_left" />
                    </svg>
                </button>

                <div class="js-video-reviews-navigation swiper-pagination"></div>

                <button class="js-video-reviews-next swiper-button-next" type="button">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_right" />
                    </svg>
                </button>
            </div>
        </div>

    </div>
</section>